<!--<div  class="content-ground-product">
    <div class="subcontent-ground-product">
          <img class="d-block w-100" src="https://images.pexels.com/photos/87818/background-berries-berry-blackberries-87818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          <div class="content-ground-product-text">
            <div class="col-lg-6 col-md-6 col-sm-6">
             <h3  class="encabezado-product">La empresa</h3>
            </div>
          </div>
    </div>
  </div>
-->

<div style="position: relative;" class="view" id="mar-empresa">
  <img style="width:100%;" src="assets/img/fondos/fondo-section-empresa.jpg" class="view"/>
 <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
    <h3  class="encabezado-product">La empresa</h3>
 </div>
</div>

<main>
 
  <div class="container">
    <section class="wow fadeIn">

      <div class="row mt-5">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">¿Quiénes somos?</li>
            <li class="breadcrumb-item active">La empresa</li>
          </ol>
        </nav>
      </div>

      <div  class="container">
          <div class="row">
              <div class="col-lg-9 offset-sm-2">

              <!--First row-->
              <div class="row mt-5">
                <div class="col-1 mr-6 mb-4 content-img-col-12">
                 <img src="assets/img/icons/icon-sobre-empresa.svg" class="imagentitulo"/>
                </div>
                <div class="col-10 content-col-12">
                  <h5 class="title-empresa-text">SOBRE LA EMPRESA </h5>
                  <p class="empresa-text">Somos una empresa peruana especializada en la creación y comercialización de productos de alta calidad alimenticia basados en superfrutas del Perú, bajo una línea natural, saludable e innovadora.</p>
                </div>
              </div>
              <!--/First row-->
  
             
  
              <!--Second row-->
              <div class="row mt-5">
                <div class="col-1 mr-6 mb-4 content-img-col-12">
                  <img src="assets/img/icons/icon-mision.svg"  class="imagentitulo"/>
                </div>
                <div class="col-10 content-col-12">
                  <h5 class="title-empresa-text">MISIÓN</h5>
                  <p class="empresa-text">Ser la marca “top of mind” de las personas cuando requieran una alimentación basada en superfrutas peruanas, saludable, deliciosa, innovadora y con gran impacto social.
                  </p>
                </div>
              </div>
              <!--/Second row-->
  
              
  
              <!--Third row-->
              <div class="row mt-5">
                <div class="col-1 mr-6 mb-4 content-img-col-12">
                  <img src="assets/img/icons/icon-vision.svg"  class="imagentitulo"/>
                </div>
                <div class="col-10 content-col-12">
                  <h5 class="title-empresa-text">VISIÓN</h5>
                  <p class="empresa-text">Brindar experiencias extraordinarias a nuestros consumidores. Generando valor agregado a las superfrutas de la biodiversidad peruana a través de la creación de productos alimenticios innovadores y el mejoramiento de los procesos. Siempre combinando lo saludable y lo delicioso, sin usar aditivos químicos, y contribuyendo socialmente con los stakeholders vulnerables que comparten nuestro crecimiento.</p>
                </div>
              </div>
              <!--/Third row-->
  
            </div>
            </div>
          </div>
   



     



    </section>

  </div>
  <div class="container">
    <app-productos-destacados></app-productos-destacados>

  </div>


</main>