.mr-6{
    margin-right: 4.2rem!important;
}
.title-empresa-text{

  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: #2c385f;

}

.empresa-text{
    color: #cad2d5;
    line-height: 1.88;
    
}

@media (max-width:1024px){
  
  .encabezado-product {
    font-size: 55px;
    margin-top: 25px;
  }
}

@media (max-width: 776px) {


  .content-img-col-12{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

  }

  .content-col-12{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

  }

  .title-empresa-text{
    text-align: center;
  }
  .view img{
    height: 222px;
  }
  .encabezado-product {
    font-size: 40px;
    margin-top: 25px;
  }
  #mar-empresa{
    margin-top: -90px;
  }
}
  
@media (max-width: 475px){
  .view img{
    height: 222px;
    transform: scaleX(1.55);
    transform-origin: left;
  }
  .encabezado-product {
    font-size: 45px;
    margin-top: 90px;
  }
  #mar-empresa{
    margin-top: -90px;
  }
  .imagentitulo{
    width: 28% !important;
  }
}

@media (max-width: 425px){
  .imagentitulo{
    width: 25% !important;
  }
}

@media (max-width: 375px){
  .encabezado-product {
    font-size: 28px;
    margin-top: 80px;
  }
  .imagentitulo{
    width: 20% !important;
  }
} 
