<!-- modal -->


<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators indicators-carousel">
    <li data-target="#carousel-example-2" [attr.data-slide-to]="i" [ngClass]="{ active: isFirst }"
      *ngFor="let item of arrayPortadas; let i = index; first as isFirst"></li>
  </ol>

  <div class="carousel-inner" role="listbox" style="margin-top: -90px;">
    <div class="carousel-item" [ngClass]="{ active: isFirst }"
      *ngFor="let item of arrayPortadas; let i = index; first as isFirst">
      <div class="view bannerimageData" [style.backgroundImage]="'url(' + item.imagen + ')'"></div>
      <div class="carousel-caption-slider">
        <h3 class="encabezado-principal">{{ item.titulo }}</h3>
        <p class="encabezado-secundario">{{ item.sub_titulo }}</p>
        <a routerLink="tienda" class="btn btn-carousel margen-boton">Ver m&aacute;s</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<main id="contenido-pagina">
  <div class="container">
    <section class="wow fadeIn">
      <div class="container">
        <div class="row mt-6">
          <div class="col-lg-4">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
          </div>
          <div class="col-lg-4">
            <h5 class="text-section mt-3 text-center">
              PRODUCTOS MÁS POPULARES
            </h5>
          </div>

          <div class="col-lg-4" style="float: right;">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
          </div>
        </div>
      </div>

      <div class="row features-small mt-4 wow fadeIn">
        <div class="col-xl-3 col-lg-6 col-md-6 mb-4" *ngFor="let item of tercerArray">
          <div class="card card-product cardBerries">
            <div class="card-body">
              <h6 class="text-categoria">
                <a routerLink="{{ item.link_negocio }}" style="
                    font-size: 18px;
                    font-weight: bold !important;
                    color: #cad2d5;
                  ">#{{ item.linea_de_negocio }}</a>
              </h6>
              <div class="border-description-product">
                <h6 class="text-nombre-producto">
                  {{ item.nombre_producto | titlecase }} <br />
                  {{ item.presentacion | titlecase }}
                </h6>
                <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">
                  S/. {{ item.nuevo_precio }}
                </h6>
              </div>
              <div [style.backgroundImage]="'url(' + item.imagen + ')'" class="imgCardData"></div>
              <div class="text-center mt-3">
                <button class="btn-minus btn-sm" (click)="utilService.del(item)" [disabled]="item.cantidad < 2">
                  <i class="fas fa-minus icon-minus"></i>
                </button>
                <span class="span-cantidad">{{ item.cantidad }}</span>
                <button class="btn-minus btn-sm" (click)="utilService.add(item)">
                  <i class="fas fa-plus icon-plus"></i>
                </button>
              </div>
              <div class="text-center mt-3">
                <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(item)">
                  Agregar
                </button>
              </div>
              <div class="text-center mt-3">
                <a routerLink="/tienda/{{ item.id_pro }}" class="text-detalle">Ver detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 mb-3 text-center">
        <a href="javascript:void(0)" class="text-price" routerLink="/tienda" style="font-family: Raleway !important;">Ir
          a la tienda
          <img src="assets/img/icons/double-angle.svg" class="icon-double-angle" /></a>
      </div>
    </section>
  </div>

  <section class="mt-5 wow fadeIn">
    <div id="carousel-example-3" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators indicators-carousel">
        <li data-target="#carousel-example-3" [attr.data-slide-to]="i" [ngClass]="{ active: isFirst }"
          *ngFor="let item of post; let i = index; first as isFirst"></li>
      </ol>
      <div class="carousel-inner inner-second-carousel" role="listbox">
        <div class="carousel-item" [ngClass]="{ active: isFirst }"
          *ngFor="let item of post; let i = index; first as isFirst">
          <div class="view">
            <img class="d-block w-100 img-slider ground-black"
              src="{{ item._embedded['wp:featuredmedia']['0'].source_url }}" alt="First slide" />
            <div class="mask"></div>
          </div>
          <div class="carousel-caption-second-caru">
            <h6 class="title-second-carousel mb-3">
              {{ item._embedded["wp:term"]["0"]["0"].name | uppercase }}
            </h6>
            <h3 class="subtitle-second-carousel col-12">
              {{ item.title.rendered }}
            </h3>
            <p class="content-second-carousel col-12">
              Para mayor información de este artículo, puede verlo a detalle
              dando clic a la opción "Leer más" ...
            </p>
            <a routerLink="/blog/{{ item.id }}/{{ item.slug }}" class="btn btn-carousel-dos">LEER MÁS</a>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <div class="container">
    <section class="mt-5 wow fadeIn">
      <div class="row mt-6">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center">ENCUÉNTRANOS EN</h5>
        </div>
        <div class="col-lg-4" style="float: right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
        </div>
      </div>
      <div class="container">
        <div class="row mt-8 mb-8">
          <div class="col text-center mt-2">
            <img src="assets/img/tiendas/FLORA Y FAUNA.svg" width="200px" class="img-fluid mt-5 imagen-logos" />
          </div>
          <div class="col text-center mt-4">
            <img src="assets/img/tiendas/IL PASTIFICIO.svg" width="200px" class="img-fluid mt-5 imagen-logos" />
          </div>
          <div class="col-12 col-sm-4 col-lg-4 text-center mt-5">
            <img src="assets/img/tiendas/LA SANAHORIA.svg" width="200px" class="img-fluid mt-2 imagen-logos2" />
          </div>
        </div>
        <div class="row mt-5 mb-8">
          <div class="col text-center mt-2">
            <img src="assets/img/tiendas/VACAS FELICES.svg" width="200px" class="img-fluid mt-5 imagen-logos" />
          </div>
          <div class="col text-center mt-4">
            <img src="assets/img/tiendas/BODEGA SAN ANTONIO.svg" width="200px" class="img-fluid mt-4 imagen-logos" />
          </div>
          <div class="col-12 col-sm-4 col-lg-4 text-center mt-5">
            <img src="assets/img/tiendas/MADRE NATURA.svg" width="200px" class="img-fluid imagen-logos2" />
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
