.row-prices {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}
.icon-double-angle {
  width: 12px;
  height: 12px;
}

.indicators-carousel li {
  margin-right: 9px !important;
  margin-left: 9px !important;
}

.inner-second-carousel {
  max-height: 500px;
}

@media (max-width: 776px) {
  .img-slider {
    height: 350px !important;
  }
}

.encabezado-principal {
  font-size: 135px !important;
  color: #fff !important;
  font-weight: bold;
  font-family: "Ubuntu";
  margin-left: -10px;
}

.encabezado-secundario {
  font-size: 30px !important;
  font-weight: 600 !important;
  line-height: 1 !important;
  color: #fff !important;
}

.spacing-right {
  padding-right: 5rem !important;
}

.spacing-left {
  padding-left: 5rem !important;
}

.title-second-carousel {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 15px;
}

/*PRODUCTOS*/

@media (min-width: 1200px) {
  .col-xl-carousel-caption {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
.content-caption {
  max-width: 300px;
}

@media (max-width: 776px) {
  .mt-8,
  .img-partner-one {
    margin-top: 5rem !important;
  }

  .mb-8 {
    margin-bottom: 5rem !important;
  }

  .img-partner-second {
    text-align: center !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .last-partner {
    margin-top: 5rem !important;
  }

  .img-section {
    display: none;
  }

  .carousel-caption-second-caru {
    width: 100%;
    padding-bottom: 45px;
  }

  #carousel-inicio {
    /* margin-top: 32%; */
    /*  height: auto !important; */
    height: 50%;
  }

  .imagen-carousel {
    height: 100%;
  }

  .content-caption {
    margin-top: 20%;
  }

  .encabezado-principal {
    font-size: 100px !important;
    text-align: right;
    padding-right: 7rem;
    margin-top: -20px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: -55px;
  }
  .encabezado-secundario {
    width: 314px;
    height: 82px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: center;
    margin-left: -85px;
  }
  .subtitle-second-carousel {
    font-size: 22px !important;
    margin-top: 1.5rem;
    margin-left: -10%;
  }
  .content-second-carousel {
    font-size: 15px !important;
    margin-left: -10%;
  }
  .title-second-carousel {
    margin-left: -5%;
  }
  .btn-carousel-dos {
    margin-left: auto !important;
    margin-top: 1rem !important;
  }
}
@media (max-width: 768px) {
  .carousel-indicators .indicators-carousel {
    margin-bottom: 0rem;
  }

  .swal-content {
    margin: 0 2rem !important;
  }

  .margen-boton {
    margin-left: -70px;
    margin-top: -15px;
  }
  .view img {
    height: 470px;
  }
  .subtitle-second-carousel {
    font-size: 28px !important;
    margin-top: 1.5rem;
    margin-left: -10%;
  }
  .content-second-carousel {
    font-size: 15px !important;
    margin-left: -10%;
  }
  .title-second-carousel {
    margin-left: -5%;
  }
  .btn-carousel-dos {
    margin-left: auto !important;
    margin-top: 1rem !important;
  }
  .bannerimageData {
    background-position: 20% !important;
  }
}

@media (max-width: 475px) {
  .bannerimageData {
    height: 504px !important;
  }
  .imagen-logos {
    width: 60% !important;
  }
  .imagen-logos2 {
    width: 40% !important;
  }
  .carousel-indicators .indicators-carousel {
    margin-bottom: 0rem;
  }
  .margen-boton {
    margin-left: -105px;
    margin-top: 5px;
  }
  .encabezado-principal {
    font-size: 95px !important;

    padding-right: 7rem;
    margin-top: -30px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: -60px;
  }
  .encabezado-secundario {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: center;
    margin-left: -120px;
    margin-top: -10px;
  }
  .view img {
    height: 470px;
    transform: scaleX(1.55);
    transform-origin: left;
  }
  .subtitle-second-carousel {
    font-size: 28px !important;
    margin-top: 1.5rem;
    margin-left: -10%;
  }
  .content-second-carousel {
    font-size: 15px !important;
    margin-left: -10%;
    padding-right: 80px;
  }
  .title-second-carousel {
    margin-left: -5%;
  }
  .btn-carousel-dos {
    margin-left: auto !important;
    margin-top: 1rem !important;
    height: 46px;
    padding-top: 11px !important;
  }
}

.contentBgProducts {
  height: 700px;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
}

@media (max-width: 375px) {
  .imagen-logos {
    width: 60% !important;
  }
  .imagen-logos2 {
    width: 40% !important;
  }
}

@media (max-width: 320px) {
  .imagen-logos {
    width: 60% !important;
  }
  .imagen-logos2 {
    width: 40% !important;
  }
  .btn-carousel-dos {
    width: 240px !important;
    border-radius: 26.5px !important;
    background-color: #ffc359 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    letter-spacing: 1.67px;
    text-align: center;
    color: #fff !important;
    margin-top: 2rem !important;
    box-shadow: none !important;
    padding: 0.7rem 0.75rem !important;
    cursor: pointer;
  }
  .text-section {
    font-size: 14px !important;
    font-weight: 500;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: 1.95px;
  }
  .btn-carousel {
    width: 200px !important;
    border-radius: 26.5px !important;
    background-color: #ffc359 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    letter-spacing: 1.67px;
    text-align: center;
    color: #fff !important;
    padding: 1.3rem 0.75rem !important;
    box-shadow: none !important;
    z-index: 10;
  }
  .margen-boton {
    margin-left: -70px;
    margin-top: -8px;
  }
  .encabezado-principal {
    font-size: 90px !important;
    padding-right: 7rem;
    margin-top: -30px !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: -40px;
  }
  .encabezado-secundario {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: center;
    margin-left: -124px;
    margin-top: -10px;
  }
  .view img {
    height: 470px;
    transform: scaleX(1.55);
    transform-origin: left;
  }
  .subtitle-second-carousel {
    font-size: 22px !important;
    margin-top: 1.5rem;
    margin-left: -10%;
  }
  .content-second-carousel {
    font-size: 15px !important;
    margin-left: -10%;
  }
  .title-second-carousel {
    margin-left: -5%;
  }
  .btn-carousel-dos {
    margin-left: auto !important;
    margin-top: 1rem !important;
  }
}
@media (max-width: 1024px) {
  .encabezado-principal {
    font-size: 90px;
  }
  .encabezado-secundario {
    font-size: 25px !important;
  }
  .carousel-caption-slider {
    right: 15% !important;
  }
}

.imgCardData {
  width: 100%;
  height: 220px;
  background-position: center;
}

.bannerimageData {
  width: 100%;
  height: 830px;
  background-size: cover;
  background-repeat: no-repeat;
}
