.min-fixed {
  min-height: 260px;
}

@media (max-width: 1024px) {
  .encabezado-product {
    font-size: 55px;
    margin-top: 25px;
  }
}

@media (max-width: 776px) {
  .view img {
    height: 222px;
  }
  .encabezado-product {
    font-size: 40px;
    margin-top: 25px;
  }
  #mar-empresa {
    margin-top: -90px;
  }
  #margin-icon {
    margin-left: -25px;
  }
  .min-fixed {
    min-height: 350px;
  }
}
@media (max-width: 475px) {
  .btn-prod-blog {
    padding-left: 6px;
    padding-right: 9px;
  }
  .view img {
    height: 222px;
  }
  .encabezado-product {
    font-size: 45px;
    margin-top: 25px;
  }
  #mar-empresa {
    margin-top: -90px;
  }
  #margin-icon {
    margin-left: 0px;
  }
  #margin-icon-derecha {
    margin-left: -15px;
  }
  .bgContent {
    height: 420px !important;
    background-position: left !important;
  }
}
@media (max-width: 375px) {
  .encabezado-product {
    font-size: 37px;
    margin-top: 25px;
  }
  .bgContent {
    height: 380px !important;
  }
}

.bgContent {
  background-position: center;
  background-size: cover;
  height: 550px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -20%;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel .carousel-indicators li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #8be1b0;
  margin-top: 0px !important;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  margin-right: 6px;
  margin-left: 6px;
  text-indent: -999px;
  background-color: #cad2d5;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}
