.mt-textarea{
    margin-top: 2rem!important;
}
.mx-border{
    margin-left: 4rem!important;
    margin-right: 4rem!important;
}
.color-label-inputradio{
    font-size: 15px;
    font-weight: bold;
    color: #778489;
}
.label-radio{
    color: #778489;
    font-size: 15px;

}
.btn-send-contact{
  border-radius: 26.5px;
  background-color: #8be1b0;
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  box-shadow: none !important;

}
  
  .select-contact{
    border: none;
    border-bottom: 1px solid #e3e8e9;
    border-left: 1px solid ;
    border-right: 1px solid ;
    border-image: -webkit-linear-gradient(top, #fff 75%, #e3e8e9 0%) 1 repeat;

}
  
  .input-text-contact{
    border: none;
    border-bottom: 1px solid #e3e8e9;
    border-left: 1px solid ;
    border-right: 1px solid ;
    border-image: -webkit-linear-gradient(top, #fff 75%, #e3e8e9 0%) 1 repeat;
}
  
  
  .input-text-contact::-webkit-input-placeholder {
  text-align: center;
  font-size: 15px;
  color: #778489;
  
  }
  .input-text-contact:-moz-placeholder { /* Firefox 18- */
      text-align: center;
      font-size: 15px;
      color: #778489;
  }
  .input-text-contact::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
      font-size: 15px;
      color: #778489; 
  }
  .input-text-contact:-ms-input-placeholder {  
      text-align: center;
      font-size: 15px;
      color: #778489;
  }
  
  select { 
      text-align-last:center; 
      color: #778489; 
      font-size: 14px;
      
  }
 
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8be1b0 !important;
    border: none !important;
  }
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(139, 225, 176, 0.25)
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #8be1b0 ; 
  }
  .label-check{
    color: #778489;
    font-size: 15px;
  }

  .textarea-contact{
    color: #778489; 
    font-size: 15px;
}


@media (max-width: 776px) {
  .view img{
    height: 222px;
  }
  .encabezado-product {
    font-size: 40px;
    margin-top: 25px;
  }
  #mar-empresa{
    margin-top: -90px;
  }

}
@media (max-width: 475px){
  .view img{
    height: 222px;
    transform: scaleX(1.55);
    transform-origin: left;
  }
  .encabezado-product {
    font-size: 30px;
    margin-top: 90px;
  }
  #mar-empresa{
    margin-top: -90px;
  }
  .color-label-inputradio{

    margin-left: 9px;
}
}

@media (max-width: 375px){
  .encabezado-product {
    font-size: 32px;
    margin-top: 80px;
  }

  .color-label-inputradio{
    font-size: 14px;
    font-weight: bold;
    color: #778489;
    margin-left: 9px;
}
} 


  

  
  
  
  
  
  
  