<div style="position: relative;" class="view" id="mar-empresa">
  <img style="width:100%;" src="assets/img/fondos/fondo-section-libro-reclamaciones.jpg" class="view" />
  <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
    <h3 class="encabezado-product">Libro de reclamaciones</h3>
  </div>
</div>
<main>
  <div class="container">
    <section class="wow fadeIn">
      <div class="row mt-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Contacto</li>
            <li class="breadcrumb-item active">Libro de reclamaciones</li>
          </ol>
        </nav>
      </div>
      <div class="container mt-4">
        <div class="row">
          <!--Grid column-->
          <div class="col-md-5 mb-4">
            <!-- Default inline 1-->
            <div class="mb-4">
              <label class="col-sm-4 col-form-label color-label-inputradio">Bien contratado:</label>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" class="custom-control-input" id="contract1" [(ngModel)]="bien_contratado"
                  name="bien_contratado" value="1">
                <label class="custom-control-label label-radio" for="contract1">Producto</label>
              </div>
              <!-- Default inline 2-->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="contract2" [(ngModel)]="bien_contratado"
                  name="bien_contratado" value="2">
                <label class="custom-control-label label-radio" for="contract2">Servicio</label>
              </div>
            </div>
            <div class="mb-4">
              <label class="col-sm-4 col-form-label color-label-inputradio">Tipo:</label>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input type="radio" class="custom-control-input" id="tipo1" [(ngModel)]="tipo" name="tipo" value="1">
                <label class="custom-control-label label-radio" for="tipo1">Reclamo</label>
              </div>
              <!-- Default inline 2-->
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="tipo2" [(ngModel)]="tipo" name="tipo" value="2">
                <label class="custom-control-label label-radio" for="tipo2">Queja</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <select class="browser-default custom-select select-contact" (change)="changeComprobante($event)">
                    <option value="" disabled>Seleccione</option>
                    <option value="1">Comprobante de pago</option>
                    <option value="2">Factura</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <input type="text" class="form-control input-text-contact" [(ngModel)]="numero_comprobante"
                    name="numero_comprobante" placeholder="Número de comprobante" maxlength="20">
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <textarea class="form-control rounded-0 textarea-contact" rows="5" [(ngModel)]="detalle_producto"
                name="detalle_producto" placeholder="Detalle del producto o servicio"></textarea>
            </div>

            <div class="form-group mt-textarea">
              <textarea class="form-control rounded-0 textarea-contact" rows="5" [(ngModel)]="detalle_reclamo"
                name="detalle_reclamo" placeholder="Detalle del reclamo o queja"></textarea>
            </div>
          </div>
          <!--Grid column-->
          <span class="border-right mx-border"></span>
          <!--Grid column-->
          <div class="col-md-5 mb-4">
            <div class="form-group">
              <input type="text" class="form-control input-text-contact" placeholder="Nombres y Apellidos"
                [(ngModel)]="nombres" name="nombres">
            </div>
            <div class="row">
              <div class="col-xl-6">

                <div class="form-group">
                  <select name="doc_identidad" (change)="changeDoc($event)" [(ngModel)]="doc_identidad"
                    class="form-control input-text-contact">
                    <option value="" disabled>Seleccione documento</option>
                    <option value="DNI">DNI</option>
                    <option value="RUC">RUC</option>
                    <option value="CE">CE</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <input type="text" class="form-control input-text-contact" [maxlength]="docMaxLength"
                    (keypress)="utilService.validarSoloNumeros($event)" placeholder="Número de documento"
                    [(ngModel)]="num_doc" name="num_doc">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <input type="text" class="form-control input-text-contact" maxlength="9"
                    (keypress)="utilService.validarSoloNumeros($event)" placeholder="Teléfono" [(ngModel)]="telefono"
                    name="telefono">
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <input type="text" class="form-control input-text-contact" placeholder="Correo" [(ngModel)]="correo"
                    name="correo">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-text-contact" placeholder="Domicilio" [(ngModel)]="domicilio"
                name="domicilio">
            </div>
            <div class="form-group">
              <select class="browser-default custom-select select-contact" [(ngModel)]="selectedDepartamento"
                (change)="changeDepartamento($event)">
                <option value="" disabled>Seleccione Departamento</option>
                <option value="{{item.id}}" *ngFor="let item of listDepartamentos">{{item.name}}</option>
              </select>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group">
                  <select class="browser-default custom-select select-contact" [(ngModel)]="selectedProvincia"
                    (change)="changeProvincia($event)">
                    <option value="" disabled>Seleccione Provincia</option>
                    <option value="{{item.id}}" *ngFor="let item of listProvincias">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <select class="browser-default custom-select select-contact" [(ngModel)]="selectedDistrito"
                    (change)="changeDistrito($event)">
                    <option value="" disabled>Seleccione Distrito</option>
                    <option value="{{item.id}}" *ngFor="let item of listDistritos">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="my-4 mx-2">

              <div class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="confirmarTitular" id="confirmarTitular" name="confirmarTitular"
                  class="custom-control-input" (change)="confirmarTerminosCheck($event)">
                <label class="custom-control-label label-check" for="confirmarTitular">Declaro ser titular del contenido
                  del presente formulario, manifestando bajo declaración jurada los hechos en él.</label>
              </div>
            </div>
            <div>
              <button type="button" (click)="enviarLibroReclamaciones()" class="btn btn-send-contact ">Enviar</button>
            </div>
          </div>
          <!--Grid column-->
        </div>
      </div>
    </section>
    <app-productos-destacados></app-productos-destacados>
  </div>
</main>