<main style="margin-top:10%;">
  <section class="wow fadeIn mb-5">
    <div class="container">
      <div class="row mt-6">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" />

        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center ">MI CUENTA</h5>
        </div>

        <div class="col-lg-4" style="float:right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" />
        </div>
      </div>

    </div>
    <div class="container">

      <ul class="nav nav-tabs mt-5" id="myTab" role="tablist" style="display: none;">
        <li class="nav-item col-6 col-sm-6 col-lg-3">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">DATOS DEL USUARIO</a>
        </li>
        <li class="nav-item col-6 col-sm-6 col-lg-3">
          <a class="nav-link disabled" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">HISTORIAL DE COMPRAS</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="mt-7">

            <div class="mt-4">
              <div class="row">
                <div class="col-xl-5">
                  <div class="form-group">
                    <img src="assets/img/icons/icon-form-usuario.svg" /> <label
                      class="label-account ml-2">Usuario</label>
                    <div style="display:flex;flex-wrap:wrap;">
                      <div class="col-lg-12">
                        <input type="text" class="form-control input-text-contact" [(ngModel)]="nombre_completo"
                          name="nombre_completo">
                      </div>
                    </div>
                  </div>

                  <div style="display:flex;flex-wrap:wrap;">

                    <div class="form-group">
                      <img src="assets/img/icons/icon-form-password.svg" /><label class="label-account ml-2">Cambiar
                        Contraseña</label>
                      <div class="row" style="margin-left: 14px;">
                        <div class="col-lg-6">
                          <input type="password" class="form-control input-text-contact input-password2"
                            [(ngModel)]="antigua" name="antigua" maxlength="18" placeholder="Contraseña Actual">
                          <span class="field-icon toggle-password2" style="margin-right: 10px!important"><img
                              src="assets/img/icons/icon-eye-password.svg" /></span>
                        </div>
                        <div class="col-lg-6">
                          <input type="password" class="form-control input-text-contact input-password"
                            [(ngModel)]="nuevaclave" name="nuevaclave" maxlength="18" placeholder="Nueva Contraseña">
                          <span class="field-icon toggle-password" style="margin-right: 10px!important"><img
                              src="assets/img/icons/icon-eye-password.svg" /></span>

                        </div>
                      </div>
                      <div class="row" style="float: right;margin-right: 0px;">
                        <a href="javascript:void(0)" class="d-block mt-3 ml-2 btn-cambiar-clave"
                          (click)="cambiarClave()">CAMBIAR <img src="assets/img/icons/icon-change-password.svg" /></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5">
                  <div class="form-group">
                    <img src="assets/img/icons/icon-form-correo.svg" /><label class="label-account ml-2">Correo</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control input-text-contact" [(ngModel)]="correo" name="correo"
                        disabled>
                    </div>

                  </div>
                  <div class="form-group">
                    <img src="assets/img/icons/icon-form-telefono.svg" /><label
                      class="label-account ml-2">Tel&eacute;fono</label>
                    <div class="col-lg-6">
                      <input type="text" class="form-control input-text-contact" [(ngModel)]="telefono" name="telefono"
                        (keypress)="utilService.validarSoloNumeros($event)" maxlength="9">
                    </div>

                  </div>
                </div>
                <div class="col-xl-8">
                  <div class="form-group">
                    <img src="assets/img/icons/icon-form-correo.svg" /><label
                      class="label-account ml-2">Direcci&oacute;n
                      de entrega</label>
                    <div class="col-lg-3" style="margin-left: .7rem!important;">
                      <h4 class="title-direccion mt-1">Principal</h4>
                    </div>
                    <div class="form-group">
                      <div style="display:flex;flex-wrap:wrap;">

                        <div class="col-lg-5">
                          <input type="text" class="form-control input-text-direccion"
                            [value]="direccion_principal_show" disabled style="padding-top: 20px !important;">
                        </div>
                        <div class="col-lg-2">
                          <input type="text" class="form-control input-text-direccion border-input-direccion "
                            [value]="referencia_1" disabled
                            style="border-left: 1px solid !important;
                                border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important;">
                        </div>
                        <div class="col-lg-3">
                          <input type="text" class="form-control input-text-direccion" [value]="distrito_show" disabled
                            style="border-left: 1px solid !important;
                              border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important;">
                        </div>
                        <div class="col-lg-2">

                          <a href="javascript:void(0)"
                            (click)="actualizarDireccion(id_direccion,id_provincia,id_distrito,id_precio_envio,direccion,id_opcion_direccion ,numero, referencia_1, referencia_2 , direccion_principal , latitud , longitud)">
                            <img src="assets/img/icons/icon-editar-direccion.svg" width="22" height="22" class="mt-2" />
                          </a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="form-group">
                    <div class="col-lg-3" style="margin-left: .7rem!important;">
                      <h4 class="title-direccion mt-1">Otras direcciones</h4>
                    </div>
                    <div style="display:flex;flex-wrap:wrap;" class="my-4" *ngFor="let item of listaDirecciones">

                      <div class="col-lg-5">
                        <input type="text" class="form-control input-text-direccion"
                          value="{{item.direccion}} , {{item.numero}}" name="direccion_otros" disabled
                          style="padding-top: 20px !important;">
                      </div>
                      <div class="col-lg-2">
                        <input type="text" class="form-control input-text-direccion " value="{{item.referencia_1}}"
                          name="numero_otros" disabled
                          style="border-left: 1px solid !important;
                              border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important; padding-top: 20px !important;">
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control input-text-direccion"
                          value="{{item.distrito | titlecase}}" name="distrito_otros" disabled
                          style="border-left: 1px solid !important;
                            border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important;">
                      </div>

                      <div class="col-lg-2">
                        <a href="javascript:void(0)"
                          (click)="actualizarDireccion(item.id_direccion , item.id_provincia,item.id_distrito,item.id_precio_envio,item.direccion, item.opcion_direccion,item.numero, item.referencia_1, item.referencia_2 , item.direccion_principal , item.latitud , item.longitud)">
                          <img src="assets/img/icons/icon-editar-direccion.svg" width="22" height="22" class="mt-2"
                            style="margin-right:2rem !important;" />
                        </a>
                        <a href="javascript:void(0)" (click)="eliminarDireccion(item.id_direccion)"><img
                            src="assets/img/icons/icon-form-trash.svg" class="mt-2" /></a>

                      </div>

                    </div>

                  </div>

                  <div class="form-group">
                    <div class="col-lg-12 ml-2">
                      <a href="javascript:void(0)" class="link-properties-add mr-3" data-toggle="modal"
                        data-target="#modalRegistrarDireccion">Agregar otra direcci&oacute;n</a>
                    </div>
                  </div>

                </div>



                <div class="col-xl-9">
                  <div class="form-group mt-4">
                    <img src="assets/img/icons/icon-form-tarjeta.svg" /><label class="label-account ml-2">Tarjetas
                      guardadas</label>
                  </div>
                  <div class="form-group">
                    <div style="display:flex;flex-wrap:wrap;" class="my-4" *ngFor="let item of listTarjetas">
                      <div class="col-lg-4">
                        <!-- <input type="text" class="form-control input-text-contact" value="XXXX	XXXX	XXXX	8121"> -->
                        <input type="text" class="form-control input-text-contact" value="{{item.last_four_digits}}"
                          name="tarjetas_otros" disabled>
                      </div>
                      <div class="col-lg-2">
                        <input type="text" class="form-control input-text-contact" value="{{item.mes}}/{{item.year}}"
                          disabled>
                      </div>
                      <div class="col-lg-1">
                        <a href="javascript:void(0)" (click)="eliminarTarjeta(item.id_tarjeta)"><img
                            src="assets/img/icons/icon-form-trash.svg" class="mt-2" /></a>
                      </div>

                    </div>


                    <!-- <a href="#" class="link-properties-add">Agregar otra tarjeta</a> -->
                    <div class="col-lg-12 ml-2">
                      <a href="javascript:void(0)" class="link-properties-add mr-3" (click)="openAddTarjeta()">Agregar
                        otra tarjeta</a>
                    </div>

                  </div>

                </div>
                <div class="form-group col-lg-12">
                  <a class="btn btn-account" routerLink="/mi-cuenta" style="background:#778489!important;"><img
                      src="assets/img/icons/icon-cancel.svg" class="mr-3 mb-1" />Cancelar</a>
                  <button class="btn btn-account" (click)="actualizarPerfil()"><img
                      src="assets/img/icons/icon-goodcheck.svg" class="mr-4 mb-1" />Ok</button>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/.Carousel Wrapper-->

  </section>

</main>
<div class="modal fade" id="modalRegistrarDireccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content padding-modal">
      <div class="modal-header" style="border:none;">
        <h4 class="modal-title pull-left text-header-modal">AGREGAR NUEVA DIRECCIÓN</h4>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"
          style="opacity:1 !important;">
          <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg" /></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-12 col-lg-6 col-xl-6">

            <div class="row mb-2">
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <select2 class="wide required" [options]="optionsSelect2Provincias" [data]="listProvincias"
                    (valueChanged)="changeProvincias($event)" [cssImport]=true>
                  </select2>
                </div>

              </div>

              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <select2 class="wide required" [disabled]="!listDistritos" [options]="optionsSelect2Distritos"
                    [data]="listDistritos" (valueChanged)="changeDistritos($event)" [cssImport]=true>
                  </select2>
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 1.5rem!important;">
              <input type="text" class="form-control input-cart-login" placeholder="Dirección de entrega"
                [(ngModel)]="direccion_otras" name="direccion_otras" #searchAgregar>
            </div>
            <div class="row mb-2">
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <select2 class="wide required" id="selectTipo" [options]="optionsSelect2TipoDireccion"
                    [data]="listOpcionDireccion" (valueChanged)="changeTipoDireccion($event)" [cssImport]=true>
                  </select2>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control input-cart-login" placeholder="Número"
                    [(ngModel)]="numero_direccion" name="numero_direccion"
                    (keypress)="utilService.validarSoloNumeros($event)">
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <input type="text" class="form-control input-cart-login" placeholder="Referencia" [(ngModel)]="referencia"
                name="referencia">
            </div>

            <div class="form-group" style="margin-bottom: 2rem!important;margin-top:2rem !important;">
              <button class="btn btn-aceptar" (click)="agregarOtraDireccion()">Aceptar</button>

            </div>


          </div>

          <div class="col-md-12 col-lg-6 col-xl-6">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>