.link-properties-account{
    font-size: 15px;
    color: #8be1b0;
    font-weight: bold;
    text-decoration: underline;
}
.link-properties-add{
    font-size: 11px;
    font-weight: bold;
    color: #8be1b0;
}
.label-account{
    font-size: 15px;
    line-height: 1.27;
    color: #778489;
    font-weight: bold;
}

.title-direccion{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.27;
    color: #cad2d5;
    text-transform: uppercase;
}

.input-text-contact{
    border: none;
    border-bottom: 1px solid #e3e8e9;
    border-left: 1px solid ;
    border-right: 1px solid ;
    font-size: 15px !important;
    line-height: 1.27 !important;
    color: #778489 !important;
    border-image: -webkit-linear-gradient(top, #fff 75%, #e3e8e9 0%) 1 repeat;
    
}

.field-icon {
    float: right;
    margin-right: 20px;
    margin-top: -34px;
    position: relative;
    z-index: 2;
  }

  .btn-cambiar-clave{
      font-size:15px;
      font-weight: 900;
      line-height: 1.27;
      letter-spacing: 3px;
      color: #8be1b0;
    
  }

  .btn-account{
    border-radius: 21.5px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.56px;
    background: #8be1b0 !important;
    color: #fff !important;
    text-align: center;
    box-shadow: none !important;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    opacity: 1 !important;
    
}



.btn-register{
    border-radius: 21.5px;
      background: #8be1b0 !important;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.56px;
      text-align: center;
      color: #fff;
      box-shadow: none !important;
      padding: .70rem 7rem;
      display: block;
      margin: auto;
    }


    :host >>> .select2-container--default .select2-selection--single .select2-selection__rendered{
      color: #778489;
    }

    :host >>> .select2-container--default .select2-selection--single{
      border-radius: 21.5px !important;
      border: solid 1px #cad2d5 !important;
      text-align: center !important;
      font-size: 14px !important;
      height: 40px !important;
      padding: .375rem .75rem !important;
    }
  
    :host >>> .select2-container--default .select2-selection--single{
      border-radius: 21.5px !important;
      border: solid 1px #cad2d5 !important;
      text-align: center !important;
      font-size: 14px !important;
      height: 40px !important;
      padding: .375rem .75rem !important;
    }
  
    :host >>> .select2-container--default .select2-selection--single .select2-selection__placeholder{
      color: #cad2d5 !important;
  
    }
  
    :host >>> .select2-container--default .select2-selection--single .select2-selection__arrow{
      height: 40px !important;
    }
  
    :host >>> .select2-container--default .select2-selection--single .select2-selection__arrow b {
  
      background: url("src/assets/img/icons/icon-dropdown-select2.svg") no-repeat;
      margin-left: -15px;
      height: 10px;
      width: 10px;
      border: none !important;
  
  
    }

    .btn-aceptar{

      border-radius: 21.5px;
    background: #8be1b0 !important;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    box-shadow: none !important;
    padding: .70rem 7rem;
    display: block;
    margin: auto;
    width: 100%;

    }

    .input-cart-login{
      border-radius: 21.5px;
      border: solid 1px #cad2d5;
      height: 40px;
      text-align:center;
      font-size: 14px;
      color: #778489;
    }
    .input-cart-login::-webkit-input-placeholder {
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
    .input-cart-login:-moz-placeholder { /* Firefox 18- */
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
      .input-cart-login::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
      .input-cart-login:-ms-input-placeholder {  
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }

      .text-header-modal{
       font-size: 18px;
       font-weight: bold;
       letter-spacing: 2px;
       color: #627075;
      }
      .padding-modal{
        padding: 20px 30px 30px 30px !important;
        border-radius: 19px !important;
      }
      .input-text-direccion{
        border: none !important;
        font-size: 15px !important;
        color: #778489 !important;

      }

      agm-map {
        height: 315px;
       }


       @media (max-width: 575.98px) { 
        .padding-modal{
          padding: 0 !important;
        }


       }

       

      

      
    





