.btn-register{
    border-radius: 21.5px;
      background: #8be1b0 !important;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.56px;
      text-align: center;
      color: #fff;
      box-shadow: none !important;
      padding: .70rem 6rem;
      display: block;
      margin: auto;
    }

    :host >>> .select2-container--default .select2-selection--single .select2-selection__rendered{
      color: #778489;
    }

    :host >>> .select2-container--default .select2-selection--single{
      border-radius: 21.5px !important;
      border: solid 1px #cad2d5 !important;
      text-align: center !important;
      font-size: 14px !important;
      height: 40px !important;
      padding: .375rem .75rem !important;
    }
  
    :host >>> .select2-container--default .select2-selection--single{
      border-radius: 21.5px !important;
      border: solid 1px #cad2d5 !important;
      text-align: center !important;
      font-size: 14px !important;
      height: 40px !important;
      padding: .375rem .75rem !important;
    }
  
    :host >>> .select2-container--default .select2-selection--single .select2-selection__placeholder{
      color: #cad2d5 !important;
  
    }
  
    :host >>> .select2-container--default .select2-selection--single .select2-selection__arrow{
      height: 40px !important;
    }
  
    :host >>> .select2-container--default .select2-selection--single .select2-selection__arrow b {
  
      background: url("src/assets/img/icons/icon-dropdown-select2.svg") no-repeat;
      margin-left: -15px;
      height: 10px;
      width: 10px;
      border: none !important;
  
  
    }

    .input-cart-login{
      border-radius: 21.5px;
      border: solid 1px #cad2d5;
      height: 40px;
      text-align:center;
      font-size: 14px;
      color: #778489;;
    }
    .input-cart-login::-webkit-input-placeholder {
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
    .input-cart-login:-moz-placeholder { /* Firefox 18- */
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
      .input-cart-login::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
      .input-cart-login:-ms-input-placeholder {  
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }

      .text-header-modal{
       font-size: 18px;
       font-weight: bold;
       letter-spacing: 2px;
       color: #627075;
      }

      .btn-aceptar{

        border-radius: 21.5px;
      background: #8be1b0 !important;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      color: #fff;
      box-shadow: none !important;
      display: block;
      margin: auto;
      width: 100%;
  
      }

      agm-map {
        height: 315px;
       }

       

      
    