<div class="modal-header" style="border: none;">
  <h4 class="modal-title pull-left text-header-modal">EDITAR NUEVA DIRECCIÓN</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"
    style="opacity:1 !important;">
    <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg" /></span>
  </button>
</div>
<div class="modal-body">
  <div class="row">

    <div class="col-md-12 col-lg-6 col-xl-6">

      <div class="row mb-2">
        <div class="col-lg-6 col-12">
          <div class="form-group">
            <select2 class="wide required" [options]="optionsSelect2Provincias" [data]="provincias"
              [value]="provinciaSeleccionada" (valueChanged)="changeProvincias($event)" [cssImport]=true>
            </select2>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="form-group">
            <select2 class="wide required" [disabled]="!distritos" [options]="optionsSelect2Distritos"
              [data]="distritos" [value]="distritoSeleccionado" (valueChanged)="changeDistritos($event)"
              [cssImport]=true>
            </select2>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 1.5rem!important;">
        <input type="text" class="form-control input-cart-login" placeholder="Dirección de entrega"
          [(ngModel)]="direccion" name="direccion" #searchEditar>
      </div>
      <div class="row mb-2">
        <div class="col-lg-6 col-12">
          <div class="form-group">
            <select2 class="wide required" id="selectTipo" [options]="optionsSelect2TipoDireccion"
              [data]="tipo_direccion" [value]="tipodireccionSeleccionado" (valueChanged)="changeTipoDireccion($event)"
              [cssImport]=true>
            </select2>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="form-group">
            <input type="text" class="form-control input-cart-login" placeholder="Número" [(ngModel)]="numero"
              name="numero" (keypress)="utilService.validarSoloNumeros($event)">
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <input type="text" class="form-control input-cart-login" placeholder="Referencia" [(ngModel)]="referencia_1"
          name="referencia_1">
      </div>

      <div class="form-group" style="margin-bottom: 2rem!important;margin-top:2rem !important;">
        <button class="btn btn-aceptar" (click)="actualizarDireccion()">Aceptar</button>

      </div>


    </div>

    <div class="col-md-12 col-lg-6 col-xl-6">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
    </div>

  </div>










</div>