<!--<div  class="content-ground-product">
    <div class="subcontent-ground-product">
          <img class="d-block w-100" src="https://images.pexels.com/photos/701774/pexels-photo-701774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          <div class="content-ground-product-text">
            <div class="col-lg-6 col-md-6 col-sm-6">
             <h3  class="encabezado-product">Nuestros convenios</h3>
            </div>
          </div>
    </div>
  </div> -->

<div style="position: relative;" class="view" id="mar-empresa">
  <img style="width:100%;" src="assets/img/fondos/fondo-section-convenio.jpg" class="view" />
  <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
    <h3 class="encabezado-product">Nuestros convenios</h3>
  </div>
</div>

<main>

  <div class="container">
    <section class="wow fadeIn">

      <div class="row mt-5">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">¿Quiénes somos?</li>
            <li class="breadcrumb-item active">Nuestros convenios</li>
          </ol>
        </nav>
      </div>






      <div class="container">
        <div class="row">
          <div class="col-lg-9 offset-sm-2">


            <div class="row mt-5">
              <div class="col-3 mr-5 mb-4 content-img-col-12">
                <img src="assets/img/tiendas/KO.svg" class="imagentitulo" />
              </div>
              <div class="col-8 content-col-12">
                <!--<h5 class="title-empresa-text">EMPRESA 1 </h5>-->
                <p class="empresa-text">Berries del Perú, conscientes de la contribución de una filosofía saludable en
                  la vida de las personas, tiene un convenio especial con Ko - Urban Detox Center, presente en más de 5
                  países de Latinoamérica, brindándole beneficios y descuentos para sus clientes y staff.</p>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-3 mr-5 mb-4 content-img-col-12">
                <img src="assets/img/tiendas/ESPARTANO.svg" />
              </div>
              <div class="col-8 content-col-12">
                <!--<h5 class="title-empresa-text">EMPRESA 2</h5>-->
                <p class="empresa-text">ESPARTANO 360™, especialistas en el desarrollo físico, atlético y mental de las
                  personas, se une a Berries del Perú para brindar beneficios a sus clientes y su personal, de manera
                  que colaboramos, como es nuestra misión, con incentivar la vida saludable de las personas.
                </p>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-3 mr-5 mb-4 content-img-col-12">
                <img src="assets/img/tiendas/ONCOSALUD.svg" />
              </div>
              <div class="col-8 content-col-12">
                <!--<h5 class="title-empresa-text">EMPRESA 3</h5>-->
                <p class="empresa-text">Desde la app Oncobenefits de Oncosalud, puedes acceder a importantes descuentos
                  gracias al convenio que mantienen con nosotros. De esta forma te apoyamos y nos involucramos en tu
                  lucha.</p>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-3 mr-5 mb-4 content-img-col-12">
                <img src="assets/img/tiendas/Tarjeta_OH.svg" />
              </div>
              <div class="col-8  content-col-12">
                <!--<h5 class="title-empresa-text">EMPRESA 4</h5>-->
                <p class="empresa-text">Gracias al convenio que matienen con nosotros, los afiliados a la Tarjeta oh!
                  tienen acceso a packs especiales y promociones que actualizamos cada periodo, para contribuir con su
                  vida saludable.</p>
              </div>
            </div>


          </div>
        </div>
      </div>










    </section>

  </div>
  <div class="container">
    <app-productos-destacados></app-productos-destacados>

  </div>



</main>