<section class="wow fadeIn mb-8">
  <div class="container">
    <div class="row mt-6">
      <div class="col-lg-4">
        <img
          src="assets/img/icons/img-section-right.svg"
          class="img-section"
          width="100%"
        />
      </div>
      <div class="col-lg-4">
        <h5 class="text-section mt-3 text-center">COMPLEMENTA TU COMPRA</h5>
      </div>

      <div class="col-lg-4" style="float: right;">
        <img
          src="assets/img/icons/img-section-right.svg"
          class="img-section"
          width="100%"
        />
      </div>
    </div>
  </div>

  <div class="row features-small mt-7 wow fadeIn">
    <div
      class="col-xl-3 col-lg-6 col-md-6 mb-4"
      *ngFor="let item of tercerArray"
    >
      <div class="card card-product cardBerries">
        <div class="card-body">
          <h6 class="text-categoria">#{{ item.linea_de_negocio }}</h6>
          <div class="border-description-product slide-item">
            <h6 class="text-nombre-producto">
              {{ item.nombre_producto | titlecase }} <br />
              {{ item.presentacion | titlecase }}
            </h6>
            <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">
              S/. {{ item.precio_con_igv }}
            </h6>
          </div>

          <img
            class="card-img-top"
            src="{{ item.imagen }}"
            alt="Card image cap"
          />
          <div class="text-center mt-3">
            <button
              class="btn-minus btn-sm"
              (click)="utilService.del(item)"
              [disabled]="item.cantidad < 2"
            >
              <i class="fas fa-minus icon-minus"></i>
            </button>
            <span class="span-cantidad">{{ item.cantidad }}</span>
            <button class="btn-minus btn-sm" (click)="utilService.add(item)">
              <i class="fas fa-plus icon-plus"></i>
            </button>
          </div>
          <div class="text-center mt-3">
            <button
              type="button"
              class="btn btn-add-shop btn-rounded"
              (click)="utilService.addToCart(item)"
            >
              Agregar
            </button>
          </div>
          <div class="text-center mt-3">
            <a (click)="redirectOtherProduct(item.id_pro)" class="text-detalle"
              >Ver detalle</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
