.input-text-contact{
    border: none;
    border-bottom: 2px solid #e3e8e9;
}

.select-contact{
    border: none;
    border-bottom: 2px solid #e3e8e9;

}

select { 
    color: #778489; 
    font-size: 14px;
    
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8be1b0 !important;
    border: none !important;
  }
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(139, 225, 176, 0.25)
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #8be1b0 ; 
  }

  .label-check{
    color: #778489;
    font-size: 15px;
  }


.label-pasarela{
    font-size: 15px;
    font-weight: bold;
    color: #778489;

}

.descripcion-pasarela{
  font-size: 15px;
  color: #778489;
}

.total-cart{
  font-size: 18px;
  font-weight: 500;
  color: #8be1b0;
}
.price-total-cart{
  font-size: 24px;
  font-weight: bold;
  color: #8be1b0;
}

.btn-pagar{
  background: #8be1b0;
  border-radius: 21.5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color:#fff;
  letter-spacing: 1.56px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: none;
}

:host >>> .autocomplete-container{
  box-shadow: none !important;
}

:host >>> .autocomplete-container .input-container input {
  border: none;
  border-bottom: 2px solid #e3e8e9;
}

:host >>> .autocomplete-container .suggestions-container {

  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);

}

:host >>> .autocomplete-container .suggestions-container ul li a{
  color: #cad2d5;
  font-size: 14px !important;
  letter-spacing: 9.4px;
  font-family: Ubuntu;
  
}




textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.swal2-confirm .swal2-styled div{
  width: auto!important;
}