<!--<div class="content-tienda"></div> -->
<main style="margin-top:10%;">
  <section class="wow fadeIn mb-5">
    <div class="container">
      <div class="row mt-6">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center ">PASARELA DE PAGO</h5>
        </div>

        <div class="col-lg-4" style="float:right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row wow fadeIn mt-5" style="visibility: visible; animation-name: fadeIn;">
        <div class="col-lg-6 col-md-12 mb-5">
          <div class="col-lg-12 mb-5">
            <div class="form-group">
              <label class="label-pasarela">N&uacute;mero de tarjeta</label>
              <ng-autocomplete [data]="listTarjetas" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                [itemTemplate]="itemTemplate" (inputChanged)='onChangeSearch($event)' (inputCleared)='onClear()'>
              </ng-autocomplete>
              <input type="hidden" [(ngModel)]="num_tarjeta" name="num_tarjeta" data-culqi="card[number]"
                id="card[number]" />
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.last_four_digits"></a>
              </ng-template>


            </div>
          </div>
          <div class="mb-5" style="display: flex;flex-wrap: wrap;">
            <div class="col-lg-8">
              <div class="form-group">
                <label class="label-pasarela">Fecha de vencimiento</label>
                <div class="row">
                  <div class="col-3 col-lg-5">
                    <input type="number" maxlength="2" class="form-control input-text-contact"
                      data-culqi="card[exp_month]" id="card[exp_month]" [(ngModel)]="mes_tarjeta" name="mes_tarjeta"
                      (keypress)="validarSoloNumerosFecha($event)">
                  </div>
                  <div class="col-1 col-lg-1">
                    <span style="display: block;margin-top: 10px;color: #778489;font-size: 1.2rem;">/</span>
                  </div>
                  <div class="col-4 col-lg-6">
                    <input type="number" maxlength="4" class="form-control input-text-contact"
                      data-culqi="card[exp_year]" id="card[exp_year]" [(ngModel)]="year_tarjeta" name="year_tarjeta"
                      (keypress)="validarSoloNumerosCVV($event)">
                  </div>

                </div>

              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="label-pasarela">CVV</label>
                <input type="number" maxlength="3" class="form-control input-text-contact" data-culqi="card[cvv]"
                  id="card[cvv]" [(ngModel)]="cvv_tarjeta" name="cvv_tarjeta"
                  (keypress)="validarSoloNumerosCVV($event)">
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="label-pasarela">Correo electrónico</label>
              <input type="text" class="form-control input-text-contact" style="background-color:#ffffff;"
                data-culqi="card[email]" id="card[email]" readonly [(ngModel)]="titular_tarjeta" name="titular_tarjeta">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultChecked2"
                (change)="changeSaveCard($event)">
              <label class="custom-control-label label-check" for="defaultChecked2">Guardar tarjeta</label>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-5">
          <div class="col-xl-6 mb-4">
            <img src="assets/img/icons/tarjeta-visa.png" class="mr-4" />
            <img src="assets/img/icons/tarjeta-mastercard.png" />
          </div>
          <p class="descripcion-pasarela mb-5" style="text-align: justify;">Al proceder con el pago, usted certifica que
            es mayor de edad según su jurisdicción y acepta la recopilación y el procesamiento de sus datos personales
            de acuerdo con lo explicado en los <strong>Términos y condiciones</strong> y la <strong>Política de
              privacidad.</strong></p>
          <hr class="mb-5" style="border: solid 1px #e3e8e9;">
          <div>
            <h6 class="float-left total-cart">Total a pagar: </h6>
            <h6 class="float-right price-total-cart">S/. {{montoAPagar.toFixed(2)}}</h6>
          </div>
          <div style="display:block;margin-top: 6rem !important;">
            <button class="btn btn-pagar" (click)="pagar($event)" id="btn_pagar">Pagar ahora</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>