<footer class="page-footer font-small color-berries" id="footer-berries">
  <img src="assets/img/icons/img-footer-left.svg" class="img-footer left-footer">
  <img src="assets/img/icons/img-footer-right.svg" class="img-footer right-footer">

<div class="container text-center text-md-left">
   
  <div class="row">
    <div class="col-md-2 mx-auto">
      <div class="image-center">
          <img src="assets/img/logo/logo.svg" class="img-fluid mb-5"
            alt="">
      </div>
    </div>
    <!--<hr class="clearfix w-100 d-md-none">-->
    <div class="col-lg-4 mx-auto mb-5 link-responsive-footer-mapa-sitio">
      <h6 class="title-footer mt-7">MAPA DEL SITIO</h6>
      <div class="container-fluid no-spacing">
          <div class="row">
            <div class="col col-md-6 mt-md-0 ">
              <ul class="list-unstyled list-mapa">
                  <li >
                    <a routerLink="/" >Home</a>
                  </li>
                  <li>
                      <a routerLink="/tienda">Productos</a>
                  </li>
                  <li>
                      <a routerLink="/quienes-somos/la-empresa">Quiénes Somos</a>
                  </li>
                  <li>
                      <a routerLink="/quienes-somos/nuestros-convenios">Convenios</a>
                  </li>
                </ul>
            </div>
            <div class="col col-md-6 mb-md-0 mb-3">
              <ul class="list-unstyled list-mapa list-mapa-derecha">
                  <li >
                    <a routerLink="/blog">Blog</a>
                  </li>
                  <li>
                      <a routerLink="/contacto/formulario">Contacto</a>
                  </li>
                  <li>
                      <a routerLink="/contacto/libro-de-reclamaciones">Libro de reclamaciones</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
    <!--<hr class="clearfix w-100 d-md-none">-->
    <div class="col-lg-3 mx-auto mb-5 link-responsive-footer-contactanos">
      <h6 class="title-footer mt-7 ">CONTÁCTANOS</h6>
      <ul class="list-unstyled list-contactanos">
        <li >
          <a href="https://www.instagram.com/berriesdelperu/" target="_blank"><span><i class="fab fa-instagram size-icons"></i></span></a>
          <a style="margin-left: 20px;" href="https://es-la.facebook.com/Berriesdelperu/" target="_blank"><span class="space-icons"><i class="fab fa-facebook-square size-icons"></i></span></a>
          <a style="margin-left: 20px;" href="https://www.youtube.com/channel/UCrUsB97nF0EboXuemvOUZOA" target="_blank"><span class="space-icons"><i class="fab fa-youtube size-icons"></i></span></a>
        </li>
        <li>
          <a href="javascript:void(0)">pedidos@berriesdelperu.com</a>
        </li>
        <li>
          <a href="javascript:void(0)" class="tel-footer">(+51) 01 448 1414</a>
        </li>
      </ul>
    </div>
    <!--<hr class="clearfix w-100 d-md-none">
    <div class="col-lg-3 mx-auto mb-5 link-responsive-footer-contactanos">
        <h6 class="title-footer mt-7 ">COMPRAS 100% SEGURAS</h6>
        <ul class="list-unstyled list-compras">
            <li>
                Esta tienda esta autorizada por 
              </li>
              <li>
                Visa para realizar transacciones
              </li>
              <li>
                electrónicas
                </li>
        </ul>
      </div>-->
  </div>
</div>

<div class="copyright-footer text-center py-3">
  <div class="footerDesktop">
    <span class="subfooter">© 2020 Berries del Per&uacute;, Lima - Per&uacute;</span>
    <a routerLink="/terminos-y-condiciones" class="subfooter ml-5 subfooterlinks"><u>Términos y condiciones</u></a>
    <a routerLink="/politicas-de-privacidad" class="subfooter ml-5 subfooterlinks"><u>Políticas de privacidad</u></a>  
  </div>
  <div class="fotterResponsive" style="display: none;">
    <p style="margin-bottom: 10px;" class="subfooter">© 2020 Berries del Per&uacute;, Lima - Per&uacute;</p>
    <p style="margin-bottom: 10px;"><a routerLink="/terminos-y-condiciones" ><u>Términos y condiciones</u></a></p>
    <p style="margin-bottom: 10px;"><a routerLink="/politicas-de-privacidad" ><u>Políticas de privacidad</u></a></p>
  </div>
</div>
</footer>