.space-icons{
  margin-left: 8px;
}
.size-icons{
    font-size:20px;
}
.no-spacing{
    padding-left: 0px !important;
}
.image-center{
    margin-top: 30%;
}
.title-footer{
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
}
.list-mapa , .list-contactanos , .list-compras {
  font-size:14px;
}
.tel-footer{
  font-family: 'Ubuntu';
  font-weight: 500;
}
.list-mapa li:nth-child(2) , .list-mapa li:nth-child(3) , .list-mapa li:nth-child(4) {
  padding-top:7px;
}
.list-contactanos li:nth-child(2) , .list-contactanos li:nth-child(3) , .list-contactanos li:nth-child(4) {
  padding-top:7px;
}
.list-compras li:nth-child(2) , .list-compras li:nth-child(3) {
  padding-top:10px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1250px !important;
    }
}
.subfooter{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.img-footer{
  position:absolute;
  top:50%;
}
.left-footer{
  left: 15%;
  
}
.right-footer{
  right: 15%;
}
@media (max-width: 1024px){
  
  .right-footer{
    right: 1%;
  }
  .left-footer{
    left: 1%;
  }
}
@media (max-width: 776px) {
  .link-responsive-footer-mapa-sitio{
   margin-bottom: 0rem!important;
  }
  .no-spacing{
    padding-right: 0px !important;
  }
  .image-center {
    margin-top: 20% !important;
  }
  .title-footer{
    margin-top: 1rem !important;
    text-align: center;
  }
  .link-responsive-footer-contactanos{
    margin-bottom: 0.1rem!important;
    text-align: center;
  }
  
}
@media (max-width: 776px){
  .list-mapa {
    text-align: left;
    margin-left: 60%;
    
  }
  .list-mapa-derecha{
      text-align: left;
      margin-left: 5%;
  }
  .left-footer{
    left: 70%;
    transform: rotate(-180deg);
    
  }
  .right-footer{
    right: 70%;
    transform: rotate(-180deg);
  }
  .img-footer{
    position:absolute;
    top:5%;
  }
}
@media (max-width: 475px) {

  
.footerDesktop{
  display: none;
}
.fotterResponsive{
  display: block!important;
}

  .copyright-footer{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }

  .list-mapa {
    text-align: left;
    margin-left: 30%;
    
  }
  .list-mapa-derecha{
      text-align: left;
      margin-left: 5%;
  }
  .image-center {
  margin-top: 10% !important;
  }
  .left-footer{
    left: 79%;
    transform: rotate(-180deg);
    
  }
  .right-footer{
    right: 80%;
    transform: rotate(-180deg);
  }
  .img-footer{
    position:absolute;
    top:5%;
  }
  .subfooterlinks{
    margin:0px;
  }
}
@media (max-width: 414px){
  .left-footer{
    left: 75%;
    transform: rotate(-180deg);
    
  }
  .right-footer{
    right: 75%;
    transform: rotate(-180deg);
  }
}
