<div style="position: relative;" class="view" id="mar-empresa">
    <img style="width:100%;" src="assets/img/fondos/fondo-section-miel.jpg" class="view"/>
   <div style="position:absolute;right:20%;top:40%;">
      <h3  class="encabezado-product">Frescos&nbsp;&nbsp;&nbsp;&nbsp;</h3>
   </div>
  </div>
    <main>
        <div class="container">
          <section class="wow fadeIn">
      
            <div class="row mt-5">
      
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Productos</li>
                  <li class="breadcrumb-item active">Frescos</li>
                </ol>
              </nav>
            </div>
      
            <div class="row features-small mb-5 mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-10">
                    <h6 class="title-honey">Lorem ipsum dolor </h6>
                    <p class="content-honey">Aenean sem nulla, rhoncus non lacus quis, convallis volutpat lectus, ullam
                      semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-1.png" id="margin-icon-derecha"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10">
                    <h6 class="title-honey">Lorem ipsum dolor </h6>
                    <p class="content-honey">Aenean sem nulla, rhoncus non lacus quis, convallis volutpat lectus, ullam
                      semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-2.png" id="margin-icon-derecha"/>
                  </div>
                </div>
              </div>
              <div class="col-md-4 flex-center">
                <img src="assets/img/productos/congelados.png" alt="Miel de abeja Berries" class="z-depth-0 img-fluid"
                  style="width:85%;">
              </div>
              <div class="col-md-4 mt-2">
                <div class="row">
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-3.png" id="margin-icon"/>
                  </div>
                  <div class="col-10">
                    <h6 class="title-honey" style="text-align: left;">Lorem ipsum dolor </h6>
                    <p class="content-honey" style="text-align: left;">Aenean sem nulla, rhoncus non lacus quis, convallis
                      volutpat lectus, ullam semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus
                      lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-4.png" id="margin-icon"/>
                  </div>
                  <div class="col-10">
                    <h6 class="title-honey" style="text-align: left;">Lorem ipsum dolor </h6>
                    <p class="content-honey" style="text-align: left;">Aenean sem nulla, rhoncus non lacus quis, convallis
                      volutpat lectus, ullam semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus
                      lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="text-center">
              <button type="button" class="btn-prod-blog"><img src="assets/img/icons/icon-blog-product.svg" style="padding-right:10px;" />Descubre recetas en nuestro blog</button>
          </div>
    
          </section>
       
        <section class="wow fadeIn">
          <div class="container">
             <div class="row mt-6">
          <div class="col-lg-4">
              <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
    
            </div>
            <div class="col-lg-4">
              <h5 class="text-section mt-3 text-center ">PRODUCTOS</h5>
            </div>
    
            <div class="col-lg-4" style="float:right;">
              <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
            </div>
          </div>
        </div>
         
          <div class="container">
            
              <div class="row features-small mt-7 wow fadeIn">
      
                <div class="col-xl-3 col-lg-6 col-md-6 mb-4" *ngFor="let item of listProductsByCategory">
                  <div class="card">
                   <!-- <div class="content-offer text-center"><span class="text-content-offer-primary">10 % </span><span
                        class="text-content-offer-secondary">DSCTO.</span></div> -->
                    <div class="card-body">
                      <h6 class="text-categoria">#{{item.linea_de_negocio}}</h6>
                      <h6 class="text-nombre-producto">{{item.nombre_producto | titlecase  }}</h6>
                      <span class="btn-card color-btn-primary">{{item.presentacion | lowercase}}</span>
                      <div class="row-prices">
                       <!-- <h6 class="font-weight-bold text-price mt-2"><del>S/. 10,50</del></h6>
                        <h6 class="font-weight-bold text-descuento mt-2 ">S/. 8,50</h6> -->
                        <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">S/. {{item.precio_con_igv}}</h6>
                      </div>
                      <img class="card-img-top" src="https://www.limaorganica.pe/wp-content/uploads/2018/05/isola-avena.jpg"
                        alt="Card image cap">
                      <div class="text-center mt-3">
                        <a class="btn-minus btn-sm"><i class="fas fa-minus icon-minus"></i></a>
                        <span class="span-cantidad">1</span>
                        <a class="btn-minus btn-sm"><i class="fas fa-plus icon-plus"></i></a>
                      </div>
                      <div class="text-center mt-3">
                        <button type="button" class="btn btn-add-shop btn-rounded">Agregar</button>
                      </div>
                      <div class="text-center mt-3">
                        <a routerLink="/tienda/{{item.id_pro}}" class="text-detalle">Ver detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
      
      
                  
            
                  
                </div>
      
          </div>
      
         
      
        </section>
      
        <section class="wow fadeIn mb-8">
          <div class="container">
            <div class="row mt-6">
                <div class="col-lg-4">
                    <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
          
                  </div>
                  <div class="col-lg-4">
                    <h5 class="text-section mt-3 text-center ">COMPLEMENTA TU COMPRA</h5>
                  </div>
          
                  <div class="col-lg-4" style="float:right;">
                    <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
                  </div>
                </div>
              </div>
         
            
              <div class="row features-small mt-7 wow fadeIn">
      
                  <div class="col-xl-3 col-lg-6 col-md-6  mb-4">
                      <div class="card">
                        <div class="card-body">
                          <h6 class="text-categoria">#MIEL</h6>
                          <h6 class="text-nombre-producto">Miel de abeja</h6>
                          <span class="btn-card color-btn-primary">5.3 Kg.</span>
                          <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">S/. 10,50</h6>
                          <img class="card-img-top" src="https://www.limaorganica.pe/wp-content/uploads/2018/05/isola-avena.jpg"
                            alt="Card image cap">
                          <div class="text-center mt-3">
                            <a class="btn-minus btn-sm"><i class="fas fa-minus icon-minus"></i></a>
                            <span class="span-cantidad">1</span>
                            <a class="btn-minus btn-sm"><i class="fas fa-plus icon-plus"></i></a>
                          </div>
                          <div class="text-center mt-3">
                            <button type="button" class="btn btn-add-shop btn-rounded">Agregar</button>
                          </div>
                          <div class="text-center mt-3">
                            <a href="#" class="text-detalle">Ver detalle</a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-xl-3 col-lg-6 col-md-6  mb-4">
                        <div class="card">
                          <div class="card-body">
                            <h6 class="text-categoria">#MIEL</h6>
                            <h6 class="text-nombre-producto">Miel de abeja</h6>
                            <span class="btn-card color-btn-primary">5.3 Kg.</span>
                            <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">S/. 10,50</h6>
                            <img class="card-img-top" src="https://www.limaorganica.pe/wp-content/uploads/2018/05/isola-avena.jpg"
                              alt="Card image cap">
                            <div class="text-center mt-3">
                              <a class="btn-minus btn-sm"><i class="fas fa-minus icon-minus"></i></a>
                              <span class="span-cantidad">1</span>
                              <a class="btn-minus btn-sm"><i class="fas fa-plus icon-plus"></i></a>
                            </div>
                            <div class="text-center mt-3">
                              <button type="button" class="btn btn-add-shop btn-rounded">Agregar</button>
                            </div>
                            <div class="text-center mt-3">
                              <a href="#" class="text-detalle">Ver detalle</a>
                            </div>
                          </div>
                        </div>
                      </div>
      
                  <div class="col-xl-3 col-lg-6 col-md-6 mb-4">
                      <div class="card">
                        <div class="content-offer text-center"><span class="text-content-offer-primary">10 % </span><span
                            class="text-content-offer-secondary">DSCTO.</span></div>
                        <div class="card-body">
                          <h6 class="text-categoria">#MIEL</h6>
                          <h6 class="text-nombre-producto">Miel de abeja</h6>
                          <span class="btn-card color-btn-primary">280 gr.</span>
                          <div class="row-prices">
                            <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio"><del>S/. 10,50</del></h6>
                            <h6 class="font-weight-bold text-descuento mt-2 ">S/. 8,50</h6>
                          </div>
                          <img class="card-img-top" src="https://www.limaorganica.pe/wp-content/uploads/2018/05/isola-avena.jpg"
                            alt="Card image cap">
                          <div class="text-center mt-3">
                            <a class="btn-minus btn-sm"><i class="fas fa-minus icon-minus"></i></a>
                            <span class="span-cantidad">1</span>
                            <a class="btn-minus btn-sm"><i class="fas fa-plus icon-plus"></i></a>
                          </div>
                          <div class="text-center mt-3">
                            <button type="button" class="btn btn-add-shop btn-rounded">Agregar</button>
                          </div>
                          <div class="text-center mt-3">
                            <a href="#" class="text-detalle">Ver detalle</a>
                          </div>
                        </div>
                      </div>
                    </div>
      
      
                    <div class="col-xl-3 col-lg-6 col-md-6  mb-4">
                        <div class="card">
                          <div class="card-body">
                            <h6 class="text-categoria">#MIEL</h6>
                            <h6 class="text-nombre-producto">Miel de abeja</h6>
                            <span class="btn-card color-btn-primary">5.3 Kg.</span>
                            <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">S/. 10,50</h6>
                            <img class="card-img-top" src="https://www.limaorganica.pe/wp-content/uploads/2018/05/isola-avena.jpg"
                              alt="Card image cap">
                            <div class="text-center mt-3">
                              <a class="btn-minus btn-sm"><i class="fas fa-minus icon-minus"></i></a>
                              <span class="span-cantidad">1</span>
                              <a class="btn-minus btn-sm"><i class="fas fa-plus icon-plus"></i></a>
                            </div>
                            <div class="text-center mt-3">
                              <button type="button" class="btn btn-add-shop btn-rounded">Agregar</button>
                            </div>
                            <div class="text-center mt-3">
                              <a href="#" class="text-detalle">Ver detalle</a>
                            </div>
                          </div>
                        </div>
                      </div>
      
      
                  
            
                  
                </div>
      
        
      
         
      
        </section>
      </div>
      </main>
