<div style="position: relative" class="view" id="mar-empresa">
  <div
    style="
      background-image: url(assets/img/portadas/Portada_Congelados.jpg);
      width: 100%;
    "
    class="view bgContent"
  >
    <div style="position: absolute; right: 12%; top: 40%">
      <h3 class="encabezado-product">Berries Congelados</h3>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <section class="wow fadeIn">
      <div class="row mt-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Productos</li>
            <li class="breadcrumb-item active">Congelados</li>
          </ol>
        </nav>
      </div>
      <div
        class="row features-small mb-5 mt-5 wow fadeIn"
        style="visibility: visible; animation-name: fadeIn"
      >
        <div class="col-md-4 ocultarEnMovilGeneral">
          <div class="row">
            <div class="col-12 col-md-10 min-fixed">
              <h6 class="title-honey">Tiempo de Vida</h6>
              <p class="content-honey">
                Puedes disfrutar de estos congelados hasta por 12 meses.
              </p>
              <div style="height: 15px"></div>
            </div>
            <div class="col-2">
              <img
                src="assets/img/icons/tiempo.svg"
                width="48px"
                id="margin-icon-derecha"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-10">
              <h6 class="title-honey">Conservación</h6>
              <p class="content-honey">
                Para mantener estos berries en buen estado, mantenlos siempre
                congelados.
              </p>
              <div style="height: 15px"></div>
            </div>
            <div class="col-2">
              <img
                src="assets/img/icons/conservacion.svg"
                width="48px"
                id="margin-icon-derecha"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4 flex-center">
          <img
            src="assets/img/portadas/Congelados.jpg"
            alt="Miel de abeja Berries"
            class="z-depth-0 img-fluid"
            style="width: 85%"
          />
        </div>
        <div class="col-md-4 ocultarEnMovilGeneral">
          <div class="row">
            <div class="col-2">
              <img
                src="assets/img/icons/tips.svg"
                width="48px"
                id="margin-icon"
              />
            </div>
            <div class="col-12 col-md-10 min-fixed">
              <h6 class="title-honey2">TIPS</h6>
              <p class="content-honey" style="text-align: left">
                Listos para consumir, no hace falta lavarlos. Ideal para jugos,
                smoothies, postres, helados.
              </p>
              <div style="height: 15px"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img
                src="assets/img/icons/descripcion.svg"
                width="48px"
                id="margin-icon"
              />
            </div>
            <div class="col-12 col-md-10">
              <h6 class="title-honey2">Descripción</h6>
              <p class="content-honey" style="text-align: left">
                ¡Berries que te brindarán salud y energía! Congelados
                rápidamente a menos de 18° C para evitar microorganismos y sin
                usar aditivos químicos. Disfrútalos mientras cuidas del planeta,
                gracias a su envase biodegradable.
              </p>
              <div style="height: 15px"></div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="contentCarruselMovil"
        class="mostrarrEnMovilGeneral"
        style="display: none"
      >
        <div
          id="ContenedorSlider"
          class="carousel slide carousel-multi-item mt-4"
          data-ride="carousel"
        >
          <ol class="carousel-indicators indicators-carousel">
            <li
              data-target="#ContenedorSlider"
              [attr.data-slide-to]="i"
              [ngClass]="{ active: isFirst }"
              *ngFor="
                let item of slidesCategorias;
                let i = index;
                first as isFirst
              "
            ></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div
              class="carousel-item"
              [ngClass]="{ active: isFirst }"
              *ngFor="
                let item of slidesCategorias;
                let i = index;
                first as isFirst
              "
            >
              <div class="col-12">
                <p style="text-align: center">
                  <img src="{{ item[0]['img'] }}" />
                </p>
                <h6 class="title-honey2">{{ item[0]["titulo"] }}</h6>
                <p class="content-honey" style="text-align: left">
                  {{ item[0]["descripcion"] }}
                </p>
                <div style="height: 15px"></div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            style="width: 20px"
            href="#ContenedorSlider"
            role="button"
            data-slide="prev"
          >
            <span
              style="
                transform: rotate(-180deg);
                width: 10px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(assets/img/icons/icon-slider-tienda.svg);
              "
              class="text-primary"
            >
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            style="width: 20px"
            href="#ContenedorSlider"
            role="button"
            data-slide="next"
          >
            <span
              style="
                width: 10px;
                height: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(assets/img/icons/icon-slider-tienda.svg);
              "
              class="text-primary"
            >
            </span>
            <span class="sr-only text-secondary">Next</span>
          </a>
        </div>
        <br />
        <br />
      </div>

      <div class="text-center">
        <button type="button" (click)="goBlog()" class="btn-prod-blog">
          <img
            src="assets/img/icons/icon-blog-product.svg"
            style="padding-right: 10px"
          />Descubre recetas en nuestro blog
        </button>
      </div>
    </section>
    <section class="wow fadeIn">
      <div class="row mt-6">
        <div class="col-lg-4">
          <img
            src="assets/img/icons/img-section-right.svg"
            class="img-section"
            width="100%"
          />
        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center">PRODUCTOS</h5>
        </div>
        <div class="col-lg-4" style="float: right">
          <img
            src="assets/img/icons/img-section-right.svg"
            class="img-section"
            width="100%"
          />
        </div>
      </div>
      <div class="container">
        <div
          id="congelados"
          class="carousel slide carousel-multi-item mt-4"
          data-ride="carousel"
        >
          <div
            class="rowRightProductosRelacionados"
            style="
              position: absolute;
              top: 43%;
              transform: rotate(-180deg);
              z-index: 1;
              left: -2%;
            "
          >
            <a href="#congelados" data-slide="prev"
              ><img
                src="assets/img/icons/icon-slider-tienda.svg"
                style="height: 20px !important"
            /></a>
          </div>
          <ol
            style="bottom: -8% !important"
            class="carousel-indicators indicators-carousel"
          >
            <li
              data-target="#congelados"
              [attr.data-slide-to]="i"
              [ngClass]="{ active: isFirst }"
              *ngFor="
                let item of slidesCongelados;
                let i = index;
                first as isFirst
              "
            ></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div
              class="carousel-item"
              [ngClass]="{ active: isFirst }"
              *ngFor="
                let item of slidesCongelados;
                let i = index;
                first as isFirst
              "
            >
              <div
                class="row px-1 pt-3"
                style="
                  padding-left: 20px !important;
                  padding-right: 20px !important;
                "
              >
                <div
                  class="col-xl-3 col-lg-6 col-md-6 mb-4"
                  *ngFor="let card of item; let cardIndex = index"
                >
                  <div class="card cardBerries">
                    <div class="card-body">
                      <h6 class="text-categoria" style="margin-left: 10px">
                        #{{ card.linea_de_negocio }}
                      </h6>
                      <div
                        class="border-description-product"
                        style="margin-bottom: 20px"
                      >
                        <h6
                          class="text-nombre-producto"
                          style="margin-bottom: 0px"
                        >
                          {{ card.nombre_producto | titlecase }} <br />
                          {{ card.presentacion | titlecase }}
                        </h6>
                        <div class="row-prices">
                          <h6
                            class="font-weight-bold text-price mt-2 removeHoverPrecio"
                            style="margin-bottom: 0px"
                          >
                            S/. {{ card.precio_con_igv }}
                          </h6>
                        </div>
                      </div>
                      <br />
                      <div
                        [style.backgroundImage]="'url(' + card.imagen + ')'"
                        class="imgCardData"
                      ></div>
                      <div class="text-center mt-3">
                        <button
                          class="btn-minus btn-sm"
                          (click)="utilService.del(card)"
                          [disabled]="card.cantidad < 2"
                        >
                          <i class="fas fa-minus icon-minus"></i>
                        </button>
                        <span class="span-cantidad">{{ card.cantidad }}</span>
                        <button
                          class="btn-minus btn-sm"
                          (click)="utilService.add(card)"
                        >
                          <i class="fas fa-plus icon-plus"></i>
                        </button>
                      </div>
                      <div class="text-center mt-3">
                        <button
                          type="button"
                          class="btn btn-add-shop btn-rounded"
                          (click)="utilService.addToCart(card)"
                        >
                          Agregar
                        </button>
                      </div>
                      <div class="text-center mt-3">
                        <a
                          routerLink="/tienda/{{ card.id_pro }}"
                          class="text-detalle"
                          >Ver detalle</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rowRightProductosRelacionados"
            style="position: absolute; right: -2%; top: 43%"
          >
            <a href="#congelados" data-slide="next"
              ><img
                src="assets/img/icons/icon-slider-tienda.svg"
                style="height: 20px !important"
            /></a>
          </div>
        </div>
      </div>
      <br />
      <br />
    </section>
  </div>
</main>
