<!--<div id="content-tienda"  style="height:18%;background:#333;">
</div>-->
<div style="margin-top: 12%;"></div>

<div class="container mt-5 d-flex" id="section-desktop">

  <!--<div class="margin-button-buscar">
    <button class="btn-buscar-producto" (click)="goBuscarProducto()"><img src="assets/img/icons/icon-buscar-tienda.svg" style="margin-top: -2px;"/></button>
  </div>-->

  <div class="myBtnContainer">
    <button class="btn-cat" id="promociones"><img src="assets/img/icons/icon-promociones.svg"
        class="mr-2 mb-1" />#PROMOCIONES</button>
    <button class="btn-cat" id="congelados"> <img src="assets/img/icons/icon-congelados.svg"
        class="mr-2 mb-1" />#CONGELADOS</button>
    <button class="btn-cat" id="mermeladas"> <img src="assets/img/icons/icon-mermeladas.svg"
        class="mr-2 mb-1" />#MERMELADAS</button>
    <button class="btn-cat" id="mieles"> <img src="assets/img/icons/icon-miel-abeja.svg" class="mr-2 mb-1" />#MIEL DE
      ABEJA</button>
    <button class="btn-cat" id="pulpas"><img src="assets/img/icons/icon-pulpas.svg" class="mr-2 mb-1" />#EXOTIC PULPS</button>


  </div>


</div>

<section id="section-mobile" class="my-4" style="margin-bottom: 0px!important;">

  <button class="btn-filtro-mobile" id="btn-filtro-1" data-toggle="modal" data-target="#modal-filtro-mobile"
    style="text-transform: capitalize !important;"> <img style="margin-right: 5px;"
      src="assets/img/icons/icon-filtro-mobile.PNG" id="img-mobile-active" />Filtrar</button>
  <label class="label-limpiar-filtro" (click)="limpiarFiltro()">Limpiar filtro</label>
  <!--<
  <div class="row">
    <div class="col-8">
      <button class="btn-filtro-mobile" style="text-transform: capitalize !important;" (click)="goBuscarProducto()" ><img src="assets/img/icons/icon-buscar-mobile.svg" /> Buscar</button>
    </div>
  div class="col-4">
      <label class="label-limpiar-filtro" (click)="limpiarFiltro()">Limpiar filtro</label>
    </div>
  </div>-->
</section>

<main>
  <div class="container mb-6" id="contenedor-productos">

    <section class="wow fadeIn"  data-category="promociones">
      <div class="row mt-5" *ngIf="listPromocion.length!=0">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center"><img class="titleIconStore"
              src="assets/img/tiendas/titulo-esquinas.png" /> PROMOCIONES <img class="titleIconStore"
              src="assets/img/tiendas/titulo-esquinas3.png" /></h5>
        </div>

        <div class="col-lg-4" style="float:right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
        </div>
      </div>
      <div id="carousel-promociones" *ngIf="listPromocion.length!=0" class="carousel slide carousel-multi-item mt-4" data-ride="carousel"
        data-interval="10000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-promociones" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesPromocion; let i = index;first as isFirst"></li>
        </ol>

        <div id="rowRightSliderTiendaPromociones2"
          style="position:absolute;top:43%;transform: rotate(-180deg);z-index: 1;left: -2%;">
          <a href="#carousel-promociones" data-slide="prev"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesPromocion; let i = index;first as isFirst">
            <div class="row px-1 pt-3" style="padding-left: 20px!important;padding-right: 20px!important;">
              <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-4" *ngFor="let card of item ; let cardIndex = index">
                <div class="card cardBerries">
                  <div class="content-offer text-center"><span class="text-content-offer-primary">{{card.porcentaje}} %
                    </span><span class="text-content-offer-secondary">DSCTO.</span></div>
                  <div class="card-body">
                    <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                    <div class="border-description-product" style="margin-bottom: 20px;">
                      <h6 class="text-nombre-producto" style="margin-bottom: 0px;">
                        {{card.nombre_producto | titlecase  }} <br> {{card.presentacion | titlecase}}</h6>
                      <div class="row-prices" style="margin-bottom: 0px;">
                        <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio" style="margin-bottom: 0px;">
                          <del>S/. {{card.precio_con_igv}}</del></h6>
                        <h6 class="font-weight-bold text-descuento mt-2 " style="margin-bottom: 0px;">S/.
                          {{card.nuevo_precio}}</h6>
                      </div>
                    </div>
                    <div [style.backgroundImage]="'url('+ card.imagen +')'" class="imgCardData"></div>
                    <div class="text-center mt-3">
                      <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i
                          class="fas fa-minus icon-minus"></i></button>
                      <span class="span-cantidad">{{card.cantidad}}</span>
                      <button class="btn-minus btn-sm" (click)="utilService.add(card)"><i
                          class="fas fa-plus icon-plus"></i></button>
                    </div>
                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)"
                        style="margin-left: -1px;">Agregar</button>
                    </div>
                    <div class="text-center mt-3">
                      <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="rowRightSliderTiendaPromociones" style="position:absolute;right:-2%;top:43%;">
          <a href="#carousel-promociones" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
      </div>
      <br><br>
    </section>



    <section class="wow fadeIn" data-category="congelados">

      <div class="container">
        <div class="row mt-4">
          <div class="col-lg-4">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

          </div>
          <div class="col-lg-4">
            <h5 class="text-section mt-3 text-center "><img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas.png" /> CONGELADOS <img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas3.png" /></h5>
          </div>

          <div class="col-lg-4" style="float:right;">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
          </div>
        </div>
      </div>
      <!--Carousel Wrapper-->
      <div id="carousel-congelados" class="carousel slide carousel-multi-item mt-4" data-ride="carousel"
        data-interval="10000">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-congelados" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesCongelados; let i = index;first as isFirst"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div id="rowRightSliderTiendaCongelados2"
          style="position:absolute;top:43%;transform: rotate(-180deg);z-index: 1;left: -2%;">
          <a href="#carousel-congelados" data-slide="prev"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesCongelados; let i = index;first as isFirst">
            <div class="row px-1 pt-3" style="padding-left: 20px!important;padding-right: 20px!important;">
              <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-4" *ngFor="let card of item; let cardIndex = index">
                <div class="card cardBerries ">
                  <div class="card-body">
                    <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>

                    <div class="border-description-product slide-item" style="margin-bottom: 20px;">
                      <h6 class="text-nombre-producto" style="margin-bottom: 0px;">
                        {{card.nombre_producto | titlecase  }} <br> {{card.presentacion | titlecase}}</h6>
                      <div class="row-prices">
                        <h6 class="font-weight-bold text-price mt-2" style="margin-bottom: 0px;">S/.
                          {{card.precio_con_igv}}</h6>
                      </div>
                    </div>
                    <div [style.backgroundImage]="'url('+ card.imagen +')'" class="imgCardData"></div>
                    <div class="text-center mt-3">
                      <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i
                          class="fas fa-minus icon-minus"></i></button>
                      <span class="span-cantidad">{{card.cantidad}}</span>
                      <button class="btn-minus btn-sm" (click)="utilService.add(card)"><i
                          class="fas fa-plus icon-plus"></i></button>
                    </div>
                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)"
                        style="margin-left: -1px;">Agregar</button>
                    </div>
                    <div class="text-center mt-3">
                      <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="rowRightSliderTiendaCongelados" style="position:absolute;right:-2%;top:43%;">
          <a href="#carousel-congelados" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
      <br><br>
    </section>


    <section class="wow fadeIn" data-category="mermeladas">

      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-4">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

          </div>
          <div class="col-lg-4">
            <h5 class="text-section mt-3 text-center "><img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas.png" /> MERMELADAS <img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas3.png" /></h5>
          </div>

          <div class="col-lg-4" style="float:right;">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
          </div>
        </div>
      </div>



      <!--Carousel Wrapper-->
      <div id="carousel-mermeladas" class="carousel slide carousel-multi-item mt-4" data-ride="carousel"
        data-interval="10000">

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-mermeladas" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesMermeladas; let i = index;first as isFirst"></li>
        </ol>
        <!--/.Indicators-->

        <div id="rowRightSliderTiendaMermeladas2"
          style="position:absolute;top:43%;transform: rotate(-180deg);z-index: 1;left: -2%;">
          <a href="#carousel-mermeladas" data-slide="prev"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesMermeladas; let i = index;first as isFirst">

            <div class="row px-1 pt-3" style="padding-left: 20px!important;padding-right: 20px!important;">
              <div class="col-xl-3 col-lg-6 col-md-6 mb-4" *ngFor="let card of item; let cardIndex = index">
                <div class="card cardBerries">
                  <!-- <div class="content-offer text-center"><span class="text-content-offer-primary">10 % </span><span
                          class="text-content-offer-secondary">DSCTO.</span></div> -->
                  <div class="card-body">
                    <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                    <div class="border-description-product slide-item" style="margin-bottom: 20px;">
                      <h6 class="text-nombre-producto" style="margin-bottom: 0px;">
                        {{card.nombre_producto | titlecase  }} <br> {{card.presentacion | titlecase}}</h6>
                      <div class="row-prices">
                        <h6 class="font-weight-bold text-price mt-2" style="margin-bottom: 0px;">S/.
                          {{card.precio_con_igv}}</h6>
                      </div>
                    </div>
                    <div [style.backgroundImage]="'url('+ card.imagen +')'" class="imgCardData"></div>
                    <div class="text-center mt-3">
                      <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i
                          class="fas fa-minus icon-minus"></i></button>
                      <span class="span-cantidad">{{card.cantidad}}</span>
                      <button class="btn-minus btn-sm" (click)="utilService.add(card)"><i
                          class="fas fa-plus icon-plus"></i></button>
                    </div>
                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)"
                        style="margin-left: -1px;">Agregar</button>
                    </div>
                    <div class="text-center mt-3">
                      <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->
        </div>


        <div id="rowRightSliderTiendaMermeladas" style="position:absolute;right:-2%;top:43%;">

          <a href="#carousel-mermeladas" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>

        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
      <br><br>
    </section>

    <section class="wow fadeIn " data-category="mieles">

      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-4">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

          </div>
          <div class="col-lg-4">
            <h5 class="text-section mt-3 text-center "><img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas.png" /> MIEL DE ABEJA <img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas3.png" /> </h5>
          </div>

          <div class="col-lg-4" style="float:right;">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
          </div>
        </div>
      </div>

      <!--Carousel Wrapper-->
      <div id="carousel-miel" class="carousel slide carousel-multi-item mt-4" data-ride="carousel"
        data-interval="10000">

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-miel" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesMieles; let i = index;first as isFirst"></li>
        </ol>
        <!--/.Indicators-->

        <div id="rowRightSliderTiendaMiel2"
          style="position:absolute;top:43%;transform: rotate(-180deg);z-index: 1;left: -2%;">
          <a href="#carousel-miel" data-slide="prev"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesMieles ; let i = index;first as isFirst">

            <div class="row px-1 pt-3" style="padding-left: 20px!important;padding-right: 20px!important;">
              <div class="col-xl-3 col-lg-6 col-md-6 mb-4" *ngFor="let card of item; let cardIndex = index">
                <div class="card cardBerries">
                  <!-- <div class="content-offer text-center"><span class="text-content-offer-primary">10 % </span><span
                          class="text-content-offer-secondary">DSCTO.</span></div> -->
                  <div class="card-body">
                    <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                    <div class="border-description-product slide-item" style="margin-bottom: 20px;">
                      <h6 class="text-nombre-producto" style="margin-bottom: 0px;">
                        {{card.nombre_producto | titlecase  }} <br> {{card.presentacion | titlecase}}</h6>
                      <div class="row-prices">
                        <h6 class="font-weight-bold text-price mt-2" style="margin-bottom: 0px;">S/.
                          {{card.precio_con_igv}}</h6>
                      </div>
                    </div>
                    <div [style.backgroundImage]="'url('+ card.imagen +')'" class="imgCardData"></div>
                    <div class="text-center mt-3">
                      <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i
                          class="fas fa-minus icon-minus"></i></button>
                      <span class="span-cantidad">{{card.cantidad}}</span>
                      <button class="btn-minus btn-sm" (click)="utilService.add(card)"><i
                          class="fas fa-plus icon-plus"></i></button>
                    </div>
                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)"
                        style="margin-left: -1px;">Agregar</button>
                    </div>
                    <div class="text-center mt-3">
                      <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->
        </div>

        <div id="rowRightSliderTiendaMiel" style="position:absolute;right:-2%;top:43%;">

          <a href="#carousel-miel" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>

        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
      <br><br>
    </section>
    <!--
  <section class="wow fadeIn">
      <div class="row mt-6">
          <div class="col-xl-12">
              <div style="float:left;">
                  <h5 class="text-section mt-3 text-center " >FRESCOS</h5>
              </div>
              <div style="float:right;">
                  <img src="assets/img/icons/img-section-right.svg" class="img-section" />
                  <img src="assets/img/icons/img-section-right.svg" class="img-section" />
                  <img src="assets/img/icons/img-section-short.svg" class="img-section" />
              </div> 
              </div>
      </div>
          <div id="frescos" class="carousel slide carousel-multi-item mt-4" data-ride="carousel" >
            <ol class="carousel-indicators">
              <li data-target="#frescos" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}" *ngFor="let item of slidesFrescos; let i = index;first as isFirst"></li>
            </ol> 
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let item of slidesFrescos; let i = index;first as isFirst">

                <div class="row px-1 pt-3"  style="padding-left: 20px!important;padding-right: 20px!important;">
                  <div class="col-xl-3 col-lg-6 col-md-6 mb-4"  *ngFor="let card of item; let cardIndex = index">
                    <div class="card cardBerries">
                      <div class="card-body">
                        <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                        <h6 class="text-nombre-producto">{{card.nombre_producto | titlecase  }}</h6>
                        <span class="btn-card color-btn-primary">{{card.presentacion | lowercase}}</span>
                        <div class="row-prices">
                          <h6 class="font-weight-bold text-price mt-2">S/. {{card.precio_con_igv}}</h6>
                        </div>
                        <img class="card-img-top" src="{{card.imagen}}"
                          alt="Card image cap">
                          <div class="text-center mt-3">
                            <button class="btn-minus btn-sm" (click)="del(card)" [disabled]="card.cantidad < 2"><i class="fas fa-minus icon-minus"></i></button>
                            <span class="span-cantidad">{{card.cantidad}}</span>
                            <button class="btn-minus btn-sm" (click)="add(card)" ><i class="fas fa-plus icon-plus"></i></button>
                          </div>
                          <div class="text-center mt-3">
                            <button type="button" class="btn btn-add-shop btn-rounded" (click)="addToCart(card)">Agregar</button>
                          </div>
                        <div class="text-center mt-3">
                          <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                        </div>
                      </div>
                    </div>
                  </div>      
                </div>
              </div>

            </div>
            <div style="position:absolute;right:-2%;top:43%;">
                <a href="#frescos" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg" style="height:20px!important"  /></a>
            </div> 
          </div>
  </section>
-->

    <section class="wow fadeIn" data-category="pulpas">

      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-4">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

          </div>
          <div class="col-lg-4">
            <h5 class="text-section mt-3 text-center "><img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas.png" /> EXOTIC PULPS <img class="titleIconStore"
                src="assets/img/tiendas/titulo-esquinas3.png" /></h5>
          </div>

          <div class="col-lg-4" style="float:right;">
            <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
          </div>
        </div>
      </div>

      <!--Carousel Wrapper-->
      <div id="carousel-pulpas" class="carousel slide carousel-multi-item mt-4" data-ride="carousel"
        data-interval="10000">

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-pulpas" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesPulpas; let i = index;first as isFirst"></li>
        </ol>
        <!--/.Indicators-->
        <div id="rowRightSliderTiendaPulpas2"
          style="position:absolute;top:43%;transform: rotate(-180deg);z-index: 1;left: -2%;">
          <a href="#carousel-pulpas" data-slide="prev"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>
        </div>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item" [ngClass]="{active:isFirst}"
            *ngFor="let item of slidesPulpas; let i = index;first as isFirst">

            <div class="row px-1 pt-3" style="padding-left: 20px!important;padding-right: 20px!important;">
              <div class="col-xl-3 col-lg-6 col-md-6 mb-4" *ngFor="let card of item; let cardIndex = index">
                <div class="card cardBerries">
                  <!-- <div class="content-offer text-center"><span class="text-content-offer-primary">10 % </span><span
                          class="text-content-offer-secondary">DSCTO.</span></div> -->
                  <div class="card-body">
                    <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                    <div class="border-description-product slide-item" style="margin-bottom: 20px;">
                      <h6 class="text-nombre-producto" style="margin-bottom: 0px;">
                        {{card.nombre_producto | titlecase  }} <br> {{card.presentacion | titlecase}}</h6>
                      <div class="row-prices">
                        <h6 class="font-weight-bold text-price mt-2" style="margin-bottom: 0px;">S/.
                          {{card.precio_con_igv}}</h6>
                      </div>
                    </div>
                    <div [style.backgroundImage]="'url('+ card.imagen +')'" class="imgCardData"></div>
                    <div class="text-center mt-3">
                      <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i
                          class="fas fa-minus icon-minus"></i></button>
                      <span class="span-cantidad">{{card.cantidad}}</span>
                      <button class="btn-minus btn-sm" (click)="utilService.add(card)"><i
                          class="fas fa-plus icon-plus"></i></button>
                    </div>
                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)"
                        style="margin-left: -1px;">Agregar</button>
                    </div>
                    <div class="text-center mt-3">
                      <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--/.First slide-->
        </div>

        <div id="rowRightSliderTiendaPulpas" style="position:absolute;right:-2%;top:43%;">

          <a href="#carousel-pulpas" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg"
              style="height:20px!important" /></a>

        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
      <br><br>
    </section>



    <!--
  <section class="wow fadeIn mb-5 " data-category="deshidratados">

    <div class="container">
      <div class="row mt-6">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>

        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center ">DESHIDRATADOS</h5>
        </div>

        <div class="col-lg-4" style="float:right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
        </div>
      </div>
    </div>
          <div id="carousel-deshidratados" class="carousel slide carousel-multi-item mt-4" data-ride="carousel" >
      

            <ol class="carousel-indicators">
              <li data-target="#carousel-deshidratados" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}" *ngFor="let item of slidesDeshidratados; let i = index;first as isFirst"></li>
            </ol>

            <div class="carousel-inner" role="listbox">

              <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let item of slidesDeshidratados; let i = index;first as isFirst">

                <div class="row px-1 pt-3"  style="padding-left: 20px!important;padding-right: 20px!important;">
                  <div class="col-xl-3 col-lg-6 col-md-6 mb-4"  *ngFor="let card of item; let cardIndex = index">
                    <div class="card cardBerries">
                      <div class="card-body">
                        <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                        <h6 class="text-nombre-producto">{{card.nombre_producto | titlecase  }}</h6>
                        <span class="btn-card color-btn-primary">{{card.presentacion | lowercase}}</span>
                        <div class="row-prices">
                          <h6 class="font-weight-bold text-price mt-2">S/. {{card.precio_con_igv}}</h6>
                        </div>
                        <img class="card-img-top" src="{{card.imagen}}"
                          alt="Card image cap">
                          <div class="text-center mt-3">
                            <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i class="fas fa-minus icon-minus"></i></button>
                            <span class="span-cantidad">{{card.cantidad}}</span>
                            <button class="btn-minus btn-sm" (click)="utilService.add(card)" ><i class="fas fa-plus icon-plus"></i></button>
                          </div>
                          <div class="text-center mt-3">
                            <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)">Agregar</button>
                          </div>
                        <div class="text-center mt-3">
                          <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                        </div>
                      </div>
                    </div>
                  </div>      
                </div>
              </div>

            </div>
           
            <div style="position:absolute;right:-2%;top:43%;">
                
                <a href="#carousel-deshidratados" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg" style="height:20px!important"  /></a>
            </div> 

      
          </div>

      
  </section>
-->




  </div>

</main>

<!-- Modal Filtro Mobile -->
<div class="modal fade" id="modal-filtro-mobile" tabindex="-1" role="dialog" aria-labelledby="modal-filtro-mobile"
  aria-hidden="true">

  <div class="modal-dialog modal-sm" role="document" style="top: 12%;">
    <div class="modal-content" style="padding:0px !important;width: 70%">

      <div class="modal-body">
        <div class="myBtnContainer">
          <button class="btn-cat" id="promociones"><img src="assets/img/icons/icon-promociones.svg"
              class="mr-2 mb-1" />#PROMOCIONES</button>
          <button class="btn-cat" id="congelados"> <img src="assets/img/icons/icon-congelados.svg"
              class="mr-2 mb-1" />#CONGELADOS</button>
          <button class="btn-cat" id="mermeladas"> <img src="assets/img/icons/icon-mermeladas.svg"
              class="mr-2 mb-1" />#MERMELADAS</button>
          <button class="btn-cat" id="mieles"> <img src="assets/img/icons/icon-miel-abeja.svg" class="mr-2 mb-1" />#MIEL
            DE ABEJA</button>
          <button class="btn-cat" id="pulpas"><img src="assets/img/icons/icon-pulpas.svg"
              class="mr-2 mb-1" />#EXOTIC PULPS</button>


        </div>

        <button class="btn-aceptar-blog-mobile" data-dismiss="modal" (click)="okFiltros()">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Cerrando Filtro Modal Mobile -->