.btn-cat {
    padding: .6rem .775rem .5rem .775rem;
    font-size: 1rem;
    margin: .3rem .4rem;
    border-radius: 22.5px;
    cursor: pointer;
    text-transform: uppercase;
    border: solid 1px #cad2d5;
    color: #cad2d5;
    font-weight: bold;
    outline: none;
    background: transparent;
}
.btn-cat:hover{

    border: solid 1px #2c385f;
    background-color: #2c385f;
    color:#fff;
    transition: .35s;

}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -12%;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators li {
    width: 14px!important;
    height: 14px!important;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #8be1b0;
    margin-top: 0px !important;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    background-color: #cad2d5;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
}

.filterDiv {

    display: none ;
  }
  
  .show {
    display: block;
    margin-bottom: 4rem !important;
  }

  .active-button {
    border: solid 1px #2c385f;
    background-color: #2c385f !important;
    color:#fff;
  }
  .normal{
      border: none;
      background: #fff !important;
      
  }

  .margin-button-buscar{
    margin-top: .3rem;
    margin-right: .5rem;
  }

  .btn-buscar-producto{
    width: 48px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 1px #778489;
    background: #fff;
  }

  #section-mobile{
    display: none ;
  }



 
@media screen and (max-width: 776px){

    .header-tienda{
        display: none;
    }

    .btn-cat{
        background: #fff;
    }

    .carousel-indicators{

        bottom: -12%;

    }

}


.state-container-dropdown{
    position: absolute;
    z-index: 1;
    width: 300px;
    max-height: 200px;
    height: 200px;
    background:#fff;
    overflow-y: auto;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.09);
    border-radius: 11px;

}

.elements-search-dropdown{
 padding: 10px 20px;
 color: #778489;
 text-transform: capitalize;
 font-weight: bold;

}

.elements-search-dropdown:hover{

    background: #cad2d5;

}



@media (max-width: 575.98px) { 
  
  .titleIconStore{
    display: inline-block!important;
  }


    #section-desktop{
        display: none !important;
      }
     
      #section-mobile{
        display: block;
      }

      .btn-filtro-mobile{
        padding: .5rem .95rem;
        font-size: 1rem;
        margin: .5rem;
        border-radius: 22.5px;
        cursor: pointer;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        border: solid 2px #cad2d5;
        color: #cad2d5;
        font-weight: bold;
        outline: none;
        background: transparent;
       }

       .label-limpiar-filtro{
        color: #acb6bb;
        font-weight: bold;
        margin-top: 1.3rem;
       }

       .btn-aceptar-blog-mobile{

        padding: .5rem 1.5rem;
        font-size: .9rem;
        margin: .5rem;
        border-radius: 22.5px;
        cursor: pointer;
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        border: none;
        color: #fff;
        font-weight: bold;
        outline: none;
        background-color: #8be1b0;
        width: 92%;
    
     }

     .btn-filtro-mobile-active{
        background:#cad2d5;
        color: #fff;
      }

      #contenedor-productos{
        margin-top: -40px;
      }

}




.titleIconStore{
  display: none;
  height: 20px;

}











