/*!
 * bsStepper v{version} (https://github.com/Johann-S/bs-stepper)
 * Copyright 2018 - {year} Johann-S <johann.servoire@gmail.com>
 * Licensed under MIT (https://github.com/Johann-S/bs-stepper/blob/master/LICENSE)
 */

 .bs-stepper .step-trigger {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color:  #2c385f;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
    transition: background-color .15s ease-out, color .15s ease-out;
  }
  
  .bs-stepper .step-trigger:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .bs-stepper .step-trigger:disabled,
  .bs-stepper .step-trigger.disabled {
    pointer-events: none;
    opacity: .55;
    color:#e3e8e9;
  }
  
  .bs-stepper .step-trigger:focus {
    color: #2c385f;
    outline: none;
  }
  
  .bs-stepper .step-trigger:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .06);
  }
  
  @media (max-width: 520px) {
    .bs-stepper .step-trigger {
      flex-direction: column;
      padding: 10px;
    }
  }
  
  .bs-stepper-label {
    display: inline-block;
    margin: .25rem;
    width: 90px;
    white-space: normal;
    text-align: left;
    line-height: 1.4;
    font-size: 14px;
  }
  
  .bs-stepper-header {
    display: flex;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;

  }
  
  @media (max-width: 520px) {
    .bs-stepper-header {
      margin: 0 -10px;
      text-align: center;
      padding-left:0rem;
      padding-right: 0rem;
    }
  }
  
  .bs-stepper-line,
  .bs-stepper .line {
   /* flex: 1 0 32px; */
    /*min-width: 1px;
    min-height: 1px;*/
    background-image: linear-gradient(to right, #2c385f 40%, rgba(255, 255, 255, 0) 20%);
    background-position: center;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    padding: 10px 10px;
    margin: auto;
  }
  
  @media (max-width: 400px) {
    .bs-stepper-line,
    .bs-stepper .line {
      flex-basis: 20px;
    }
  }
  
  .bs-stepper-circle {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: .5em 0;
    margin: .25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d;
    border-radius: 1em;
    font-family: Ubuntu;
  }
  
  .active .bs-stepper-circle {
    background-color:  #2c385f;
  }
  
  .bs-stepper-content {
    padding: 25px 20px 20px;
  }
  
  @media (max-width: 520px) {
    .bs-stepper-content {
      padding: 0;
    }
  }
  
  .bs-stepper.vertical {
    display: flex;
  }
  
  .bs-stepper.vertical .bs-stepper-header {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
  }
  
  .bs-stepper.vertical .bs-stepper-pane,
  .bs-stepper.vertical .content {
    display: block;
  }
  
  .bs-stepper.vertical .bs-stepper-pane:not(.fade),
  .bs-stepper.vertical .content:not(.fade) {
    display: block;
    visibility: hidden;
  }
  
  .bs-stepper-pane:not(.fade),
  .bs-stepper .content:not(.fade) {
    display: none;
  }
  
  .bs-stepper .content.fade,
  .bs-stepper-pane.fade {
    visibility: hidden;
    transition-duration: .3s;
    transition-property: opacity;
  }
  
  .bs-stepper-pane.fade.active,
  .bs-stepper .content.fade.active {
    visibility: visible;
    opacity: 1;
  }
  
  .bs-stepper-pane.active:not(.fade),
  .bs-stepper .content.active:not(.fade) {
    display: block;
    visibility: visible;
  }
  
  .bs-stepper-pane.dstepper-block,
  .bs-stepper .content.dstepper-block {
    display: block;
  }
  
  .bs-stepper:not(.vertical) .bs-stepper-pane.dstepper-none,
  .bs-stepper:not(.vertical) .content.dstepper-none {
    display: none;
  }
  
  .vertical .bs-stepper-pane.fade.dstepper-none,
  .vertical .content.fade.dstepper-none {
    visibility: hidden;
  }