<!--<div class="content-tienda"></div> -->
<main style="margin-top:10%;">
  <section class="wow fadeIn mb-5">
    <div class="container">
      <div class="row mt-6">

        <div class="col-xl-12">
          <h1 class="mt-3 text-center color-404 ">404</h1>
          <h1 class="mt-3 text-center color-404">Página no encontrada</h1>
          <a href="javascript:void(0)" class="d-block text-center mt-3 text-price" routerLink="/">Ir a inicio</a>
        </div>
  
        
      </div>

    </div>
   
  </section>
</main>