.title-detail-article{
    font-size: 48px;
    font-weight: bold;
    color: #778489;
}

.cover-detail .img-principal-detail{

  object-fit: cover;
  width: 100%;
  height: 359px;

}

.cover-relacion .img-detail-relacion{

  object-fit: cover;
  width: 328px;
  height: 328px;

}

.content-article{
    font-size: 18px;
    color: #778489;
    line-height: 2.06;
}

.subtitle-detail-article{
  font-size: 18px !important;
  font-weight: 800;
  color: #778489;

}

.description-subtitle-detail-article{
  font-size: 18px !important;
  color: #778489;

}

.volver-blog{
    font-weight: bold;
    color: #2c385f;
}
.img-article{
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    display:block;
    margin:auto;
}

.title-article{
  position: absolute;
  top: 110px;
  left: 16px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
  max-width: 310px;
  line-height: 0.95;
  }

  .enlace-article{
    position: absolute;
    top: 290px;
    left: 16px;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1.67px;
    color:#fff;
    margin-left: 20px;

  }

  .hashtag {
    position: absolute;
    top: 18px;
    left: 16px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
  }

  @media (max-width: 575.98px) { 

    .title-detail-article{
      font-size: 32px;
      padding-left: 2rem;
      padding-right: 1rem;
    }

    .div-articulo-relacionado{
      margin-top: 2rem !important;
    margin-bottom: 2rem !important;

    }

    .hashtag{
      margin-left: 10px;
    }

    .cover-relacion .img-detail-relacion {
      width: 100%;
      height: 250px;
      margin-bottom: 1.5rem;
  }

  .title-article{
    position: absolute;
    top: 130px;
    left: 16px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    max-width: 410px;
  }

  .cover-detail .img-principal-detail {
    height: 213px;
}

  .enlace-article {
    position: absolute;
    top: 215px;
    left: 16px;
    margin-left: 12px;
}

}


@media (min-width: 768px) and (max-width: 991.98px) { 

  .title-detail-article{
    font-size: 32px;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .div-articulo-relacionado{
    margin-top: 2rem !important;
  margin-bottom: 2rem !important;

  }

  .hashtag{
    margin-left: 10px;
  }

  

.title-article{
  position: absolute;
  top: 70px;
  left: 16px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  max-width: 410px;
}

.enlace-article {
  position: absolute;
  top: 215px;
  left: 16px;
  margin-left: 12px;
}


}
