<!--<div class="content-tienda"></div> -->
<main style="margin-top: 10%;">
    
    <section  class="wow fadeIn my-5">
        <div class="container">
            <div class="col-lg-12" *ngFor="let item of arrayDetail">
              <a routerLink="/blog" class="volver-blog"><img src="assets/img/icons/icon-volver-blog.svg" />&nbsp;&nbsp;VOLVER</a>
                <h2 class="title-detail-article text-center my-5">{{item.title.rendered}}</h2>
                <div class="cover-detail">
                  <img src="{{item._embedded['wp:featuredmedia']['0'].source_url}}" class="img-principal-detail">
                </div>
                <div *ngIf="item._embedded['wp:term']['0']['0'].name == 'Recetas'">
                     <div class="mt-3">
                      <div class="d-flex">
                        <h6 class="subtitle-detail-article mt-4">Dificultad: </h6>
                        <div class="ml-4" style="margin-top: 1.2rem !important;">
                          <img src="assets/img/icons/icon-star-active.svg" class="mr-1"/>
                          <img src="assets/img/icons/icon-star-active.svg" class="mr-1"/>
                          <img src="assets/img/icons/icon-star-active.svg" class="mr-1"/>
                          <img src="assets/img/icons/icon-star-disabled.svg" class="mr-1"/>
                          <img src="assets/img/icons/icon-star-disabled.svg" />
                        </div>
                      </div>
                      <div class="d-flex">
                        <h6 class="subtitle-detail-article mt-3">Tiempo:</h6>
                        <h5 class="description-subtitle-detail-article mt-3 ml-5">20 min</h5>
                      </div>
                     </div>
                </div>
                <p class="content-article my-4" [innerHTML]='item.content.rendered'></p>

                <a routerLink="/blog" class="volver-blog "><img src="assets/img/icons/icon-volver-blog.svg" />&nbsp;&nbsp;VOLVER</a>
            
            </div>
        </div>
    </section>
    <section class="wow fadeIn mb-7">
      <div class="container">

        <div class="row my-6 div-articulo-relacionado">
          <div class="col-xl-2">
            <img src="assets/img/icons/img-section-short.svg" class="img-section" />
  
          </div>
          <div class="col-xl-4">
            <h5 class="text-section mt-3 text-center ">ARTÍCULOS RELACIONADOS</h5>
          </div>
  
          <div class="col-xl-6" style="float:right;">
            <img src="assets/img/icons/img-section-short.svg" class="img-section" />
            <img src="assets/img/icons/img-section-right.svg" class="img-section" />
  
  
          </div>
        </div>

        <div class="row my-5">
          <div class="col-12 col-md-12 col-lg-12  col-xl-4  cover-relacion" *ngFor="let item of arrayArticles">
            <img src="{{item._embedded['wp:featuredmedia']['0'].source_url}}" class="img-fluid ground-black img-detail-relacion" />
            <div class="hashtag"># {{item._embedded['wp:term']['0']['0'].name}}</div>
                <div class="title-article">{{item.title.rendered}}</div>
             <!-- <div class="enlace-article"><a routerLink="/blog/{{item.id}}/{{item.slug}}" class="text-white">LEER MÁS <img src="assets/img/icons/icon-leermas-blog.svg" class="icon-leermas-blog" /></a></div> -->
             <div class="enlace-article"><a href="javascript:void(0)" (click)="redirectOtherArticle(item.id , item.slug)" class="text-white">LEER MÁS <img src="assets/img/icons/icon-leermas-blog.svg" class="icon-leermas-blog" /></a></div>
            </div>
          <!--
          <div class="col-xl-4">
            <img src="https://images.pexels.com/photos/1313255/pexels-photo-1313255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid ground-black" />
          </div>
          <div class="col-xl-4">
            <img src="https://images.pexels.com/photos/1313255/pexels-photo-1313255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid ground-black" />
          </div>
          <div class="col-xl-4">
            <img src="https://images.pexels.com/photos/1313255/pexels-photo-1313255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid ground-black" />
          </div>
        -->
        </div>

      </div>
      
    </section>
</main>