.nav-berries{
  padding: 0rem 0rem !important;
  position: fixed;
  background: transparent;
  z-index:1030;
}
.fondito-berries{
  background:#fff;
}
.navegacion{
display: none;
}

.text-licuadora-registro{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #2c385f;
}


.title-cambiar-contraseña {
  margin-top: 1.25rem !important;
  font-size: 20px;
  font-weight: 600;
  color: #778489;
  text-align: center;
}

.text-carrito-inicie-sesion{
  color: #8be1b0 !important;
  font-size: 14px !important;
  text-align: center !important;
  display: block !important;
}
.text-descripcion-inicie-sesion{
  color: #778489;
  font-size: 14px;
}

.desactivo{
  background:#cad2d5 !important;
  color: #fff !important;
}


agm-map {
  height: 391px;
 }

 .img-smothie{
   display: block;
   text-align: center;
 }

 
.message-no-products{
  font-size: 20px;
  font-weight: 600;
  color: #778489;
  text-align: center;
}
.sub-menu .berries-submenu-text:hover {
  color: rgba(255, 255, 255, .75) !important;
}
.navbar .nav-item .nav-link{
color: #fff ;
}
.navbar .nav-item .nav-link:hover , .color-nav:hover{
color: #2B385F !important;
/* font-weight: 600 !important; */
}
.dropdown-toggle:hover:after{
border-color: #2B385F !important;
transition: 0s !important;
}
.rounded-market:hover{
color: #2B385F;
text-shadow: 0 0 #2B385F;
border: solid 2px #2B385F !important;
}
.dropdown-toggle[aria-expanded="true"]   {
transition: 0.5s !important;
color: #2B385F !important;
}
.dropdown-toggle[aria-expanded="true"]:after{
transition: 0.5s !important;
border-color: #2B385F !important;
}
.rounded-market{
  width: 222px;
  height: 43px;
  border-radius: 21px;
  border: solid 2px #fff !important;
  font-size: 18px ;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 white;
}
.icon-market{
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
.icon-cart , .icon-user{
  width: 40px;
  height: 40px;
  margin-top:-7px;
}
.circle-cart{
height: 26px;
width: 26px;
background-color: #ffc359;
border-radius: 50%;
display: inline-block;
top: 10px;
left: -25px;
position: relative;
text-align: center;
font-size: 14px;
font-weight: bold;
font-family: 'Ubuntu';
padding-top: 2px;
}
.logo-berries{
  padding-top: 0rem !important; 
}
.encabezado-register{
font-size: 25px;
font-weight: bold;
text-align: right;
color: #2c385f;
}
.span-register{
font-size: 12px;
text-align: center;
color: #778489;
margin-bottom: 0px !important;
}
.stepper-register{
width:29px;
height:29px;
border-radius:50%;
background-color:#2B385F;
color:white;
font-family: 'Ubuntu';
font-size:18px;
padding: 6px 10px;
font-weight: bold;
}
.text-stepper{
font-size: 14px;
color: #2c385f;
font-weight: 800;
}

.div-btn-register{
  margin:auto;
  width: 100%;
  padding: 0 .75rem;
}
.btn-register{
border-radius: 21.5px;
  background: #8be1b0 ;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.56px;
  text-align: center;
  color: #fff;
  box-shadow: none !important;
  padding: .70rem 7rem;
  width: 100%;
}

.btn-continuar-stepper1{
  margin: 0!important;
  border-radius: 21.5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.56px;
  text-align: center;
  width: 100%;
  color: #fff;
  box-shadow: none !important;
  padding: .70rem 0;
  background:#cad2d5;
  color: #fff !important;

}

#overlay-spinner1{	
	position: fixed;
	top: 0;
	z-index: 9999999999;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.padding-image-stepper-registro{
  padding-right: 4rem! important;
}

.image-stepper-registro{

  margin-top: 4rem !important;
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.div-text-stepper-registro{
  float: right;
  max-width: 200px;
}

.stepper-2-direcciones{
  padding-right: 4rem;
}


.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #8be1b0 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% { 
		transform: rotate(360deg); 
	}
}
.is-hide{
	display:none;
}
@media (min-width: 1200px){
  .container {
      max-width: 1300px !important;
  }
  .col-xl-frescos {
      flex: 0 0 13%;
      max-width: 13%;
  }
  .col-xl-miel {
      flex: 0 0 18.5%;
      max-width: 18.5%;
  }
  .col-xl-deshidratados {
      flex: 0 0 20%;
      max-width: 20%;
  }
}
.submenu1{
  width:700px;
  border-radius: 29px;
  background-color: rgba(0, 0, 0, 0.24);
  left: -50%;
  top:150%;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.6px;
  box-shadow: none !important;
} 
.submenu2 {
  width:456px;
  border-radius: 29px;
  background-color: rgba(0, 0, 0, 0.24);
  left: -50%;
  top:150%;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.6px;
  box-shadow: none !important;
} 

.submenu3{
  width:230px;
  border-radius: 29px;
  background-color: rgba(0, 0, 0, 0.24);
  left: -50%;
  top:150%;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.6px;
  box-shadow: none !important;
} 
/*
@media (min-width: 576px) {
  .submenu1{
      width:800px;
      border-radius: 10em;
      left: -40%;
  } 
} 
@media (min-width: 768px) { 
  .submenu1{
      width:500px;
      left: 0%;
  } 
}
@media (min-width: 1200px) { 
  .submenu1{
      width:800px;
      border-radius: 10em;
      left: -40%;
  } 
}
*/
.berries-submenu-text{
    font-size: 12px !important;
    letter-spacing: 1.6px !important;
    text-align: center !important;
    font-weight: bold !important;
    color: #fff !important;
}
.navbar-nav .menu{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.87px;
  color: #fff;
  margin-top: 2px;
  padding-right: 10px;
}
.menu-animate {
  position: relative;
  animation: animateright 0.4s
}
@keyframes animateright {
  from {
      right: -300px;
      opacity: 0
  }
  to {
      right: 0;
      opacity: 1
  }
}
.sidenav {
  height: 100%;
  width: 0;
  max-width: 400px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;  
  padding-top: 10px;
}
.sidenavmovil{
  display: none;
}

@media (max-width: 768px) {

  .sidenavmovil {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1049;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;  
    padding-top: 10px;
    display: block !important;
    }
    .input-cart-login{
      width: 40% !important;
    }
    .btn-cart-login{
      width: 40% !important;
    }
    .texto-margen{
      margin-right: 57%;
    }

  .icon-cart {
    margin-top: 5px !important;
  }
  .icon-user{
    margin-top: 7px !important;
  }
  #icon-tienda{
    margin-top: 5px !important;
  }
  .icon-barra{
    margin-top: 15px !important;
  }
  .title-carrito{
    width: 80% !important;
    }
    .sidenav-close-boton{
      margin-left: 100% !important;
    }
    .message-no-products{
      font-size: 15px;
    }
    .btn-carrito-login {
      width: 90% !important;
    }
    .texto-margen{
      margin-right: 56% !important;
    }
    .message-no-products{
    margin-left: -4% !important;
    }
    .titulo-login{
      width: 29% !important;
    }
    .bs-stepper-header {
       padding-left: 0rem;
       padding-right: 0rem; 
    }
    .image-stepper-registro{
      display: block;
      margin: auto;
    }
    .div-text-stepper-registro{
      max-width: 180px;

    }
    
    .stepper-2-direcciones{
      padding-right: 0rem !important;
    }
    .btn-register{
      padding: .70rem 3rem !important;
    }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
.title-cart-login{
  margin-top: 1.25rem !important;
  margin-left: 5rem !important;
  font-size: 20px;
  font-weight: 600;
  color: #778489;
}
.input-cart-login{
  border-radius: 21.5px;
  border: solid 1px #cad2d5;
  height: 40px;
  text-align:center;
  font-size: 14px;
}
.input-cart-login::-webkit-input-placeholder {
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
.input-cart-login:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
  .input-cart-login::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
  .input-cart-login:-ms-input-placeholder {  
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
  .btn-cart-login{
  border-radius: 21.5px;
  background: #8be1b0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.56px;
  text-align: center;
  color:#fff;
  width: 100%;
  box-shadow: none !important;
  padding: .70rem 2.14rem;
  }
  .link-cart-login{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color:#778489;
  text-decoration: underline;
  }
  .sidenav-close-button{
  font-size: 40px;
  margin-left:1.5rem !important;
  color:#cad2d5;
  }
  .field-icon {
  float: right;
  margin-right: 20px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  }

  .input-direccion-entrega{
    padding-right: 35px;
    background-image: url("src/assets/img/icons/icon-marker.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 15px center;
  }
  .btn-aceptar-google{
  border-radius: 21.5px;
  background: #8be1b0 !important;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.56px;
  text-align: center;
  color:#fff;
  
  }
  .navegacion{
    display: none !important;
  }
  .navegacion nav{
    display: none;
  }
  .div-opacity{
    height: 500rem;
    width: 0; 
    position: fixed;
   /* z-index: 400; */
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
  }
  .div-opacitymovil{
    height: 500rem;
    width: 0; 
    position: fixed;
    z-index: 998;
    left: 0;
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    top: 0;
    
    }
  .border-radius-modal-datospersonales{
    border-radius: .5rem;
  }

  .padding-image-stepper-registro{
   padding-right: 0rem !important;
  }

  .div-text-stepper-registro{
   float: none;
   display: block;
    margin: auto;
  }
  .encabezado-register{
   float:right;
  }
  

  .modal-body-registrar{
    padding-right: 1rem !important;
    padding-left: 1rem !important;

  }

 

  
  @media (max-width: 320px){
    .icon-cart , .icon-user {
      width: 30px;
      height: 30px;
      margin-top:-7px;
      margin-left: -3px !important;
    }
    .icon-barra{
      width: 24px;
      height: 24px;
    }
    .circle-cart{
    top: -14px !important;
    left: -5px !important;
    }
    .navegacion nav{
      margin-top: -60px !important;
    }
    .ancho-imagen {
      width: 60% !important;
    }
    .input-modal{
      width: 90% !important;
    }
    .btn-registro{
    padding: .70rem 5rem !important;
    margin-top: 5px !important;
    }

  }

  

  @media (max-width: 778px){
    .circle-cart{
      top: -10px !important;
      left: -20px !important;
    }
    .icon-user{
      width: 40px;
    }
    .icon-cart{
      width: 40px;
    }
    .icon-barra{
      width: 30px;
    }
    .logo-margen{
      margin-left: 8%;
    }
    #icon-tienda{
      width: 40px;
    }
  }
  @media screen and (max-width: 778px){
    .nav-berries{
      display: none;
     }
     .circle-cart{
      height: 20px;
      width: 20px;
      /*top: -20px;
      left: -7px;*/
      font-size: 12px !important;
      color:#fff !important;
     }
     .navegacion{
      width: 100%;
      /*background: #2B385F;*/
      z-index: 1000 !important;
      display: block !important;
    /*  height: 70px; */
    }
    .boton-menu{
      display: none;
    }
    .boton-menu strong{
      color: #fff;
      font-size: 25px;
      cursor: pointer;
      display: block;
      /*margin-top: 5px;*/
    }
    .menu , .children{
      list-style: none;
      padding: 0;
    }
    .menu li{
      display: inline-block;
      position: relative;
      text-transform: uppercase;
    }
    .menu li a{
      display: block;
     padding: 15px; 
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 1.6px;
     /* padding: 15px 10px; */
    }
    .children li a{
      padding-left:1rem;
    }

    .boton-menu{
      width: 90%;
      margin: auto;
      display: block;
    /*  padding: 8px 0; */
        /*padding-top:8px;*/
    }
    .navegacion nav{
    position: fixed;
      left: -100%;
      width: 65%;
      height: 100%;
    /* background: linear-gradient( rgba(0,0,0, .5),rgba(0,0,0, .5)), url("https://images.pexels.com/photos/1395958/pexels-photo-1395958.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat;
      */
      background-color: #2c385f;
      z-index: 1000 !important;
      margin: 0;
      display: block;
      margin-top: -95px;
    }
    .menu li{
      display: block;
    /*  border-bottom:1px solid rgba(255,255,255,.5); */
    }
    .ancho-imagen {    
      width: 130px !important;
      position: absolute;
      left: 34%;
    }

    .logo-margen{
      margin-left: 8%;
    }
  }
  .color-nav{
    /*color: #778489 !important; */
    color: #778489;
}

.border-button-nav{
  border: solid 2px #778489 !important;
}
#img-responsivo-banner{
  width: 170px;
  bottom: 40px;
  position: absolute;
  left: 20px;
}






.border-button-nav{
border: solid 2px #778489 !important;


}

@media (max-width: 475px){

.encabezado-register{
  font-size: 13px;
  text-align: center;
  margin: 10px;
}


.navegacion nav{
margin-top: -70px;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 100;
top: 0;
right: 0;
background-color: #fff;
overflow-x: hidden;
transition: 0.5s;  
padding-top: 10px;
}

.image-stepper-registro{
  margin-top: 2rem !important;
  float:none;
  display:block;
  margin:auto;
  width: 30%;
}



.circle-cart{
top: 15px;
left: -20px;
}
.ancho-imagen {
  width: 130px !important;
  position: absolute;
  left: 34%;
}
.icon-cart , .icon-user {
width: 30px;
height: 30px;
margin-top:7px !important;
}
.icon-barra{
width: 24px;
height: 24px;
}


#icon-tienda{
  width: 30px;
  margin-top: 5px;
  }

  .stepper-2-direcciones{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  #btn-volver  {
   display: block;
   margin: auto;
   margin-left: 0rem;
   width: 100%;
  }

  #btn-finalizar , #btn-volver{
    margin-top: 1rem;
    display: block;
   width: 100%;
  }

  

  
  

 
}

@media (max-width: 425px){
.circle-cart{
top: -17px !important;
left: -6px !important;
}
.navegacion nav{
margin-top: -75px;
}
.ancho-imagen {
  width: 130px !important;
  position: absolute;
  left: 34%;
}
.icon-cart , .icon-user {
width: 30px;
height: 30px;
margin-top:-7px;
}
.icon-barra{
width: 24px;
height: 30px;
margin-top: 11px !important;
}
.input-cart-login{

width: 33% !important;
}
.btn-cart-login {
  width: 33% !important;
}
.btn-carrito-login {
  width: 80% !important;
}
.btn-carrito-login {
  width: 90% !important;
}
.texto-margen{
  margin-right: 65% !important;
}
.titulo-login{
  width: 30% !important;
}
.bs-stepper-label {
  font-size: 15px !important;
  width: 100px;
  text-align: center;
}
  .bs-stepper-header{
  padding-left: 0rem;
  }

  .div-text-stepper-registro{
    max-width: 170px;
  }
}


.sidenav-close-button{
font-size: 40px;
margin-left:1.5rem !important;
color:#cad2d5;
}

@media (max-width: 1024px){
.container{
width: 900px  !important;
}
.logo-berries img{
height: 80px;
margin-left: -50px;
margin-top: -12px;
}
.icon-cart {
margin-left: 0px;
}
.icon-user{
margin-left: -1px;
}
.navbar-expand-lg .navbar-nav .nav-link{
padding-right: 0px;
margin-top: 10px;
}
.circle-cart{
top: -15px ;
left: 20px ;

}
.btn-cart-login{
width: 33%;
}
.btnlogin{
  width: 33% !important;
}
.input-cart-login{
width: 33%;
}
.title-cart-login{
width: 40%;
}
.titulo-login{
  width: 23% ;
}
.cerrar-movil{
  margin-left: -6% !important;
}
.titulo-carrito{
  width: 33% !important;
  margin-left: 3rem !important;
}
.sidenav-close-button {
margin-left: -190% !important; 

}
.texto-margen {
margin-right: 65%;
}
.input-login{
width: 100% !important;
}
.margen-descripcion{
margin-left: -7%;
}
.margen-precios{
margin-left: -48%;
}
.mr-5{
margin-right: 0rem!important;
}
.message-no-products{
  margin-left: -55%;
}
}

@media (max-width: 375px){

  .navegacion nav{
  margin-top: -65px;
  }
  .btn-registro{
    padding: .70rem 5rem !important;
    margin-top: 5px !important;
    }
  
  }

  :host >>> .select2-container--default .select2-selection--single{
    border-radius: 21.5px !important;
    border: solid 1px #cad2d5 !important;
    text-align: center !important;
    font-size: 14px !important;
    height: 40px !important;
    padding: .375rem .75rem !important;
  }

  :host >>> .select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #cad2d5 !important;

  }

  :host >>> .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px !important;
  }

  :host >>> .select2-container--default .select2-selection--single .select2-selection__arrow b {

    background: url("src/assets/img/icons/icon-dropdown-select2.svg") no-repeat;
    margin-left: -15px;
    height: 10px;
    width: 10px;
    border: none !important;


  }

  .modal-dialog .modal-content {
     padding: 0px !important; 
     border-radius: 0px !important; 
}


.navigationFixed{
  position: fixed!important;
}


  
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 25px;
  border: solid 1px #cad2d5;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #cad2d5;
  cursor: pointer;
  text-align-last: center;
  text-align: -webkit-center;
  border: solid 1px #cad2d5;

}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #8be1b0;
}
