<header>
  <nav id="scrolling-navbar" class="navbar fixed-top navbar-expand-lg  scrolling-navbar nav-berries">

    <div class="container">

      <a class="navbar-brand logo-berries" routerLink="/">
        <img src="assets/img/logo/logo-header.svg" height="130" alt="mdb logo">
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
        aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent2" style="margin-bottom:12px !important;">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown mega-dropdown menu">
            <a class="nav-link dropdown-toggle" id="submenu-productos" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">PRODUCTOS</a>

            <div class="dropdown-menu v-2 z-depth-1 py-3 px-3 submenu1" aria-labelledby="submenu-productos">

              <div class="col-md-6 col-xl-12 sub-menu">
                <div class="row">
                  <div class="col-md-6 col-xl-3 sub-menu">
                    <a routerLink="/productos/mermeladas" class="berries-submenu-text">MERMELADAS</a>
                  </div>
                  <div class="col-md-6 col-xl-3 sub-menu">
                    <a routerLink="/productos/congelados" class="berries-submenu-text">CONGELADOS</a>
                  </div>
                  <!-- <div class="col-md-6 col-xl-frescos sub-menu">
                    <a routerLink="/productos/frescos" class="berries-submenu-text">FRESCOS</a>
                  </div> -->
                  <div class="col-md-6 col-xl-3 sub-menu">
                    <a routerLink="/productos/miel-de-abeja" class="berries-submenu-text">MIEL DE ABEJA</a>
                  </div>
                  <!-- <div class="col-md-6 col-xl-deshidratados sub-menu">
                    <a routerLink="/productos/deshidratados" class="berries-submenu-text">DESHIDRATADOS</a>
                  </div>
                -->
                  <div class="col-md-6 col-xl-3 sub-menu">
                    <a routerLink="/productos/pulpas" class="berries-submenu-text">EXOTIC PULPS</a>
                  </div>
                </div>



              </div>

            </div>
          </li>

          <li class="nav-item dropdown mega-dropdown menu">
            <a class="nav-link dropdown-toggle" id="submenu-quienes-somos" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">QUIÉNES SOMOS</a>
            <div class="dropdown-menu v-2 z-depth-1 py-3 px-3 submenu2" aria-labelledby="submenu-quienes-somos">

              <div class="col-md-6 col-xl-12 sub-menu">
                <div class="row">
                  <div class="col-md-6 col-xl-5 sub-menu">
                    <a routerLink="/quienes-somos/la-empresa" class="berries-submenu-text">LA EMPRESA</a>
                  </div>
                  <div class="col-md-6 col-xl-7 sub-menu">
                    <a routerLink="/quienes-somos/nuestros-convenios" class="berries-submenu-text">NUESTROS
                      CONVENIOS</a>
                  </div>
                </div>



              </div>

            </div>
          </li>
          <li class="nav-item menu">
            <a routerLink="/contacto/formulario" class="nav-link">CONTACTO</a>
          </li>
          <!--<li class="nav-item dropdown mega-dropdown menu">
            <a class="nav-link dropdown-toggle" id="submenu-contacto" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">CONTACTO</a>
            <div class="dropdown-menu v-2 z-depth-1 py-3 px-3 submenu3" aria-labelledby="submenu-contacto">
              <div class="col-md-6 col-xl-12 sub-menu">
                <div class="row">
                  <div class="col-md-12 col-xl-12 sub-menu">
                    <a routerLink="/contacto/formulario" class="berries-submenu-text">ENVIAR MENSAJE</a>
                  </div>
                  <div class="col-md-6 col-xl-7 sub-menu">
                    <a routerLink="/contacto/libro-de-reclamaciones" class="berries-submenu-text">LIBRO DE
                      RECLAMACIONES</a>
                  </div>
                </div>
              </div>
            </div>
          </li>-->
          <li class="nav-item menu">
            <a routerLink="/blog" class="nav-link">BLOG</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item mr-5">
            <a routerLink="/tienda" class="nav-link border border-light rounded-market btn-berriesCustom">
              <img src="assets/img/icons/icon-market.svg" class="icon-market" id="img-market" />
              <span style="margin-left:15px;">Ir a la
                tienda</span>
            </a>


          </li>
          <!-- <li class="nav-item">
            <a routerLink="/carrito-compras" class="nav-link">
              <img src="assets/img/icons/icon-cart.svg" class="icon-cart" style="margin-left:2.5em;" /><span
                class="circle-cart">10</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" (click)="openCart()">
              <img src="assets/img/icons/icon-cart.svg" class="icon-cart" id="img-cart" /><span class="circle-cart"
                style="color:#fff !important;">{{cantidadCarritoData()}}</span>
            </a>
          </li>
          <!--  <li class="nav-item">
            <a routerLink="/mi-cuenta" class="nav-link">
              <img src="assets/img/icons/icon-user.svg" class="icon-user"/>
            </a>
          </li> -->
          <div id="navCart" class="sidenav">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 text-center">
                  <h4 class="title-cart-login">Mi carrito ( {{cantidadCarritoData()}} )</h4>
                </div>
                <div class="col-lg-3">
                  <a href="javascript:void(0)" (click)="closeCart()" class="sidenav-close-button"><img
                      src="assets/img/icons/icon-close-modal.svg" /></a>
                </div>
              </div>
              <div class="mt-4">
                <div [hidden]="(shoppingCartItems$ | async).length > 0">
                  <h4 class="message-no-products">No tiene productos agregados al carrito</h4>
                </div>

                <div class="row mb-4" *ngFor="let item of shoppingCartItems">

                  <div class="col-lg-2">
                    <img src="{{item.imagen}}" width="60" height="60" alt="Producto">

                  </div>
                  <div class="col-lg-4 margen-descripcion">
                    <h6 style="font-size: 14px;font-weight: bold;color: #778489; text-align: left;">
                      {{item.linea_de_negocio | titlecase }}</h6>
                    <h6 style="font-size: 14px;font-weight: bold;color: #778489; text-align: left;">
                      {{item.nombre_producto | titlecase }}</h6>
                    <h6 style="font-size: 14px;font-weight: 600;color: #cad2d5;font-family: Ubuntu; text-align: left;">
                      {{item.presentacion | lowercase}}</h6>

                  </div>

                  <div class="col-lg-6 text-right margen-precios">
                    <h6 style="font-size: 14px;color: #778489;font-family: Ubuntu;">{{item.cantidad}} x &nbsp;&nbsp;S/.
                      {{item.nuevo_precio}}</h6>
                    <h6 style="font-size: 14px;font-weight:bold;color: #778489;font-family: Ubuntu;">Total
                      &nbsp;&nbsp;S/. {{(item.cantidad * item.nuevo_precio) | number : '1.2-2'}}</h6>
                    <a href="javascript:void(0)" (click)="removeProduct(item)"
                      style="font-size: 14px;font-weight: 500;color:#8be1b0;text-decoration: underline;font-family: Ubuntu;"
                      class="mb-1">Remover</a>

                  </div>

                </div>
                <div class="col-lg-12" style="border-top: 1px solid #cad2d5;padding-top: 10px;margin-top: 10px;"
                  *ngIf="isButtonLoginDisabled">
                  <a class="d-block text-center" style="color:#8be1b0;font-size: 14px;"
                    (click)="redirectToLogin()">Inicie Sesión</a>
                  <h6 class="text-center" style="color:#778489;font-size: 14px;">para completar tu compra</h6>
                </div>
                <h3
                  style="font-size: 18px;font-weight:bold;color: #778489;font-family: Ubuntu;float: right;margin-bottom: 15px;">
                  <Strong>Sub-Total</Strong> : S/. {{getPrecioTotal().toFixed(2)}}</h3>
                <br>
                <div>
                  <button class="btn btn-cart-login" (click)="goCarrito()"
                    [disabled]="(shoppingCartItems$ | async).length < 1 || isButtonLoginDisabled"
                    [class.desactivo]="(shoppingCartItems$ | async).length < 1 || isButtonLoginDisabled"
                    style="font-size: 18px;">Ir al check - out</button>


                </div>


              </div>
            </div>
          </div>

          <li class="nav-item">
            <a class="nav-link" (click)="openMyAccount()">
              <img src="assets/img/icons/icon-user.svg" class="icon-user" id="img-user" />
            </a>
          </li>
        </ul>


        <div class="div-opacity" id="opacity"></div>

        <div id="mySidenav" class="sidenav">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-9 text-center">
                <h4 class="title-cart-login titulo-login">Mi cuenta</h4>
              </div>
              <div class="col-12 col-sm-6 col-lg-3 margen-x">
                <a href="javascript:void(0)" (click)="closeMyAccount()" class="sidenav-close-button"><img
                    src="assets/img/icons/icon-close-modal.svg" /></a>
              </div>
            </div>
            <div class="mt-4">
              <div class="form-group">
                <input type="text" class="form-control input-cart-login" [(ngModel)]="usuario" name="usuario"
                  placeholder="Correo">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-cart-login input-password-other" [(ngModel)]="clave"
                  name="clave" placeholder="Contraseña">
                <span class="field-icon toggle-password-other" (click)="showClave()"><img
                    src="assets/img/icons/icon-eye-password.svg" /></span>
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> Recuérdame</label>
              </div>
              <div>
                <button class="btn btn-cart-login btnlogi" (click)="goLogin()">Ingresar</button>
              </div>
              <div>
                <a href="javascript:void(0)" class="btn btn-cart-login btnlogi" style="background:#5684ff !important;"
                  data-toggle="modal" data-target="#modalRegistrar">Regístrate</a>
              </div>
              <div class="mt-4">
                <div class="text-center texto-margen">
                  <a href="javascript:void(0)" class="link-cart-login" data-toggle="modal"
                    data-target="#modalClave">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="text-center texto-margen">
                  <!-- <a href="javascript:void(0)" (click)="openSidenavRegistrar()" class="link-cart-login">Regístrate</a>
                  <a  class="link-cart-login" >Regístrate</a> -->
                </div>
              </div>
            </div>




          </div>
        </div>


      </div>
    </div>
  </nav>

  <div class="navegacion navigationFixed" style="z-index: 998;">
    <div class="boton-menu" style="display: flex;">

      <div style="width: 22.5%; z-index: 998;">
        <a href="javascript:void(0)" id="menu-button"><strong class="icon icon-menu"><img
              src="assets/img/icons/icon-menu.svg" class="icon-barra mt-1 imgIconMovilmenuFinal"
              id="icon-menu" /></strong></a>
      </div>
      <div style="margin-top: 5px; margin-left: -10%; z-index: 998;"><a routerLink="/tienda"><img
            src="assets/img/icons/icon-tienda.svg" width="30px" class="imgIconMoviltiendaFinal" id="icon-tienda"></a>
      </div>
      <div style="width: 50%;text-align: center;" class="logo-margen">
        <a routerLink="/">
          <img src="assets/img/logo/logo-header.svg" style="width: 60%;" class="ancho-imagen " />
        </a>
      </div>
      <div style="width: 22.5%;padding-left: 15px; z-index: 999;">
        <div style="text-align:right;display: flex;">
          <div>

            <a (click)="openCartMovil()"><img src="assets/img/icons/icon-cart.svg"
                class="icon-cart mt-1 mr-2 imgIconMovilCartFinal" id="icon-cart" /><span
                class="circle-cart">{{cantidadCarritoData()}}</span></a>
          </div>


          <div id="navCartMovil" class="sidenavmovil">
            <div class="container">
              <div class="row">
                <div class="col-3 col-sm-3 col-lg-3 text-center">
                  <h4 class="title-cart-login title-carrito">Mi carrito ( {{(shoppingCartItems$ | async).length}} )</h4>
                </div>
                <div class="col-1 col-sm-2 col-lg-2 margen-x">
                  <a href="javascript:void(0)" (click)="closeCartMovil()"
                    class="sidenav-close-button sidenav-close-boton"><img
                      src="assets/img/icons/icon-close-modal.svg" /></a>
                </div>
              </div>
              <div class="mt-4 text-center texto-margen">
                <div [hidden]="(shoppingCartItems$ | async).length > 0">
                  <h4 class="message-no-products">No tiene productos agregados al carrito</h4>
                </div>

                <div class="row mb-4" *ngFor="let item of shoppingCartItems">

                  <div class="col-3 col-sm-3 col-lg-3">
                    <img src="{{item.imagen}}" style="width: 97%!important;" alt="Producto">

                  </div>
                  <div class="col-4 col-sm-4 col-lg-4 margen-descripcion">
                    <h6 style="font-size: 14px;font-weight: bold;color: #778489; text-align: left;">
                      {{item.linea_de_negocio | titlecase }}</h6>
                    <h6 style="font-size: 14px;font-weight: bold;color: #778489; text-align: left;">
                      {{item.nombre_producto | titlecase }}</h6>
                    <h6 style="font-size: 14px;font-weight: 600;color: #cad2d5;font-family: Ubuntu; text-align: left;">
                      {{item.presentacion | lowercase}}</h6>
                  </div>

                  <div class="col-5 col-sm-5 col-lg-5 text-right">
                    <h6 style="font-size: 14px;color: #778489;font-family: Ubuntu;">{{item.cantidad}} x S/.
                      {{item.nuevo_precio}}</h6>
                    <h6 style="font-size: 14px;font-weight:bold;color: #778489;font-family: Ubuntu;">Total S/.
                      {{(item.cantidad * item.nuevo_precio) | number : '1.2-2'}}</h6>
                    <a href="javascript:void(0)" (click)="removeProduct(item)"
                      style="font-size: 14px;font-weight: 500;color:#8be1b0;text-decoration: underline;font-family: Ubuntu;"
                      class="mb-1">Remover</a>

                  </div>
                  <div class="col-lg-12" style="border-top: 1px solid #cad2d5;padding-top: 10px;margin-top: 10px;"
                    *ngIf="isButtonLoginDisabled">
                    <a class="d-block text-center" style="color:#8be1b0;font-size: 14px;"
                      (click)="redirectToLoginMovil()">Inicie Sesión</a>
                    <h6 class="text-center" style="color:#778489;font-size: 14px;">para completar tu compra</h6>
                  </div>
                  
                </div>
                <h3
                style="font-size: 18px;font-weight:bold;color: #778489!important;font-family: Ubuntu;float: right;margin-bottom: 15px;margin-right: 8px;">
                <Strong style="color:#778489!important; display:inline!important">Sub-Total</Strong> : S/. {{getPrecioTotal().toFixed(2)}}</h3>
              <br>
                <div>
                  <button class="btn btn-cart-login btn-carrito-login" (click)="goCarritoMovil()"
                    [disabled]="(shoppingCartItems$ | async).length < 1 || isButtonLoginDisabled"
                    [class.desactivo]="(shoppingCartItems$ | async).length < 1 || isButtonLoginDisabled"
                    style="font-size: 18px;">Ir al check - out</button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a href="javascript:void(0)" (click)="openMyAccountMovil()"><img src="assets/img/icons/icon-user.svg"
                class="icon-user mt-1 imgIconMovilUserFinal" id="icon-user" /></a>
          </div>
        </div>
      </div>
    </div>
    <nav id="nav-mobile">
      <div style="margin-left: 30px;">
        <img src="assets/img/icons/icon-banner-responsivo.svg" id="img-responsivo-banner">
        <ul class="menu" style="margin-top: 37px">
          <li *ngFor="let item of enlaces[0].inicio"
            style="border-bottom:1px solid #f8f8f8;  font-weight: bold; width: 166px;">
            <a (click)="redireccionNavMobile(item.path)">{{item.nombre}}</a>
          </li>
          <li style="border-bottom:1px solid #f8f8f8;  font-weight: bold; width: 166px;">
            <a (click)="redireccionNavMobile('/tienda')">Ir a la tienda</a>
          </li>
          <li (click)="listDataProductInfo()" class="submenu" style="border-bottom:1px solid #f8f8f8; width: 166px;">
            <a href="javascript:void(0)" style="font-weight: bold;">
              <!--<i class="fab fa-raspberry-pi" style="font-size:1.2rem;margin-right: 1.4rem;"></i>-->Productos <i
                id="listProducto1Nav" class="fas fa-chevron-down mt-2"
                style="float: right;font-size: 1rem; margin-right: -15px; margin-top:0px !important;"></i></a>
            <ul class="children" style="display: none;">
              <li *ngFor="let item of enlaces[0].productos">
                <a (click)="redireccionNavMobile(item.path)">{{item.nombre}}</a>
              </li>
            </ul>
          </li>
          <li (click)="listDataProductInfo2()" class="submenu" style="border-bottom:1px solid #f8f8f8; width: 166px;">
            <a href="javascript:void(0)" style="font-weight: bold;">
              <!--<i class="fas fa-user-friends" style="font-size:1.2rem;margin-right: .9rem;"></i>-->Quienes Somos <i
                id="listProducto1Nav2" class="fas fa-chevron-down mt-2"
                style="float: right;font-size: 1rem; margin-right: -15px; margin-top:0px !important;"></i></a>
            <ul class="children" style="display: none;">
              <li *ngFor="let item of enlaces[0].qsomos">
                <a (click)="redireccionNavMobile(item.path)">{{item.nombre}}</a>
              </li>
            </ul>
          </li>
          <li style="border-bottom:1px solid #f8f8f8; width: 166px;">
            <a (click)="redireccionNavMobile('/contacto/formulario')" style="font-weight: bold;">Contacto</a>
          </li>
          <li><a href="javascript:void(0)" (click)="redireccionNavMobile('blog')"
              style="font-weight: bold; width: 166px;">
              <!--<i class="fas fa-blog" style="font-size:1.2rem;margin-right: 1.3rem;"></i>-->Blog</a></li>
        </ul>
      </div>
    </nav>
  </div>


  <!---->
  <div class="div-opacitymovil" id="opacityMovil"></div>

  <div id="mySidenavMovil" class="sidenavmovil">
    <div class="container">
      <div class="row">
        <div class="col-7 col-sm-7 col-lg-9 text-center">
          <h4 class="title-cart-login titulo-login">Mi cuenta</h4>
        </div>
        <div class="col-2 col-sm-2 col-lg-3 margen-x cerrar-movil">
          <a href="javascript:void(0)" (click)="closeMyAccountMovil()" class="sidenav-close-button"><img
              src="assets/img/icons/icon-close-modal.svg" /></a>
        </div>
      </div>
      <div class="mt-4">
        <div class="form-group">
          <input type="text" class="form-control input-cart-login" [(ngModel)]="usuario" name="usuario"
            placeholder="Correo">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-cart-login" [(ngModel)]="clave" name="clave"
            placeholder="Contraseña">
          <span class="field-icon" (click)="showClave()"><img src="assets/img/icons/icon-eye-password.svg" /></span>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Recuérdame</label>
        </div>
        <div>
          <button class="btn btn-cart-login" (click)="goLogin()">Ingresar</button>
        </div>
        <div>
          <a href="javascript:void(0)" class="btn btn-cart-login btnlogi" style="background:#5684ff !important;"
            data-toggle="modal" data-target="#modalRegistrar">Regístrate</a>
        </div>
        <div class="mt-4">
          <div class="text-center texto-margen">
            <a href="javascript:void(0)" class="link-cart-login" data-toggle="modal"
              data-target="#modalClave">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="text-center texto-margen">
            <!-- <a href="javascript:void(0)" (click)="openSidenavRegistrar()" class="link-cart-login">Regístrate</a> -->

          </div>
        </div>
      </div>

    </div>
  </div>
  <!---->
</header>

<div class="modal fade" id="modalRegistrar" tabindex="-1" role="dialog" aria-labelledby="modalRegistrar"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header"
        style="border:none !important;padding-bottom: 0rem !important;padding-top:1rem !important;">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg" /></span>
        </button>
      </div>
      <div class="modal-body" style="padding-top:0rem !important;">


        <div id="stepperForm" class="bs-stepper linear">

          <div class="bs-stepper-header" role="tablist">

            <div class="step active" data-target="#test-form-1">
              <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1" aria-controls="test-form-1"
                aria-selected="true" style="padding-right:1px !important;">
                <div><span class="bs-stepper-circle">1</span></div>
                <div><span class="bs-stepper-label">DATOS PERSONALES</span></div>
              </button>
            </div>

            <div class="bs-stepper-line"></div>

            <div class="step" data-target="#test-form-2">
              <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2" aria-controls="test-form-2"
                aria-selected="false" disabled="disabled">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">DIRECCIÓN DE ENTREGA</span>
              </button>
            </div>
          </div>

          <div class="bs-stepper-content">
            <form class="needs-validation" onSubmit="return false" novalidate>
              <div id="test-form-1" role="tabpanel" class="bs-stepper-pane fade active dstepper-block"
                aria-labelledby="stepperFormTrigger1">
                <div class="row">
                  <div class="col-md-12 col-lg-6 col-xl-6 padding-image-stepper-registro">
                    <img src="assets/img/icons/img-stepper-registro.svg" class="image-stepper-registro"
                      style="margin-top: 5px!important;margin-bottom: 5px!important;" />
                    <div class="div-text-stepper-registro" style="margin-bottom: 5px!important;">
                      <h3 class="encabezado-register" style="margin-bottom: 27px;">Seleccionando las frutas para tu
                        smoothie</h3>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-6 col-xl-6">

                    <p class="span-register mt-2" style="margin-bottom:25px!important">(*) Si completas esta información
                      obtendrás una Pulpa Congelada 100gr.
                      gratis en tu próxima compra</p>
                    <div class="form-group">
                      <input type="text" class="form-control input-login  input-cart-login input-primer-stepper"
                        name="nombres_registro" (keypress)="utilService.validarCaracteresEspeciales($event)"
                        [(ngModel)]="nombres_registro" placeholder="Nombres (*)">
                      <div class="invalid-feedback">Ingrese sus nombres</div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-login  input-cart-login input-primer-stepper"
                        name="apellidos_registro" (keypress)="utilService.validarCaracteresEspeciales($event)"
                        [(ngModel)]="apellidos_registro" placeholder="Apellidos (*)">
                    </div>
                    <div class="select">
                      <select name="slct" id="slct">
                        <option value="0" default selected disabled>Genero</option>
                        <option value="1">Mujer</option>
                        <option value="2">Hombre</option>
                      </select>
                    </div>
                    <br>
                    <div class="form-group">
                      <input type="text" class="form-control input-login  input-cart-login input-primer-stepper"
                        name="documento_registro" maxlength="8" (keypress)="utilService.validarSoloNumeros($event)"
                        [(ngModel)]="documento_registro" placeholder="D.N.I. (*)">
                    </div>
                    <div class="form-group">
                      <input type="password"
                        class="form-control input-login  input-cart-login input-password input-primer-stepper"
                        name="clave_registro" maxlength="18" [(ngModel)]="clave_registro" placeholder="Contraseña (*)">
                      <span class="field-icon toggle-password"><img
                          src="assets/img/icons/icon-eye-password.svg" /></span>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control input-login  input-cart-login input-primer-stepper"
                        name="correo_registro" [(ngModel)]="correo_registro" placeholder="Correo electrónico (*)">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-login  input-cart-login input-primer-stepper"
                        name="telefono_registro" maxlength="9" (keypress)="utilService.validarSoloNumeros($event)"
                        [(ngModel)]="telefono_registro" placeholder="Teléfono (*)">
                    </div>



                  </div>
                  <div class="col-md-12">
                    <p class="span-register mt-2" style="display: none;">(*) Si completas esta información obtendrás una
                      Pulpa Congelada 100gr.
                      gratis en tu próxima compra</p>
                    <p class="span-register mt-2" id="campos-faltantes" style="color:red;display: none;">Debe ingresar
                      los demás campos</p>
                  </div>
                  <div class="mt-4 div-btn-register">
                    <!--  <button class="btn btn-register" onclick="stepper1.next()">Continuar</button> -->
                    <button class="btn btn-continuar-stepper1" (click)="stepperContinuar()"
                      id="btn-continuar-stepper1">Continuar</button>

                  </div>
                </div>
              </div>

              <div id="test-form-2" role="tabpanel" class="bs-stepper-pane fade dstepper-none"
                aria-labelledby="stepperFormTrigger2">
                <div class="row">
                  <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="d-block text-center">
                      <img src="assets/img/icons/icon-licuadora-registro.svg" />
                      <div>
                        <h3 class="text-licuadora-registro mt-2"
                          style="padding-left: 3rem;padding-right: 3rem;margin-bottom: 2rem;">Agregando una gran dosis
                          de vida saludable</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <select2 class="wide required isInModal" [options]="optionsSelect2Provincias"
                            [data]="listProvincias" (valueChanged)="changeProvincias($event)" [cssImport]=true>
                          </select2>
                        </div>
                      </div>

                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <select2 class="wide required isInModal" [disabled]="!listDistritos" style="z-index: 99999;"
                            [options]="optionsSelect2Distritos" [data]="listDistritos"
                            (valueChanged)="changeDistritos($event)" [cssImport]=true>
                          </select2>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-login  input-cart-login input-direccion-entrega"
                        placeholder="Dirección de entrega" [(ngModel)]="direccion_principal" name="direccion_principal"
                        #search>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <select2 class="wide required isInModal" id="selectTipo"
                            [options]="optionsSelect2TipoDireccion" [data]="listOpcionDireccion"
                            (valueChanged)="changeTipoDireccion($event)" [cssImport]=true>
                          </select2>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="form-group">
                          <input type="text" class="form-control input-login  input-cart-login" placeholder="Número"
                            [(ngModel)]="numero_direccion" name="numero_direccion" maxlength="5"
                            (keypress)="utilService.validarSoloNumeros($event)">
                        </div>
                      </div>

                    </div>

                    <div class="form-group">
                      <input type="text" class="form-control input-login  input-cart-login" placeholder="Referencia"
                        [(ngModel)]="referencia" name="referencia">
                    </div>


                  </div>
                  <div class="col-md-12 col-lg-6 col-xl-6">
                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                    </agm-map>
                  </div>
                </div>
                <div class="mt-3">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-lg-6"><button class="btn btn-register btn-registro"
                        style="background:#2B385F !important;" id="btn-volver"
                        onclick="stepper1.previous()">Volver</button> </div>
                    <div class="col-12 col-sm-6 col-lg-6"><button class="btn btn-register btn-registro"
                        (click)="finalizar()" id="btn-finalizar">Finalizar</button></div>
                    <!--- <div class="col-12 col-sm-6 col-lg-6"><button class="btn btn-register btn-registro" style="background:#2B385F !important;" onclick="stepper1.previous()" id="btn-volver">&nbsp;&nbsp;&nbsp;Volver&nbsp;&nbsp;</button> </div>
                      <div class="col-12 col-sm-6 col-lg-6"><button class="btn btn-register btn-registro" (click)="finalizar()" id="btn-finalizar">Finalizar</button> </div> -->
                  </div>
                </div>


              </div>

            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="modalClave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-radius-modal-datospersonales">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg" /></span>
        </button>

        <div class="row">
          <div class="col-lg-12">
            <p style="text-align: center;">
              <img src="assets/img/tiendas/iconocorreoalert.png" style='width:100px;margin-bottom:20px'>
            </p>
            <h4 class="title-cambiar-contraseña">Para cambiar su contraseña , ingrese su correo</h4>

            <div class="form-group mt-4">
              <input type="email" class="form-control input-cart-login" style="width: 100% !important;"
                name="recuperar_correo" [(ngModel)]="recuperar_correo" placeholder="Ingrese su correo">
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer"
        style="border:none !important;margin-bottom: 1rem !important;padding-top:0rem !important;">
        <button class="btn btn-register" (click)="changePassword()">Recuperar contraseña</button>
      </div>
    </div>
  </div>
</div>

<div id="overlay-spinner1" style="display:none;">
  <div class="cv-spinner">

    <span class="spinner"></span>
  </div>
</div>