<!--<div class="content-ground-product">
  <div class="subcontent-ground-product">
    <img class="d-block w-100"
      src="https://images.pexels.com/photos/1268098/pexels-photo-1268098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
    <div class="content-ground-product-text">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h3 class="encabezado-product">Contacto</h3>
      </div>
    </div>
  </div>
</div> -->

<div style="position: relative;" class="view" id="mar-empresa">
  <img style="width:100%;" src="assets/img/fondos/fondo-section-contacto.jpg" class="view" />
  <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
    <h3 class="encabezado-product">Contacto</h3>
  </div>
</div>

<main>

  <div class="container">
    <section class="wow fadeIn">

      <div class="row mt-5">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Contacto</li>
            <li class="breadcrumb-item active">Formulario de contacto</li>
          </ol>
        </nav>
      </div>

      <div class="container">
        <div class="row text-white">
          <div class="col-sm-6 offset-sm-3 text-center">

            <div class="info-form">
              <!-- <form (ngSubmit)="enviarFormularioContacto()" class="form-inlin justify-content-center"> -->
              <div class="form-inlin justify-content-center">
                <div class="form-group">
                  <select class="browser-default custom-select select-contact" (change)="changePersona($event)">
                    <option value="" disabled>Seleccione</option>
                    <option value="1">Persona natural</option>
                    <option value="2">Empresa</option>
                  </select>
                </div>
                <div class="row" *ngIf="isPersona">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="nombres" [(ngModel)]=" nombres" class="form-control input-text-contact"
                        placeholder="Nombres">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="apellidos" [(ngModel)]="apellidos"
                        class="form-control input-text-contact" placeholder="Apellidos">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="isEmpresa">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="razon_social" [(ngModel)]="razon_social"
                        class="form-control input-text-contact" placeholder="Razón Social">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="nombre_comercial" [(ngModel)]="nombre_comercial"
                        class="form-control input-text-contact" placeholder="Nombre comercial">
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="isEmpresa">
                  <input type="text" name="ruc" [(ngModel)]="ruc" maxlength="11"
                    (keypress)="utilService.validarSoloNumeros($event)" class="form-control input-text-contact"
                    placeholder="R.U.C">
                </div>
                <div class="row" *ngIf="isEmpresa">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="nombre_contacto" [(ngModel)]="nombre_contacto"
                        class="form-control input-text-contact" placeholder="Nombre de contacto">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="apellido_contacto" [(ngModel)]="apellido_contacto"
                        class="form-control input-text-contact" placeholder="Apellido de contacto">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="telefono" [(ngModel)]="telefono" maxlength="9"
                        (keypress)="utilService.validarSoloNumeros($event)" class="form-control input-text-contact"
                        placeholder="Teléfono">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <input type="text" name="correo" [(ngModel)]="correo" class="form-control input-text-contact"
                        placeholder="Correo">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <select class="browser-default custom-select select-contact" (change)="changeMotivo($event)">
                    <option value="" disabled>Seleccione Motivo*</option>
                    <option value="1">Otros</option>
                    <option value="1677">Información de Productos</option>
                    <option value="1678">Consulta de Productos</option>

                  </select>
                </div>
                <div class="form-group">

                  <textarea name="mensaje" [(ngModel)]="mensaje" class="form-control rounded-0 textarea-contact"
                    rows="5" placeholder="Redacte aquí su mensaje"></textarea>

                </div>
                <button type="button" (click)="enviarFormularioContacto()" class="btn btn-send-contact ">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


    <app-productos-destacados></app-productos-destacados>
  </div>
</main>