<div style="position: relative;" class="view" id="mar-empresa">
  <img style="width:100%;" src="assets/img/fondos/fondo-section-miel.jpg" class="view"/>
 <div style="position:absolute;right:20%;top:40%;">
    <h3  class="encabezado-product">Deshidratados</h3>
 </div>
</div>
  
    <main>
        <div class="container">
          <section class="wow fadeIn">
      
            <div class="row mt-5">
      
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Productos</li>
                  <li class="breadcrumb-item active">Deshidratados</li>
                </ol>
              </nav>
            </div>
      
            <div class="row features-small mb-5 mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-10">
                    <h6 class="title-honey">Lorem ipsum dolor </h6>
                    <p class="content-honey">Aenean sem nulla, rhoncus non lacus quis, convallis volutpat lectus, ullam
                      semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-1.png" id="margin-icon-derecha"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10">
                    <h6 class="title-honey">Lorem ipsum dolor </h6>
                    <p class="content-honey">Aenean sem nulla, rhoncus non lacus quis, convallis volutpat lectus, ullam
                      semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-2.png" id="margin-icon-derecha"/>
                  </div>
                </div>
              </div>
              <div class="col-md-4 flex-center">
                <img src="assets/img/productos/congelados.png" alt="Miel de abeja Berries" class="z-depth-0 img-fluid"
                  style="width:85%;">
              </div>
              <div class="col-md-4 mt-2">
                <div class="row">
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-3.png" id="margin-icon"/>
                  </div>
                  <div class="col-10">
                    <h6 class="title-honey" style="text-align: left;">Lorem ipsum dolor </h6>
                    <p class="content-honey" style="text-align: left;">Aenean sem nulla, rhoncus non lacus quis, convallis
                      volutpat lectus, ullam semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus
                      lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <img src="assets/img/icons/icon-honey-4.png" id="margin-icon"/>
                  </div>
                  <div class="col-10">
                    <h6 class="title-honey" style="text-align: left;">Lorem ipsum dolor </h6>
                    <p class="content-honey" style="text-align: left;">Aenean sem nulla, rhoncus non lacus quis, convallis
                      volutpat lectus, ullam semper, ligula vel euismod rhoncus, quam sapien interdum lacus, in auctor lectus
                      lorem laoreet nibh
                    </p>
                    <div style="height:15px"></div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="text-center">
              <button type="button" class="btn-prod-blog"><img src="assets/img/icons/icon-blog-product.svg" style="padding-right:10px;" />Descubre recetas en nuestro blog</button>
          </div>
    
          </section>
       
        <section class="wow fadeIn">
          <div class="container">
            <div class="row mt-6">
                <div class="col-lg-4">
                    <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
          
                  </div>
                  <div class="col-lg-4">
                    <h5 class="text-section mt-3 text-center ">PRODUCTOS</h5>
                  </div>
          
                  <div class="col-lg-4" style="float:right;">
                    <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%"/>
                  </div>
            </div>
          </div>


            <!--Carousel Wrapper-->
            <div id="mermeladas" class="carousel slide carousel-multi-item mt-4" data-ride="carousel" >
          
              <!--Indicators-->
             <!-- <ol class="carousel-indicators">
                <li data-target="#mermeladas" [attr.data-slide-to]="i" [ngClass]="{active:isFirst}" *ngFor="let item of slidesMermeladas; let i = index;first as isFirst"></li>
              </ol> -->
              <!--/.Indicators-->
        
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
        
                <!--First slide-->
                <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let item of slidesDeshidratados; let i = index;first as isFirst">
    
                  <div class="row px-1 pt-3">
                    <div class="col-xl-4 col-lg-6 col-md-6 mb-4"  *ngFor="let card of item; let cardIndex = index">
                      <div class="card">
                       <!-- <div class="content-offer text-center"><span class="text-content-offer-primary">10 % </span><span
                            class="text-content-offer-secondary">DSCTO.</span></div> -->
                        <div class="card-body">
                          <h6 class="text-categoria">#{{card.linea_de_negocio}}</h6>
                          <h6 class="text-nombre-producto">{{card.nombre_producto | titlecase  }}</h6>
                          <span class="btn-card color-btn-primary">{{card.presentacion | lowercase}}</span>
                          <div class="row-prices">
                           <!-- <h6 class="font-weight-bold text-price mt-2"><del>S/. 10,50</del></h6>
                            <h6 class="font-weight-bold text-descuento mt-2 ">S/. 8,50</h6> -->
                            <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">S/. {{card.precio_con_igv}}</h6>
                          </div>
                          <img class="card-img-top" src="{{card.imagen}}"
                            alt="Card image cap">
                            <div class="text-center mt-3">
                              <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2"><i class="fas fa-minus icon-minus"></i></button>
                              <span class="span-cantidad">{{card.cantidad}}</span>
                              <button class="btn-minus btn-sm" (click)="utilService.add(card)" ><i class="fas fa-plus icon-plus"></i></button>
                            </div>
                          <div class="text-center mt-3">
                            <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(card)">Agregar</button>
                          </div>
                          <div class="text-center mt-3">
                            <a routerLink="/tienda/{{card.id_pro}}" class="text-detalle">Ver detalle</a>
                          </div>
                        </div>
                      </div>
                    </div>      
                  </div>
                </div>
                <!--/.First slide-->
              </div>
    
             
              <div style="position:absolute;right:-2%;top:43%;">
                  
                  <a href="#mermeladas" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg" style="height:20px!important"  /></a>
              </div>
              <!--/.Slides-->
        
            </div>
         
    
    </section>
    
    </div>
    
    
    </main>
         
