@media (max-width: 1024px){
    .encabezado-product {
      font-size: 55px;
      margin-top: 25px;
    }
  
  }
  @media (max-width: 776px) {
      .view img{
        height: 222px;
      }
      .encabezado-product {
        font-size: 40px;
        margin-top: 25px;
      }
      #mar-empresa{
        margin-top: -90px;
      }
      #margin-icon{
          margin-left: -25px;
      }
    
    }
  @media (max-width: 475px){
    .btn-prod-blog{
      padding-left: 6px;
      padding-right: 9px;  
    }
      .view img{
        height: 222px;
      }
      .encabezado-product {
        font-size: 45px;
        margin-top: 25px;
      }
      #mar-empresa{
        margin-top: -90px;
      }
      #margin-icon{
          margin-left: 0px;
      }
      #margin-icon-derecha{
        margin-left: -15px;
      }
  }
  @media (max-width: 375px){
    .encabezado-product {
      font-size: 35px;
      margin-top: 25px;
    }
  }