.link-properties-account{
    font-size: 15px;
    color: #8be1b0;
    font-weight: bold;
    text-decoration: underline;
}
.link-properties-add{
    font-size: 11px;
    font-weight: bold;
    color: #8be1b0;
}
.label-account{
    font-size: 15px;
    line-height: 1.27;
    color: #778489;
    font-weight: bold;
}

.text-micuenta{
    margin-left: 5.5rem;
}

.title-direccion{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.27;
    color: #cad2d5;
    text-transform: uppercase;
}

.input-text-contact{
    border: none;
    font-size: 15px !important;
    line-height: 1.27 !important;
    color: #778489 !important;
}

.field-icon {
    float: right;
    margin-right: 20px;
    margin-top: -34px;
    position: relative;
    z-index: 2;
  }

  .btn-account{
    border-radius: 21.5px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.56px;
    background: #8be1b0 !important;
    color: #fff !important;
    text-align: center;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    opacity: 1 !important;
}
.table{
    font-size: 15px;
    color: #778489;

}

.table thead th,
.table thead td {
  border-bottom: 1px solid #f8f8f8 !important; 
}

.table-encabezado{
    font-weight: bold;
    color: #2c385f;
}
.cod-pedido{
    color: #8be1b0 ;
    font-weight: bold ;
    text-decoration: underline ;
    font-family: Ubuntu !important;
    
}



.table tbody{
    line-height: 1.33;
}

.estado{
    line-height: 1.27;
    font-weight: bold;
    color: #cad2d5;
    text-transform: uppercase;
}
.btn-comprar{
   width: 182px;
    height: 28px; 
    border-radius: 14px;
    background-color: #2c385f;
    border: 1px solid #2c385f;
    color:#fff;
    outline: none;
    text-align: center;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.36;
    padding: .1rem 1rem; 
}

.list-boleta-producto{
    list-style-type: none;
    margin-left:-31px;
    text-transform: lowercase;
}




.list-boleta-producto li::first-letter {
    text-transform: uppercase;    
}

.list-boleta-producto li {
    text-transform: lowercase;   
    font-family: Ubuntu !important; 
}


.font-texto-productos{
    font-size: 14.4px;
    font-weight: normal;
}

#ocultar-tabla{
    display: initial;
}
#mostrar-tabla{
    display: none;
}

table.dataTable tbody td{
    padding: 30px  8px !important;
    font-family: Ubuntu !important;

}
@media (max-width: 1024px){
    #ocultar-tabla{
        display: none;
    }
    #mostrar-tabla{
        display: initial;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) { 

    #section-desaparece1{
     display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 

    #section-desaparece1 , #section-desaparece2{
        display: none;
       }


}

@media (max-width: 425px){

    .nav-tabs .nav-link.active {
        font-size: 11px !important;

    }

    .nav-tabs .nav-link {

        font-size: 11px !important;
        
    }
    .btn-comprar {
        width: 100%;
        height: 28px;
    }

}

@media (max-width: 375px){

    .nav-tabs .nav-link.active {
        font-size: 9px !important;

    }

    .nav-tabs .nav-link {

        font-size: 9px !important;
        
    }

    .btn-comprar {
        width: 100%;
        height: 28px;
    }

}
@media (max-width: 320px){

    .nav-tabs .nav-link.active {
        font-size: 7px !important;

    }

    .nav-tabs .nav-link {

        font-size: 7px !important;
        
    }

    .btn-comprar {
        width: 100%;
        height: 28px;
    }

}






