
<!--<div class="content-tienda"></div> -->


<main style="margin-top: 10%;">

    <section class="wow fadeIn mb-5">
        <div class="container">
            <div class="row mt-6">
                <div class="col-lg-4">
                  <img src="assets/img/icons/img-section-right.svg" class="img-section"/>
        
                </div>
                <div class="col-lg-4">
                  <h5 class="text-section mt-3 text-center ">MI CUENTA</h5>
                </div>
        
                <div class="col-lg-4" style="float:right;">
                  <img src="assets/img/icons/img-section-right.svg" class="img-section" />
                </div>
              </div>

        </div>

        
        <div class="container">
            

            <!--Carousel Wrapper-->

            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                <li class="nav-item col-6 col-sm-6 col-lg-3">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">DATOS DEL USUARIO</a>
                </li>
                <li class="nav-item col-6 col-sm-6 col-lg-3">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">HISTORIAL DE COMPRAS</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="mt-4">
                        <div>
                            <a routerLink="/mi-cuenta/editar-cuenta" class="link-properties-account mr-5"> <img src="assets/img/icons/icon-editar.svg" style="padding-right:5px;" />Editar</a>
                            <a href="javascript:void(0)" (click)="goLogout()" class="link-properties-account"><img src="assets/img/icons/icon-salir.svg" style="padding-right:5px;" />Salir</a>
                        </div>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-group">
                                        <img src="assets/img/icons/icon-form-usuario.svg" /> <label
                                            class="label-account ml-2">Usuario</label>
                                        <div style="display:flex;flex-wrap:wrap;">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control input-text-contact" [(ngModel)]="nombre_completo" name="nombre_completo" disabled>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <img src="assets/img/icons/icon-form-password.svg" /><label
                                            class="label-account ml-2">Contraseña</label>
                                        <div class="col-lg-6">
                                            <input type="password" class="form-control input-text-contact"
                                                value="****************" name="clave" disabled>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group">
                                        <img src="assets/img/icons/icon-form-correo.svg" /><label
                                            class="label-account ml-2">Correo</label>
                                        <div class="col-lg-10">
                                            <input type="email" class="form-control input-text-contact" [(ngModel)]="correo" name="correo" disabled>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <img src="assets/img/icons/icon-form-telefono.svg" /><label
                                            class="label-account ml-2">Tel&eacute;fono</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-text-contact" [(ngModel)]="telefono" name="telefono"
                                                disabled>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="form-group">
                                        <img src="assets/img/icons/icon-form-correo.svg" /><label
                                            class="label-account ml-2">Direcci&oacute;n de entrega</label>
                                        <div class="col-lg-3" style="margin-left: .7rem!important;">
                                            <h4 class="title-direccion mt-1">Principal</h4>
                                        </div>
                                        <div style="display:flex;flex-wrap:wrap;">
                                         <!--   <div class="col-lg-9">
                                                <input type="text" class="form-control input-text-contact"
                                                [(ngModel)]="direccion_principal" name="direccion_principal"
                                                    disabled>
                                            </div>
                                        -->
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-text-contact"
                                            value="{{direccion_principal}}" name="direccion_otros" disabled style="padding-top: 20px !important;">
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control input-text-contact"
                                            value="{{referencia_show}}" name="numero_otros" disabled style="border-left: 1px solid !important;
                                            border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important; border-right: none !important;border-bottom: none !important;">
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control input-text-contact"
                                            value="{{distrito_show}}" name="distrito_otros" disabled style="border-left: 1px solid !important;
                                            border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important;border-right: none !important;border-bottom: none !important;">
                                        </div>
                                        </div>


                                    </div>
                               <div class="form-group">
                                        <div class="col-lg-3" style="margin-left: .7rem!important;" *ngIf="isExistsDireccion">
                                            <h4 class="title-direccion mt-1">Otras direcciones</h4>
                                        </div>
                                       <div style="display:flex;flex-wrap:wrap;" class="my-4" *ngFor="let item of listaDirecciones">
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-text-contact"
                                                value="{{item.direccion}} , {{item.numero}}" name="direccion_otros" disabled style="padding-top: 20px !important;" >
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control input-text-contact"
                                                value="{{item.referencia_1}}" name="numero_otros" disabled style="border-left: 1px solid !important;
                                                border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important;border-right: none !important;border-bottom: none !important;">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control input-text-contact"
                                                value="{{item.distrito | titlecase}}" name="distrito_otros" disabled style="border-left: 1px solid !important;
                                                border-image: -webkit-linear-gradient(top, #fff 40%, #778489 0%) 1 repeat !important;padding-top: 20px !important;border-right: none !important;border-bottom: none !important;">
                                            </div>
                                        </div>
                                  
                                    </div>
                 

                                </div>

                                
                                <div class="col-xl-8">
                                    <div class="form-group mt-4" >
                                        <img src="assets/img/icons/icon-form-tarjeta.svg" /><label
                                            class="label-account ml-2">Tarjetas guardadas</label>
                                    </div>
                                    <div class="form-group">
                                        <div style="display:flex;flex-wrap:wrap;" class="my-4" *ngFor="let item of listTarjetas">
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control input-text-contact"
                                                value="{{item.last_four_digits}}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                    <div class="container mt-3" id="mostrar-tabla" *ngFor="let item of historialCompras">
                        <div class="row">
                          <div class="col-4 col-sm-4 col-lg-3 table-encabezado" >
                            Nro.Boleta
                            <div class="cod-pedido"><a class="cod-pedido" href="{{item.descarga_pdf}}" target="_blank" >{{item.n_boleta}}</a></div>

                            
                        </div>
                        
                          <div class="col-4 col-sm-4 col-lg-3 table-encabezado" style="border-left: 2px solid #f8f8f8;">Fecha
                            <div class="font-texto-productos">{{item.fecha}}</div>
                          </div>
                          <div class="col-4 col-sm-4 col-lg-3 table-encabezado" style="border-left: 2px solid #f8f8f8;">Total
                            <div class="font-texto-productos">{{item.total}}</div>
                          </div>
                          <div class="col-12 col-sm-12 col-lg-12 table-encabezado mt-3" >Productos
                            <div>
                                <ul style="list-style-type: none;margin-left:-31px;" class="font-texto-productos">
                                    <li>- {{item.productos}}</li>
                                    
                                </ul>
                            </div>
                        </div>
                          <div class="col-12 col-sm-12 col-lg-12 table-encabezado">
                            <div class="row">
                            <div class="col-4 col-sm-5 col-lg-4">Estado</div> 
                            <div class="col-7 col-sm-5 col-lg-4 estado">{{item.estado_despacho}}</div>
                            </div>  
                          </div>

                          <div class="col-12 col-sm-12 col-lg-12">&nbsp;
                            <div><button class="btn-comprar" routerLink="/tienda">Volver a comprar</button></div>
                          </div>
                        </div>
                    </div>

                    <div class="mt-4" id="ocultar-tabla">
                        <table datatable [dtOptions]="dtOptions" class="table mt-5"  [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th class="table-encabezado" >Nro.Boleta</th>
                                    <th class="table-encabezado">Productos</th>
                                    <th class="table-encabezado">Direcci&oacute;n de entrega</th>
                                    <th class="table-encabezado">Fecha</th>
                                    <th class="table-encabezado">Total</th>
                                    <th class="table-encabezado">Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngIf="loading">
                                   <td colspan="6" style="text-align:center;"> <img src="assets/img/icons/loader.gif" /></td>
                                   
                                  </tr>
                                <tr *ngFor="let item of historialCompras" class="text-boletas">
                                    <td style="width: 12%;"><a class="cod-pedido" href="{{item.descarga_pdf}}" target="_blank" >#{{item.n_boleta}}</a></td>
                                    <td>
                                        <ul class="list-boleta-producto">
                                            <li>{{item.productos}}</li>
                                        </ul>
                                    </td>
                                    <td>{{item.direccion}}</td>
                                    <td style="width: 9%;">{{item.fecha}}</td>
                                    <td style="width: 10%;">S/. {{item.total}}</td>
                                    <td class="estado" style="width:13%;">{{item.estado_despacho}}</td>
                                    <td><button class="btn-comprar" routerLink="/tienda">Volver a comprar</button></td>
                                </tr>
                             <!--   <tr>
                                    <td class="cod-pedido">#0012</td>
                                    <td style="width:25%;">
                                        <ul style="list-style-type: none;margin-left:-31px;">
                                            <li>- Mermelada 3 berries - 340g</li>
                                            <li>- Congelado arándanos - 350g</li>
                                        </ul>
                                    </td>
                                    <td>Mz. K lote 22 Urb. La Arboleda
                                        Dep. 602 - Magdalena</td>
                                    <td>24 Abril
                                        13:21</td>
                                    <td>S/.20.00</td>
                                    <td class="estado">DESPACHADO</td>
                                    <td><button class="btn-comprar">Volver a comprar</button></td>
                                </tr>
                            -->
                            </tbody>
                        </table>
                    </div>






                </div>
            </div>

        </div>
        <!--/.Carousel Wrapper-->

    </section>

</main>