.text-terminos{
    color:#778489;
    font-size: 14px;
    text-align: justify;

}
.title-text-terminos{
    font-weight: bold;
    color:#778489;
    font-size: 14px;

}

.cabecera-fija{
    position: absolute !important;
}