.btn-register{
    border-radius: 21.5px;
      background: #8be1b0 !important;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.56px;
      text-align: center;
      color: #fff;
      box-shadow: none !important;
      padding: .70rem 6rem;
      display: block;
      margin: auto;
    }
    .input-text-contact{
        border: none;
        border-bottom: 1px solid #e3e8e9;
        border-left: 1px solid ;
        border-right: 1px solid ;
        font-size: 15px !important;
        line-height: 1.27 !important;
        color: #778489 !important;
        border-image: -webkit-linear-gradient(top, #fff 75%, #e3e8e9 0%) 1 repeat;
    }

    .input-cart-login{
      border-radius: 21.5px;
      border: solid 1px #cad2d5;
      height: 40px;
      text-align:center;
      font-size: 14px;
      color: #778489;
    }
    .input-cart-login::-webkit-input-placeholder {
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
    .input-cart-login:-moz-placeholder { /* Firefox 18- */
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
      .input-cart-login::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }
      .input-cart-login:-ms-input-placeholder {  
      text-align: center;
      font-size: 14px;
      color: #cad2d5;
      }

      .text-header-modal{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #627075;
       }
    