<div class="modal-header" style="border: none;">
  <h4 class="modal-title pull-left text-header-modal">AGREGAR NUEVA TARJETA</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" style="opacity:1 !important;">
    <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg"/></span>
  </button>
</div>
<div class="modal-body">

  <div class="form-group">
    <input type="text" class="form-control input-cart-login" id="num_tarjeta" (keypress)="utilService.validarSoloNumeros($event)" placeholder="Numero de tarjeta" [(ngModel)]="num_tarjeta"  name="num_tarjeta" > 
  </div>
  <div class="d-flex">
    <div class="col-lg-5 pr-1 pl-0">
      <div class="form-group">
        <input type="text" class="form-control input-cart-login" placeholder="Mes de vencimiento" [(ngModel)]="mes_tarjeta"  name="mes_tarjeta" (keypress)="utilService.validarSoloNumeros($event)" maxlength="2"> 
      </div>
    </div>

    <div class="col-lg-7 pr-0 pl-0">
      <div class="form-group">
        <input type="text" class="form-control input-cart-login" placeholder="Año de vencimiento" [(ngModel)]="year_tarjeta"  name="year_tarjeta" (keypress)="utilService.validarSoloNumeros($event)" maxlength="4"> 
      </div>
    </div>
  </div>
  
    <div class="modal-footer" style="border:none !important;margin-bottom: 1rem !important;padding-top:0rem !important;">
          <button class="btn btn-register" (click)="agregarTarjeta()">Registrar</button> 
    </div>
        
        

       


    
</div>