<!--<div class="content-tienda"></div> -->


<main style="margin-top:10%;">

  <section class="wow fadeIn mb-5">

    <div class="container">
      <div class="row mt-6">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center ">CARRITO DE COMPRAS</h5>
        </div>

        <div class="col-lg-4" style="float:right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
        </div>
      </div>

    </div>


    <div class="container">
      <!--Carousel Wrapper-->

      <div class="row wow fadeIn mt-5" style="visibility: visible; animation-name: fadeIn;">

        <div class="col-lg-8 col-md-12 ">

          <!--Panel-->
          <div class="card card-body mb-4" [hidden]="(shoppingCartItems$ | async).length > 0">
            <h4 class="title-no-products-cart">No tiene productos agregados al carrito</h4>
          </div>
          <div class="card card-body mb-4" *ngFor="let item of shoppingCartItems;let indice = index">
            <a class="text-right" href="javascript:void(0)" style="z-index:3;width:15px;margin-left:auto"
              (click)="removeProduct(item)"><img src="assets/img/icons/icon-close-modal.svg" /></a>

            <div class="row">

              <div class="col-4 col-sm-3" id="carrito">
                <img src="{{item.imagen}}" width="140" height="140" />
                <!--  <img src="{{item.imagen}}" /> -->
              </div>
              <div class="col-4 col-sm-5 mt-4">
                <h4 class="title-product-cart2">{{item.linea_de_negocio | titlecase }}</h4>
                <h4 class="title-product-cart">{{item.nombre_producto | titlecase }} {{item.presentacion | lowercase}}
                </h4>
              </div>
              <div class="col-4 col-sm-4 mt-4">
                <div class="row text-right margen-input">

                  <!--   <input type="number" style="width:25%;"  [(ngModel)]="item.cantidad" name="cantidad" min="1" max="{{item.stock_disponible}}"/>  -->

                  <div class="quantity">
                    <input type="number" [attr.data-idprod]="item.id_pro" [(ngModel)]="item.cantidad" name="cantidad"
                      min="1" max="{{item.stock_disponible}}" class="input-cantidad_{{indice}}"
                      (keypress)="utilService.validarSoloNumeros($event)" maxlength="2"
                      onKeyPress="if(this.value.length==2) return false;" />
                    <div class="quantity__btn quantity__btn--up" (click)="add(indice)"></div>
                    <div class="quantity__btn quantity__btn--down" (click)="resta(indice)"></div>
                  </div>

                  <strong class="mx-3 mt-1 borrado"
                    style="font-size: 18px;color: #778489;font-weight: 500;font-weight: bold;">x</strong>
                  <strong class="price-cart">S/. {{item.nuevo_precio}}</strong>

                </div>
                <div class="div-totalcart">
                  <strong class="total-cart ml-3">Total: </strong>
                  <strong class="price-total-cart margen-total" style="margin-left: 1.6rem;">S/.
                    {{(item.cantidad * item.nuevo_precio) | number : '1.2-2'}}</strong>
                </div>
              </div>

            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-12">

          <!--Panel-->
          <div class="card card-body">
            <div class="row mt-3">
              <div class="col-7 col-sm-7">

                <!-- <input type="text" class="form-control input-text-carrito" id="input-descuento" placeholder="Cupón de descuento" [(ngModel)]="cupon_descuento" name="cupon_descuento" [disabled]="bloquearbotonCupon" [class.desactivo]="bloquearbotonCupon" /> -->
                <input type="text" class="form-control input-text-carrito" id="input-descuento"
                  placeholder="Cupón de descuento" [(ngModel)]="cupon_descuento" name="cupon_descuento"
                  [disabled]="bloquearbotonCupon" [class.desactivo]="bloquearbotonCupon" style="padding: 20px 12px;
                           margin-top: -3px;" />
                <div id="msj-cupon" class="mt-2"></div>
              </div>
              <div class="col-5 col-sm-5" style="padding-left: 0px!important;">

                <!--  <button class="btn btn-add" type="button" (click)="validarCupon()" [disabled]="bloquearbotonCupon" [class.desactivo]="bloquearbotonCupon">Agregar</button> -->

                <p style="margin:0;text-align:center">
                  <button class="btn btn-add" type="button" (click)="validarCupon()"
                    *ngIf="showcanceladdCupon">Agregar</button>
                  <button class="btn btn-cancel-cupon" *ngIf="showcancelbtnCupon" type="button"
                    (click)="cancelarCupon()">Cancelar</button>
                </p>

              </div>

            </div>

            <hr>

            <div class="col-lg-12 text-right">
              <div class="my-2">
                <strong class="title-cart mr-3">Subtotal: </strong>
                <strong class="price-cart subtotalito">S/.{{getTotalBruto()}}</strong>
              </div>
              <div class="my-2">
                <strong class="title-cart m-3">Delivery: </strong>
                <strong class="price-cart">S/.{{precio_envio_general | number : '1.2-2'}}</strong>
              </div>
              <div id="descripcion-descuento"></div>

              <div class="my-2">
                <strong class="total-cart mr-3">Total: </strong>
                <strong class="price-total-cart marge">S/.{{getTotalNeto()}}</strong>
              </div>

            </div>
            <hr>

            <div class="my-3" *ngIf="!isNoDireccion">
              <h6 class="direccion">Ud. debe agregar una dirección antes de proseguir con su compra , lo puede hacer en
                <a routerLink="/mi-cuenta">Mi Cuenta</a></h6>
            </div>
            <div class="my-3" *ngIf="isNoDireccion">

              <h6 class="direccion" style="margin-left: 27px;">Direcci&oacute;n de entrega:</h6>
              <label class="radio-inline d-flex">
                <input type="radio" [(ngModel)]="select_direccion" id="recojo_tienda" name="recojo_tienda" value=""
                  (change)="onItemChange('recojo_tienda')">
                <label for="recojo_tienda" class="label-radio">Recojo en tienda </label>

              </label>
              <label class="radio-inline d-flex mt-3">
                <input type="radio" [disabled]="totalBruto<65" [(ngModel)]="select_direccion" id="select_direccion1"
                  name="select_direccion" value="{{id_direccion}}" (change)="onItemChange('principal')">
                <label for="select_direccion1" class="label-radio">{{direccion_principal}} </label>

              </label>
              <div class="my-3">

                <input type="radio" [disabled]="totalBruto<65" [(ngModel)]="select_direccion" id="select_direccion2"
                  name="select_direccion" value="0" (change)="onItemChange('other')">
                <label class="direccion" for="select_direccion2">Usar otra direcci&oacute;n:</label>
                <!-- <select class="custom-select select-cart" (change)="changeOtherDireccion($event)" [disabled]="bloquearSelectDireccion" >
                                    <option value="" disabled class="select-option">Seleccione</option>
                                    <option value="{{item.id_direccion}}-{{item.precio_envio}}" *ngFor="let item of listaDirecciones" class="select-option">{{item.direccion}} {{item.numero}} {{item.distrito}}</option>
                                    <option value="otro-0" class="select-option">Usar otra dirección</option>
                                  </select>
                                -->
                <!-- <div class="lista-cart" (click)="openDropdown()"  [attr.disabled]="bloquearSelectDireccion" > -->
                <div class="lista-cart"
                  (click)="bloquearSelectDireccion ? $event.stopPropagation() : openDropdown(); bloquearSelectDireccion ? false : null">
                  <div class="select-cart">
                    <!--<span>Seleccione</span> -->
                    <span>&nbsp;</span>
                    <i class="fa fa-chevron-down"></i>
                  </div>

                  <ul class="lista-cart-menu">
                    <li id="{{item.id_direccion}}-{{item.precio_envio}}" *ngFor="let item of listaDirecciones"
                      (click)="changeOtherDireccion($event)">{{item.direccion}} {{item.numero}} {{item.distrito}}</li>
                    <li id="otro-0" (click)="changeOtherDireccion($event)" style="font-weight: bold;color: #cad2d5;">
                      Buscar dirección <img src="assets/img/icons/icon-marker.svg" class="float-right" /></li>
                  </ul>

                </div>

              </div>
            </div>
            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="confirmarTerminos" id="confirmarTerminos" name="confirmarTerminos"
                  class="custom-control-input" (change)="confirmarTerminosCheck($event)">
                <label class="custom-control-label label-check" for="confirmarTerminos">He le&iacute;do y aceptos <a
                    routerLink="/terminos-y-condiciones" target="_blank">T&eacute;rminos y Condiciones</a> del
                  sitio.Acepto tambi&eacute;n la <a routerLink="/politicas-de-privacidad"
                    target="_blank">Pol&iacute;tica de Privacidad y Seguridad y la Pol&iacute;tica de
                    Cookies</a></label>
              </div>
            </div>
            <button type="button" class="btn btn-fin-compra " (click)="finalizarCompra()">Finalizar la compra</button>
            <a class="btn btn-seguir-comprando" routerLink="/tienda">Seguir comprando</a>
          </div>
        </div>





      </div>
    </div>
    <!--/.Carousel Wrapper-->

  </section>

  <section class="wow fadeIn mb-8">
    <div class="container">

      <div class="row mt-6">
        <div class="col-lg-4">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />

        </div>
        <div class="col-lg-4">
          <h5 class="text-section mt-3 text-center ">COMPLEMENTA TU COMPRA</h5>
        </div>

        <div class="col-lg-4" style="float:right;">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" width="100%" />
        </div>
      </div>

      <div class="row features-small mt-7 wow fadeIn">

        <div class="col-xl-3 col-lg-6 col-md-6  mb-4" *ngFor="let item of tercerArray">
          <div class="card card-product">
            <div class="card-body">

              <h6 class="text-categoria">#{{item.linea_de_negocio}}</h6>
              <div class="border-description-product">
                <h6 class="text-nombre-producto">{{item.nombre_producto | titlecase}} <br>
                  {{item.presentacion | lowercase}}
                </h6>
                <!--  <span class="btn-card color-btn-secondary">125 gr.</span> -->
                <h6 class="font-weight-bold text-price mt-2">S/. {{item.nuevo_precio}}</h6>

              </div>

              <img class="card-img-top" src="{{item.imagen}}" alt="Card image cap">
              <div class="text-center mt-3">
                <button class="btn-minus btn-sm" (click)="utilService.del(item)"><i
                    class="fas fa-minus icon-minus"></i></button>
                <span class="span-cantidad">{{item.cantidad}}</span>
                <button class="btn-minus btn-sm" (click)="utilService.add(item)"><i
                    class="fas fa-plus icon-plus"></i></button>
              </div>
              <div class="text-center mt-3">
                <button type="button" class="btn btn-add-shop btn-rounded"
                  (click)="utilService.addToCart(item)">Agregar</button>
              </div>
              <div class="text-center mt-3">
                <a routerLink="/tienda/{{item.id_pro}}" class="text-detalle">Ver detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>

</main>
<!--
  <div class="modal fade" id="modalRegistrarDireccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-radius-modal-datospersonales">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg"/></span>
        </button>

        <div class="row">
          <div class="col-md-12" >
            <div class="form-group">

              <div class="form-group">

                <div class="form-group">
                  <label>Provincia</label>
                  <select2 class="wide required" [options]="optionsSelect2Provincias" [data]="listProvincias" 
                (valueChanged)="changeProvincias($event)" [cssImport]=true >
              </select2>
                </div>

                <div class="form-group">
                  <label>Distrito</label>
                <select2 class="wide required" [options]="optionsSelect2Distritos" [data]="listDistritos" 
                (valueChanged)="changeDistritos($event)" [cssImport]=true >
              </select2>
                </div>

               <div class="form-group">
                <label >Tipo de Direccion</label>
                <select2 class="wide required" [options]="optionsSelect2TipoDireccion" [data]="listOpcionDireccion" 
                (valueChanged)="changeTipoDireccion($event)" [cssImport]=true >
              </select2>
                </div>

              <div class="form-group">
                <input type="text" class="form-control input-text-contact" placeholder="Dirección de entrega" [(ngModel)]="direccion_otras"  name="direccion_otras" > 
              </div>

              <div class="d-flex">
                <div class="col-lg-5 pr-1 pl-0">
                  <div class="form-group">
                    <input type="text" class="form-control input-text-contact" placeholder="Número" [(ngModel)]="numero_direccion"  name="numero_direccion" (keypress)="utilService.validarSoloNumeros($event)" > 
                  </div>
                </div>

                <div class="col-lg-7 pr-0 pl-0">
                  <div class="form-group">
                    <input type="text" class="form-control input-text-contact" placeholder="Referencia" [(ngModel)]="referencia"  name="referencia">
                  </div>
                </div>
              </div>
            </div>
             
          </div>
      </div>
      </div>
      <div class="modal-footer" style="border:none !important;margin-bottom: 1rem !important;padding-top:0rem !important;">
        <button class="btn btn-register" (click)="agregarDireccion()">Agregar</button> 
      </div>
    </div>
  </div>
</div>
</div>
-->
<div class="modal fade" id="modalRegistrarDireccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content padding-modal">
      <div class="modal-header" style="border:none;">
        <h4 class="modal-title pull-left text-header-modal">AGREGAR NUEVA DIRECCIÓN</h4>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"
          style="opacity:1 !important;">
          <span aria-hidden="true"><img src="assets/img/icons/icon-close-modal.svg" /></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-xl-6">
            <div class="row mb-2">
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <select2 class="wide required" [options]="optionsSelect2Provincias" [data]="listProvincias"
                    (valueChanged)="changeProvincias($event)" [cssImport]=true>
                  </select2>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <select2 class="wide required" [disabled]="!listDistritos" [options]="optionsSelect2Distritos"
                    [data]="listDistritos" (valueChanged)="changeDistritos($event)" [cssImport]=true>
                  </select2>
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 1.5rem!important;">
              <input type="text" class="form-control input-cart-login" placeholder="Dirección de entrega"
                [(ngModel)]="direccion_otras" name="direccion_otras" #searchAgregar>
            </div>
            <div class="row mb-2">
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <select2 class="wide required" id="#selectTipo" [options]="optionsSelect2TipoDireccion"
                    [data]="listOpcionDireccion" (valueChanged)="changeTipoDireccion($event)" [cssImport]=true>
                  </select2>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control input-cart-login" placeholder="Número"
                    [(ngModel)]="numero_direccion" name="numero_direccion"
                    (keypress)="utilService.validarSoloNumeros($event)">
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <input type="text" class="form-control input-cart-login" placeholder="Referencia" [(ngModel)]="referencia"
                name="referencia">
            </div>
            <div class="form-group" style="margin-bottom: 2rem!important;margin-top:2rem !important;">
              <button class="btn btn-aceptar" (click)="agregarDireccion()">Aceptar</button>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-6">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>