*:focus {
  outline: none;
}
.title-no-products-cart{
  font-size: 15px;
  font-weight: bold;
  color: #778489;
}
.input-text-carrito::-webkit-input-placeholder {
    text-align: center;
    font-size: 14px;
    line-height: 1.36;
    color: #cad2d5;
    
}
.input-text-carrito:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-size: 14px;
    line-height: 1.36;
    color: #cad2d5;
}
.input-text-carrito::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-size: 14px;
    line-height: 1.36;
    color: #cad2d5;
}
.input-text-carrito:-ms-input-placeholder {  
    text-align: center;
    font-size: 14px;
    line-height: 1.36;
    color: #cad2d5;
}
.input-text-carrito{
   border-radius: 9px;
   border: solid 1px #cad2d5;
   font-size: 14px;
  font-weight: bold;
  color: #778489;
}

.input-text-carrito::placeholder {
  font-size: 14px !important;
  font-weight: 600 !important; 
}

.btn-add {
    /*width: 135px;*/
    width: 100%;
    border-radius: 22px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    background: #8be1b0 !important;
    color: #fff !important;
    margin-right: -1.19rem !important;
    margin-left: -1.19rem !important;
    margin-top: -.199rem !important;
    padding: .64rem .14rem !important;
    box-shadow:  none !important;
}

.btn-cancel-cupon{
  /*width: 146px;*/
  border-radius: 22px !important;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.2px;
  background: #2c385f!important;
  color: #fff !important;
  margin-right: -1.19rem !important;
  margin-left: -1.19rem !important;
  margin-top: -.199rem !important;
  padding: .64rem .14rem !important;
}


.title-cart{
    font-size: 18px;
    font-weight: 500;
    color: #778489;
}
.price-cart{
    font-size: 24px;
    font-weight: bold;
    color: #778489;
    font-family: Ubuntu;

}
.total-cart{
    font-size: 18px;
    font-weight: 500;
    color: #8be1b0;
}
.price-total-cart{
    font-size: 24px;
    font-weight: bold;
    color: #8be1b0;
    font-family: Ubuntu;
}

.direccion{
    font-size: 14px;
    font-weight: bold;
    color:#778489;
    line-height: 1.36;
}

.label-radio{
    font-size: 14px;
    color:#778489;
}

/*
.select-cart{
    font-size: 12px;
    border: solid 1px #cad2d5;
    border-radius: 16px;
}
*/

.lista-cart {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 16px;
  transition: all .5s ease;
  border: solid 1px #cad2d5;
  position: relative;
  font-size: 14px;
  color: #778489;
  margin-left: 15px;
  text-align: left ;
}


.lista-cart .select-cart {
    cursor: pointer;
    display: block;
    padding: 6px 16px;
}
.lista-cart .select-cart  > i {
  font-size: 12px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 23px;
}




.lista-cart .lista-cart-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: -35px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9
}
.lista-cart .lista-cart-menu li {
    padding: 20px 22px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.lista-cart .lista-cart-menu {
    padding: 0;
    list-style: none
}
.lista-cart .lista-cart-menu li:hover {
    background-color: #f2f2f2
}
.lista-cart .lista-cart-menu li:active {
    background-color: #e2e2e2
}








.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8be1b0 !important;
    border: none !important;
  }
  .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(139, 225, 176, 0.25)
  }
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #8be1b0 ; 
  }

  .label-check{
    color: #778489;
    font-size: 12px;
  }
  a{
      color:#8be1b0;
  }
 
  .btn-fin-compra{
    border-radius: 26.5px;
    background-color: #8be1b0;
    color:#fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: none;
  }

  .btn-seguir-comprando{
    border-radius: 26.5px;
    background: #cad2d5;
    color:#fff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: none;
  }

  .title-product-cart{
    font-size: 20px;
    font-weight: bold;
    color: #778489;
  }

  .title-product-cart2{
    font-size: 20px;
    font-weight: bold;
    color: #778489;
  }

  .subtitle-product-cart{
    font-size: 16px;
    font-weight: 500;
    color: #cad2d5;

  }


  input[type="number"] {
    position: relative;
    margin: 0 0 1rem;
    padding: .2rem;
    border-radius: 5px;
    border: solid 1px #cad2d5;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #778489;
    width: 25%;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;

}

.btn-register{
  border-radius: 21.5px;
    background: #8be1b0 !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.56px;
    text-align: center;
    color: #fff;
    box-shadow: none !important;
    padding: .70rem 7rem;
    display: block;
    margin: auto;
  }

  

.card{
  border-radius: 15px;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.15) !important;
}







.quantity {
  position: relative;
  width: 100%;
  max-width: 63px;
  height: 39px;
  
  border: solid 1px #cad2d5;
  border-radius: 5px;
  font-family: Ubuntu;
}
.quantity input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  border: 0 none;
  float: left;
  font-size: 18px;
  font-weight: bold;
  -moz-appearance: textfield;
  padding-right: 1.7rem;
}
.quantity input::-webkit-inner-spin-button, .quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity__btn {
  position: absolute;
  right: 0;
  width: 23px;
  height: 15px;
  cursor: pointer;
}
.quantity__btn:after {
  position: absolute;
  content: "";
  left: 7px;
 
}
.quantity__btn--up {
  top: 0;
}
.quantity__btn--up:after {

  top: 7.5px;
 background: url("src/assets/img/icons/arrow-top-number.svg");
 height: 6.5px;
 right: 5px;

}
.quantity__btn--down {
  bottom: 0;
}
.quantity__btn--down:after {
  bottom: 7.5px;
  background: url("src/assets/img/icons/arrow-bottom-number.svg");
 height: 6.5px;
 right: 5px;
}

@media (max-width: 475px){
  #carrito img {
    width: 104px;
  }

  .title-product-cart2{
    margin-top: -40px;
  }

  .title-product-cart{
    margin-top: -7px;

  }
  .title-product-cart{
    margin-top: -7px;

  }
  .margen-input{
    margin-top: -45px;
  }
  .price-total-cart{
    font-size: 20px;
    margin-left: 0rem !important;
    
  }
  .total-cart{
    margin-left: -50px !important;
  }
  .price-cart{
    font-size: 20px;
    margin-left: 15px;
    
  }
  
  .margen-total{
    padding-left: -10px;
  }
  .borrado{
    display: none;
  }
  .borrado img{
    display: none;
  }
  /*.fa-times{
    display: none;
  }*/
  .col-sm-7 img {
    margin-left: 21px;
  }
}

@media (max-width: 768px){
  .borrado2{
    display: none;
  }
  .borrado img{
    display: none;
  }
  /*.fa-times{
    display: none;
  }*/
  
}

@media (max-width: 425px){

  #carrito img {
    width: 103px;
    height: 103px;
  }

  /*.div-totalcart{
    margin-right: -60px;
  }
  */
  
  

  .price-total-cart{
    font-size: 18px !important;
    
  }
  .price-cart{
    font-size: 18px !important;
    margin-left: 15px;
  }
  
  
  .btn-add {
    /*width: 90px;*/
    border-radius: 22px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    background: #8be1b0 !important;
    color: #fff !important;
    margin-right: -1.19rem !important;
    margin-left: -1.19rem !important;
    margin-top: -.199rem !important;
    padding: .64rem .14rem !important;
    box-shadow: none;
}
.col-sm-7 img {
  margin-left: -5px;
}

}
@media (max-width: 1024px){
  .price-total-cart{
    font-size: 20px;

  }
  .price-cart{
    font-size: 20px ;
  }
  .btn-add {
   /* width: 116px;*/
  }
}

@media(max-width: 375px){
  .btn-fin-compra{
    font-size: 11px;
  }
  .btn-seguir-comprando {
    font-size: 11px;
  }
   .lista-cart{
    width: 280px;
  }
  .title-product-cart2 {
    font-size: 13px !important;
  }
  .title-product-cart {
    font-size: 13px !important;
  }
  .price-total-cart{
    font-size: 13px !important;

  }
  .price-cart {
    font-size: 13px !important;
  }
}

@media(max-width: 320px){
  .btn-add {
    /*width: 95px;*/
  }
  .title-product-cart2 {
    font-size: 13px !important;
  }
  .title-product-cart {
    font-size: 13px !important;
  }
  .price-total-cart{
    font-size: 13px !important;

  }
  .price-cart {
    font-size: 13px !important;
  }
  .lista-cart{
    width: 230px;
  }
  .btn-fin-compra{
    font-size: 11px;
  }
  .btn-seguir-comprando {
    font-size: 11px;
  }
}

:host >>> .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #778489;
}

:host >>> .select2-container--default .select2-selection--single{
  border-radius: 21.5px !important;
  border: solid 1px #cad2d5 !important;
  text-align: center !important;
  font-size: 14px !important;
  height: 40px !important;
  padding: .375rem .75rem !important;
}

:host >>> .select2-container--default .select2-selection--single{
  border-radius: 21.5px !important;
  border: solid 1px #cad2d5 !important;
  text-align: center !important;
  font-size: 14px !important;
  height: 40px !important;
  padding: .375rem .75rem !important;
}

:host >>> .select2-container--default .select2-selection--single .select2-selection__placeholder{
  color: #cad2d5 !important;

}

:host >>> .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 40px !important;
}

:host >>> .select2-container--default .select2-selection--single .select2-selection__arrow b {

  background: url("src/assets/img/icons/icon-dropdown-select2.svg") no-repeat;
  margin-left: -15px;
  height: 10px;
  width: 10px;
  border: none !important;


}

.btn-aceptar{

  border-radius: 21.5px;
background: #8be1b0 !important;
font-size: 18px;
font-weight: bold;
letter-spacing: 2px;
text-align: center;
color: #fff;
box-shadow: none !important;
padding: .70rem 7rem;
display: block;
margin: auto;
width: 100%;

}

.input-cart-login{
  border-radius: 21.5px;
  border: solid 1px #cad2d5;
  height: 40px;
  text-align:center;
  font-size: 14px;
  color: #778489;
}
.input-cart-login::-webkit-input-placeholder {
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
.input-cart-login:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
  .input-cart-login::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }
  .input-cart-login:-ms-input-placeholder {  
  text-align: center;
  font-size: 14px;
  color: #cad2d5;
  }

  .text-header-modal{
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 2px;
   color: #627075;
  }
  .padding-modal{
    padding: 20px 30px 30px 30px !important;
    border-radius: 19px !important;
  }
  .input-text-direccion{
    border: none !important;
    font-size: 15px !important;
    color: #778489 !important;

  }

  agm-map {
    height: 315px;
   }

   @media (max-width: 575.98px) { 
    .padding-modal{
      padding: 0 !important;
    }


   }

