

.input-search::placeholder{
    color: #cad2d5;
    font-weight: bold;

}

.input-search:focus {
    outline:  none !important;
  }

  .text-volver{
      font-weight: bold;
      color: #2c385f;
      margin-top: .85rem;

  }

  .mt-7{
      margin-top:7rem !important;
  }

  .input-underline {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #D9D9D9;
}

.input-underline:hover {
    border-bottom: 2px solid #777777 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.search-bar {
    min-width: 348px;
    text-indent: 30px !important;
    box-sizing: border-box;
}

.search-drop-down {
    position: absolute;
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    background-color: #F6F6F6;
    font-family: sans-serif;
    opacity: 0.98;
}

.search-results {
    padding: 10px;
}

.search-results:hover {
    background: #707070;
}

:host >>> .autocomplete-container{
    box-shadow: none !important;
}

:host >>> .autocomplete-container .input-container input {
    border-radius: 22.5px !important;
    border: solid 1px #cad2d5 !important;
    background-color: #fff !important;
    padding: .5rem .385rem !important;
    /*width: 460px !important; */
    background: url("src/assets/img/icons/icon-buscar-tienda.svg") no-repeat scroll 15px 9px !important;
   padding-left:45px !important;
   color: #778489 !important;
      }

:host >>> .autocomplete-container .suggestions-container ul li a{
    color: #778489;
    font-weight: bold;
}


@media (max-width: 575.98px) { 

    #div-volver{
        display: none;
    }

    #text-resultado-busqueda{
        text-align: center !important;
    }
}
    
  