<!--<div class="content-tienda"></div> -->
<div style="margin-top: 10%;"></div>
<div class="container mt-5 ">
  <div class="row">

    <div class="col-lg-6">
      <form [formGroup]='stateForm'>
       <ng-autocomplete
           [data]="listaSearchProducts"
           [searchKeyword]="keyword"
           placeHolder="Ingrese nombre de producto"
           (selected)='selectEvent($event)'
           [itemTemplate]="itemTemplate"
           formControlName='search' #inputComplete
           >
         </ng-autocomplete>
         <ng-template #itemTemplate let-item>
           <a [innerHTML]="item.nombre_producto"></a>
         </ng-template>
      </form>
   
     </div>
   
     <div  class="col-lg-6" id="div-volver">
   
       <a class="text-volver float-right" routerLink="/tienda" ><img class="mr-2"
           src="assets/img/icons/icon-volver-buscar.svg" />VOLVER</a>
   
     </div>

  </div>
 

</div>

<main>
  <div class="container">
    <section class="wow fadeIn mt-4">
      <div class="row pt-4 mb-5">
        <div class="col-xl-4">
          <h5 class="text-section mt-3 text-left " id="text-resultado-busqueda">RESULTADOS DE BÚSQUEDA</h5>
        </div>
        <div class="col-xl-8">
          <img src="assets/img/icons/img-section-right.svg" class="img-section" />
          <img src="assets/img/icons/img-section-right.svg" class="img-section" />
        </div>
        

      </div>



    <div class="row features-small mt-5 wow fadeIn" *ngIf="isResultadoOK">
      <div class="col-xl-3 col-lg-6 col-md-6  mb-4" *ngFor="let item of arrayTotalProductos | searchProducto: getSearchValue()" >
        <div class="card card-product">
          <div class="card-body">

            <h6 class="text-categoria">#{{item.linea_de_negocio}}</h6>
            <div class="border-description-product">
              <h6 class="text-nombre-producto">{{item.nombre_producto | titlecase}}</h6>
              <span class="btn-card color-btn-primary">{{item.presentacion | lowercase}}</span>
            <!--  <span class="btn-card color-btn-secondary">125 gr.</span> -->
              <h6 class="font-weight-bold text-price mt-2 removeHoverPrecio">S/. {{item.precio_con_igv}}</h6>

            </div>

            <img class="card-img-top" src="{{item.imagen}}"
              alt="Card image cap">
              <div class="text-center mt-3">
                <button class="btn-minus btn-sm" (click)="utilService.del(item)" [disabled]="item.cantidad < 2"><i class="fas fa-minus icon-minus"></i></button>
                <span class="span-cantidad">{{item.cantidad}}</span>
                <button class="btn-minus btn-sm" (click)="utilService.add(item)" ><i class="fas fa-plus icon-plus"></i></button>
              </div>
              <div class="text-center mt-3">
                <button type="button" class="btn btn-add-shop btn-rounded" (click)="utilService.addToCart(item)">Agregar</button>
              </div>
            <div class="text-center mt-3">
              <a routerLink="/tienda/{{item.id_pro}}" class="text-detalle">Ver detalle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </section>


  

  </div>
</main>


