/* You can add global styles to this file, and also import other style files */
/*
html,
body,
header,
.carousel {
  height: 60vh;
}
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:700,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import "assets/css/select2.min.css";
* {
  font-family: "Raleway", sans-serif;
}
.modal {
  will-change: display;
}

.modal-dialog {
  will-change: transform;
}

.custom-swal-button {
  display: none;
}

body {
  width: 100%;
  max-width: 100%;
  will-change: position;
}

body.modal-open {
  overflow: hidden !important;
  position: relative;
  height: 100%;
}

.modal-body {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.card {
  -webkit-border-bottom-right-radius: 15px !important;
  -webkit-border-bottom-left-radius: 15px !important;
  -moz-border-radius-bottomright: 15px !important;
  -moz-border-radius-bottomleft: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-radius: 0.15 0 0 0 !important;
}

.navbar {
  box-shadow: none !important;
}
.content-honey {
  padding: 0 1rem;
}

.dropdown-toggle::after {
  display: inline-block !important;
  margin-left: 0.5em !important;
  vertical-align: 0.2em !important;
  content: "" !important;
  border: solid #fff !important;
  border-width: 0 0.14em 0.14em 0 !important;
  padding: 3px !important;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
}

.border-dropdown-gray::after {
  border: solid #778489 !important;
  border-width: 0 0.14em 0.14em 0 !important;
  transform: rotate(45deg) !important;
}

.carousel-indicators .active {
  opacity: 1;
  width: 14px !important;
  height: 14px !important;
  margin-top: -2px !important;
}

.breadcrumb {
  background: transparent !important;
  color: #cad2d5 !important;
  font-weight: 700 !important;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 1.2rem !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1.5rem !important;
  color: #cad2d5 !important;
  content: "|" !important;
}

.breadcrumb-item.active {
  color: #2c385f !important;
}
.input-text-contact,
.select-contact {
  border: none !important;
  border-bottom: 1px solid #e3e8e9 !important;
  border-left: 1px solid !important;
  border-right: 1px solid !important;
  border-image: -webkit-linear-gradient(top, #fff 75%, #e3e8e9 0) 1 repeat !important;
}

.custom-select {
  background: url("assets/img/icons/icon-dropdown-formulario.svg") right 0.75rem
    center/12px 10px no-repeat #fff !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute !important;
  left: -9999px !important;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px !important;
  cursor: pointer !important;
  line-height: 20px !important;
  display: inline-block !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 1rem !important;
  height: 1rem !important;
  border: 1px solid #ddd !important;
  border-radius: 100% !important;
  background: #fff !important;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "" !important;
  width: 8px !important;
  height: 8px !important;
  background: #8be1b0 !important;
  position: absolute !important;
  top: 4px !important;
  left: 4px !important;
  border-radius: 100% !important;
  transition: all 0.2s ease !important;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0 !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
}
[type="radio"]:checked + label:after {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
}

.nav-tabs {
  border-bottom: 0 !important;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  color: #e3e8e9 !important;
  line-height: 1.27 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #2c385f !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  background-color: #fff !important;
  border-bottom: 2px solid #2c385f !important;
  line-height: 1.27 !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}

.nav-tabs .nav-link:hover {
  /*border-bottom: 2px solid #2c385f !important; 
  border-color: #fff #fff #2c385f  #fff !important; */
  border-bottom: 2px solid #2c385f !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
  display: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc {
  background: none !important;
}

.dataTables_wrapper .dataTables_info {
  display: none;
}

.table td,
.table th {
  border-top: 1px solid #f8f8f8 !important;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate {
  float: left !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  color: #fff !important;
  border-radius: 50% !important;
  background: #2c385f !important;
  font-family: Ubuntu !important;
}

@keyframes forceBlank {
  from {
    color: #fff;
  }
  to {
    color: #fff;
  }
}

@keyframes forceColorHover {
  from {
    color: #2c385f;
    background: transparent;
  }
  to {
    color: #2c385f;
    background: transparent;
  }
}

@keyframes forceColor {
  from {
    color: #cad2d5;
  }
  to {
    color: #cad2d5;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  animation: 1s linear infinite forceBlank;
  border-radius: 50% !important;
  background: #2c385f !important;
  font-family: Ubuntu !important;
  border: none !important;
}

.paginate_button .current {
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  /*background: transparent !important; */
  border: none !important;
  animation: 1s linear infinite forceColorHover;
  border-radius: 50%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box !important;
  display: inline-block !important;
  min-width: 1.5em !important;
  padding: 0.5em 1em !important;
  margin-left: 2px !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  border: none !important;
  animation: 1s linear infinite forceColor;
  font-family: Ubuntu !important;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #2b385f !important;
  }
}

.carousel-caption-slider {
  position: absolute;
  top: 30%;
  right: 20%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  max-width: 300px;
}

@media (max-width: 768px) {
  .carousel-caption-slider {
    position: absolute;
    top: 38%;
    left: 40%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    max-width: 300px;
  }
}

footer {
  position: relative !important;
}

.color-berries {
  background: #2b385f !important;
}

.btn-card {
  border-radius: 10em !important;
  margin-right: 10px;
  font-size: 0.81rem !important;
  margin: 0px 10px 0px 0px;
  padding: 1px 7px 2px;
}
.color-btn-primary {
  background-color: #f4f4f4;
  color: #778489;
  font-weight: bold;
  font-size: 13px !important;
  font-family: "Ubuntu";
  padding: 4px 10px;
  margin-left: 11px;
}
.color-btn-secondary {
  color: #cad2d5;
  font-size: 13px !important;
  font-weight: bold;
  border: 1px solid #f8f8f8;
  font-family: "Ubuntu";
  padding: 4px 10px;
}
.btn-add-shop {
  /*width: 210px;*/
  border-radius: 26.5px !important;
  font-size: 17px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
  background: #8be1b0 !important;
  color: #fff !important;
  box-shadow: none !important;
  padding: 0.54rem 2.14rem !important;
}

.border-description-product {
  border-left: solid 3px #f6f6f6;
}
.text-price {
  font-size: 18px;
  font-weight: bold;
  color: #8be1b0;
  font-family: "Ubuntu";
  margin-left: 14px;
}
.text-price:hover {
  color: #21355b !important;
}

.text-descuento {
  margin-left: 15px;
  color: #ff6b72 !important;
  font-weight: bold;
  font-size: 18px;
  font-family: "Ubuntu";
}
.btn-plus,
.btn-minus {
  width: 26px;
  height: 26px;
  display: inline-block;
  background: #f8f8f8;
  border-radius: 50% !important;
  padding: 0.1rem 0.5rem !important;
  border: none !important;
}
.icon-plus,
.icon-minus {
  color: #778489;
  font-size: 10px;
}
.pac-container {
  z-index: 1052 !important;
}

.span-cantidad {
  margin-left: 20px;
  margin-right: 20px;
  color: #778489;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Ubuntu";
  border-radius: 50% !important;
  border: 1px solid #f8f8f8;
  padding: 10px 15px;
}
.content-offer {
  width: 52px;
  height: 51px;
  background: #ff6b72;
  position: absolute;
  right: 8%;
  border-radius: 0px 0px 9px 9px;
  color: #fff;
}
.text-content-offer-primary {
  margin-top: 9px;
  font-size: 16px;
  display: block;
  padding-top: 1px;
  font-family: "Ubuntu";
  font-weight: bold;
}
.text-content-offer-secondary {
  display: block;
  padding-bottom: 1px;
  font-size: 10px;
  font-weight: bold;
  margin-top: -2px;
}
.text-section {
  font-size: 18px !important;
  font-weight: bold;
  letter-spacing: 2px;
  color: #627075;
  font-weight: 500;

  font-stretch: normal;

  font-style: normal;

  line-height: normal;

  letter-spacing: 1.95px;
}

.card-product {
  min-width: 270px !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.12) !important;
}

.mt-6,
.my-6 {
  margin-top: 4rem !important;
}
.mt-7,
.my-7 {
  margin-top: 5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 6rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 4rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 6rem !important;
}

.row-prices {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-top: 13px;
  /* margin-left: -15px; */
}
.icon-double-angle {
  width: 12px;
  height: 12px;
}

@media (max-width: 475px) {
  .encabezado-secundario {
    font-size: 22px !important;
  }
  .title-honey {
    text-align: center !important;
  }
  .title-honey2 {
    text-align: center !important;
  }
  .content-honey {
    text-align: center !important;
  }
  #margin-icon-derecha {
    display: none;
  }
  #margin-icon {
    display: none;
  }
}

@media (max-width: 776px) {
  .img-slider {
    height: 350px !important;
  }
}

.carousel-caption-second-caru {
  position: absolute;
  right: 15%;
  left: 12%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  width: 34%;
  top: 2%;
  max-width: 400px;
}

.encabezado-principal {
  font-size: 150px !important;
  color: #fff !important;
  font-weight: bold;
}
.encabezado-secundario {
  font-size: 30px !important;
  font-weight: 600 !important;
  line-height: 1 !important;
  color: #fff !important;
}

.btn-carousel {
  width: 284px;
  border-radius: 26.5px !important;
  background-color: #ffc359 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  letter-spacing: 1.67px;
  text-align: center;
  color: #fff !important;
  padding: 1.3rem 0.75rem !important;
  box-shadow: none !important;
}

.btn-carousel-dos {
  width: 284px;
  border-radius: 26.5px !important;
  background-color: #ffc359 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  letter-spacing: 1.67px;
  text-align: center;
  color: #fff !important;
  margin-top: 2rem !important;
  box-shadow: none !important;
  padding: 1.1rem 0.75rem !important;
  cursor: pointer;
}

.ground-black {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.spacing-right {
  padding-right: 5rem !important;
}
.spacing-left {
  padding-left: 5rem !important;
}

.title-second-carousel {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.subtitle-second-carousel {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  color: #fff;
  margin-top: 3.5rem;
}
.content-second-carousel {
  margin-top: 1rem;
  font-size: 20px !important;
  font-weight: 500 !important;
}

/*PRODUCTOS*/
.text-categoria {
  font-size: 18px;
  font-weight: bold !important;
  color: #cad2d5;
}

.text-nombre-producto {
  max-width: 250px;
  font-size: 19.5px;
  font-weight: bold !important;
  line-height: 1.2;
  color: #717577;
  margin-left: 11px;
}

.slide-item .text-nombre-producto {
  height: 49.33px;
}

.text-detalle {
  color: #cad2d5;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .col-xl-carousel-caption {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
.content-caption {
  max-width: 300px;
}

.title-honey {
  color: #778489;
  font-size: 20px;
  text-align: right;
  font-weight: 700;
}

.title-honey2 {
  color: #778489;
  font-size: 20px;
  text-align: left;
  font-weight: 700;
}

.content-honey {
  color: #cad2d5;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}
.btn-prod-blog {
  background: #fff;
  padding: 0.4rem 1.7rem;
  font-size: 18px;
  margin: 0.375rem;
  border: solid 2px #8be1b0;
  border-radius: 26.5px;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  color: #8be1b0;
  font-weight: bold;
}

.content-ground-product {
  height: 68%;
}

.subcontent-ground-product {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.content-ground-product-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.encabezado-product {
  font-size: 64px;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.header-tienda {
  height: 18%;
}

@media (max-width: 375px) {
  .btn-prod-blog {
    background: #fff;
    padding: 0.4rem 1.7rem;
    font-size: 11px !important;
    margin: 0.375rem;
    border: solid 2px #8be1b0;
    border-radius: 26.5px;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    color: #8be1b0;
    font-weight: bold;
  }
  .content-honey {
    text-align: center !important;
  }
  .title-honey {
    text-align: center;
  }
  .title-honey2 {
    text-align: center;
  }

  #margin-icon-derecha {
    display: none;
  }
}

@media (max-width: 776px) {
  .header-tienda {
    display: none;
  }

  .img-section {
    display: none;
  }

  .content-ground-product {
    height: 40%;
  }

  .encabezado-product {
    text-align: center;
    font-size: 45px;
  }
}

.card-img-top {
  /*width: auto !important;*/
  height: 230px !important;
  object-fit: contain;
  display: block !important;
  margin: auto !important;
}

.title-cart-descuento {
  font-size: 18px;
  font-weight: 500;
  color: #ffc359;
}
.price-cart-descuento {
  font-size: 24px;
  font-weight: bold;
  color: #ffc359;
}

.input-good-descuento {
  border-radius: 9px !important;
  border: solid 1px#8be1b0 !important;
  color: #8be1b0 !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.input-descuento {
  border-radius: 9px !important;
  border: solid 1px #ff6970 !important;
  color: #ff6970 !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.text-good-cupon {
  font-size: 10px;
  font-weight: 800;
  color: #8be1b0;
  text-transform: uppercase;
}

.text-error-cupon {
  font-size: 10px;
  font-weight: 800;
  color: #ff6970;
  text-transform: uppercase;
}

.desactivo {
  border: 1px solid #e3e8e9 !important;
  background: #e3e8e9 !important;
  color: #b8c3c8 !important;
}

.btn-cart-login:disabled {
  background: #cad2d5 !important;
}

.modal-dialog .modal-content {
  padding: 20px 30px 30px 30px !important;
  border-radius: 19px !important;
}

@media (max-width: 575.98px) {
  .ocultarEnMovilGeneral {
    display: none !important;
  }

  .mostrarrEnMovilGeneral {
    display: block !important;
  }

  .card-img-top {
    height: auto !important;
  }
}

#overlay-spinner {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #8be1b0 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

.is-hide {
  display: none;
}

.cardBerries {
  border-radius: 15px !important;
  box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.12) !important;
}

.imgCardData {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ngx-pagination {
  padding: 0 !important;
}

a:hover {
  color: #2c385f !important;
}

.removeHoverPrecio:hover {
  color: #8be1b0 !important;
}

.generoInputSelect {
  text-align: center !important;
  text-align-last: center;
  color: #ced4da;
  border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
}

.text-descuento {
  font-family: "Ubuntu", sans-serif !important;
}

.text-price {
  font-family: "Ubuntu", sans-serif !important;
}

.removeHoverPrecio {
  font-family: "Ubuntu", sans-serif !important;
}

.removeHoverPrecio del {
  font-family: "Ubuntu", sans-serif !important;
}

.radioLimpio:checked,
.radioLimpio:not(:checked) {
  position: relative !important;
  left: 0px !important;
}

.swal2-styled.swal2-confirm {
  width: 202px !important;
  border-radius: 21.5px !important;
  background-color: #8be1b0 !important;
  font-weight: bold !important;
}

.swal2-styled.swal2-confirm div {
  width: auto !important;
}

ul.menu li a:hover {
  color: #fff !important;
}

.paginate_button.current {
  color: white !important;
}

.swal2-styled.swal__button {
  width: 100% !important;
  font-weight: bold !important;
  display: block;
  border-radius: 999px !important;
}

.swal-content > * {
  margin: 0 !important;
  padding: 0 !important;
}

.swal-content {
  margin: 0 !important;
  padding: 0 !important
  ;
  position: relative;
}

.swal-content .swal2-popup {
  overflow: hidden !important;
  border-radius: 15px !important;
  margin: 0 2rem !important;
}

.swal-content .swal2-header {
  padding: 0;
}

.swal-content .swal2-actions {
  margin: 0 !important;
}

.swal-content .swal2-actions .swal2-confirm {
  margin-top: -120px !important;
  box-shadow: none !important;
  margin-left: auto;
  margin-right: 2rem;
  display: none;
}

.swal-content img {
  top: 0;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  object-fit: cover;
}
.custom-swal-button {
  margin: 0 !important;
}

.cancel-button {
  position: absolute;
  right: 5px;
  margin: 0 !important;
  padding: 1rem !important;
  font-weight: bold !important;
  margin-top: 0 !important;
  color: #cbd4d8 !important;
  box-shadow: none !important;
  top: 10px;
  background: transparent !important;
}
