.card-detail-product{
    border-radius: 15px;
    box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.12);
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -11%;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.pt-9-5{
    padding-top: 9.5rem!important;
}

.carousel .carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #8be1b0;
    width: 18px !important;
    height: 18px !important;
    margin-top: 0px !important;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    background-color: #cad2d5;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
}

.title-detail-product{
    font-size: 36px;
    font-weight: bold;
    color: #717577;
}

.btn-card-detail {
    width: 100px;
    height: 31px;
    border-radius: 15.5px;
    font-size: 20px !important;
    background-color: #f4f4f4;
    padding-top:2px;
}
.color-btn-primary {
    color: #778489;
    font-weight: bold;
    text-align: center;
}
.title-price-detail{
    font-size: 25px;
    color: #8be1b0;
    font-family: 'Ubuntu';
    font-weight: 500;
}
.text-tabla-nutricional{
    font-weight: bold;
    color: #8be1b0;
    cursor: default;

}


.img-product-detail{
    margin-top:2.2rem;
}

.mt-table-nutri{
    margin-top: .85rem!important;
}
.text-caracteristicas{
  font-size: 14px;
  font-weight: bold;
  color: #717577;
  text-transform: uppercase;
}
.list-caracteristicas{
    font-size: 15px;
    margin-right: 130px;
    font-weight: 500;
    line-height: 1.53;
    color: #cad2d5;
    margin-left:-23px;
}
.btn-add-shop-detail{
    width: 381px;
    border-radius: 26.5px !important;
    letter-spacing: 2px;
    background: #8be1b0 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
    box-shadow: none !important;
    padding: .50rem 2.14rem !important;
}
.content-offer-detail{
    width: 78px;
    height: 77px;
    background: #ff6b72;
    position: absolute;
    z-index: 1;
    left: 90%;
    border-radius: 0px 0px 9px 9px;
    color: #fff;
}
.text-content-offer-primary-detail{
    margin-top: 13px;
    font-size: 27px;
    display: block;
    padding-top: 1px;
    font-family: 'Ubuntu';
    font-weight: bold;
}
.text-content-offer-secondary-detail{
    display: block;
    padding-bottom: 1px;
    font-size: 15px;
    font-weight: bold;
    margin-top:-6px;
}
.img-product-biodegradable , .img-product-natural{
    position: absolute;
    left: 89%;
    top: 20%;
    z-index: 1;
}

.img-product-natural{
    top: 43%;
}

.tabla-valor{
 display: none;
 position: absolute;
 top:25%;
 left:34%;
 z-index: 5000;

}
.btn-add-shop{
    width: 100%!important;
    margin-left: 0px;
    margin-right: 0px;
}

.sellos-container{
    display:flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: 90%;
    top:80px;
}

.sellos-container img{
    margin-top:10px;
}

/*
.text-tabla-nutricional:hover + .tabla-valor{
    display: block;
   
}*/
table{
    border-radius: 6px;
  border: solid 1px #e3e8e9;
  color: #b8c3c8;
 
}
table thead th  , table tfoot td{
    border: solid 1px #e3e8e9;
    padding: .95rem;

}
table tbody td{
    border-right: solid 1px #e3e8e9;
    padding: .85rem;

}

.title-info-nutri{
    letter-spacing: 2.8px;
    color: #b8c3c8;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

#cant-detail-product{

    margin-left: 3%;
}

@media screen and (max-width: 776px){

    .img-fluid{
        max-width: 70%;
    }

    .content-offer-detail  {

        left: 72%;
        
    }

    .list-caracteristicas{
        margin-right:0
    }

    .img-product-biodegradable{
        left: 68% !important;
        width: 100px;
        top:10%;
    }

    .img-product-natural{
        left: 68% !important;
        top: 25%;
        width: 100px;
    }

    .title-detail-product{
        text-align: center;
    }

    #cant-detail-product{

        margin-left: 31%;
        margin-bottom: 15px;

    }
    

    #button-detail-product{
        margin:auto;

    }
    .tabla-valor{
        display: none;
        position: absolute;
        top:28%;
        left:0%;
        z-index: 5000;
       
    }
    
    .sellos-container{
        flex-direction: row;
        position: absolute;
        left:10px;
        top:10px;
        
    }
    .sellos-container img{
        margin-top:0;
        margin-left:4px
    }
    
 

}







@media (max-width: 470px){

    
    .img-product-biodegradable{
        margin-top: 5px!important;
    }

    .img-product-natural{
        margin-top: 5px!important;
    }


.btn-add-shop-detail{
    width: 270px;
    border-radius: 26.5px !important;
    letter-spacing: 2px;
    background: #8be1b0 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
    box-shadow: none !important;
    padding: .50rem 2.14rem !important;
}

.img-product-biodegradable{
    left: 23% !important;
    top: 1%;
    width: 15%;
}

.img-product-natural{
    
    left: 5% !important;
    top: 1%;
    width: 15%;
}
.title-price-detail{

    /*margin-top: -30px;*/
    margin-left: 25%;
}
.img-fluid{
    max-width: 100%;
    margin-top: 19%;
}
.tabla-valor{
    display: none;
    position: absolute;
    top:28%;
    left:0%;
    z-index: 5000;
   
   }
}

@media (max-width: 411px){
.btn-add-shop-detail{
    width: 270px;
    border-radius: 26.5px !important;
    letter-spacing: 2px;
    background: #8be1b0 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
    box-shadow: none !important;
    padding: .50rem 2.14rem !important;
}

.img-product-biodegradable{
    left: 23% !important;
    top: 1%;
    width: 15%;
}

.img-product-natural{
    
    left: 5% !important;
    top: 1%;
    width: 15%;
}
.tabla-valor{
    display: none;
    position: absolute;
    top:28%;
    left:0%;
    z-index: 5000;
   
   }
   .sellos-container img{
    width: 48px;
}

}

@media (max-width: 1024px){

    .img-product-biodegradable{
        left: 85%;
    }
    .img-product-natural{
        left: 85%;
    }


}
