<!--<div class="content-tienda"></div> -->

<main style="margin-top: 10%;">
  <div class="container">
    <section class="wow fadeIn">
      <div class="row mt-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/tienda" style="color: #cad2d5 !important;">Tienda</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/productos/{{ nombreCategoriaLink }}"
                style="color: #cad2d5 !important;">{{ nombreCategoria | titlecase }}</a>
            </li>
            <li class="breadcrumb-item active">
              {{ nombreProducto | titlecase }}
            </li>
          </ol>
        </nav>
      </div>

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-12 col-md-12">
          <!--Panel-->
          <div class="card card-detail-product">
            <div class="content-offer-detail text-center" *ngIf="isProductoPromocion">
              <span class="text-content-offer-primary-detail">{{ porcentajeDescuento }} % </span><span
                class="text-content-offer-secondary-detail">DSCTO.</span>
            </div>
            <!-- Sellos -->
            <div class="sellos-container">
              <img *ngFor="let sello of sellos" src="{{ sello[1] }}" alt="sello"
                srcset="{{sello[0]}} 91w, {{sello[1]}} 61w" sizes="(max-width: 1024px) 60px, 90px" />
            </div>

            <div class="card-body" style="min-height: 500px;">
              <div class="row">
                <div class="col-lg-4">
                  <img src="{{ imagen }}" class="img-fluid img-product-detail" />
                </div>
                <div class="col-lg-8 mt-5" *ngFor="let item of listDetail">
                  <div style="border-left: solid 3px #f6f6f6; padding-left: 25px;">
                    <h1 class="title-detail-product">
                      {{ item.nombre_producto | titlecase }}
                      {{ item.presentacion | titlecase }}
                    </h1>
                    <div class="row mt-4" style="margin-left: 0.12rem !important;">
                      <h6 *ngIf="item.precio_con_igv != item.nuevo_precio"
                        class="font-weight-bold text-price mt-2 removeHoverPrecio" style="margin-bottom: 0px;">
                        <del>S/. {{ item.precio_con_igv }}</del>
                      </h6>
                      <h6 *ngIf="item.precio_con_igv == item.nuevo_precio" class="title-price-detail mr-4">
                        S/. {{ item.nuevo_precio | titlecase }}
                      </h6>
                      <h6 *ngIf="item.precio_con_igv != item.nuevo_precio"
                        class="title-price-detail text-descuento mr-4">
                        S/. {{ item.nuevo_precio | titlecase }}
                      </h6>
                      <!--<h6 class="text-tabla-nutricional mt-2" style="cursor: pointer;" (click)="mostrarTabla()"><img src="assets/img/icons/icon-tabla-tradicional.svg"
                          class="mb-1 mr-1" />Tabla nutricional</h6>-->
                      <div id="contentTablaNutricional" class="card card-body tabla-valor">
                        <h6 class="title-info-nutri">
                          Informaci&oacute;n nutricional
                        </h6>
                        <table>
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col" class="text-right">
                                1 taza 140 gr.
                              </th>
                              <th scope="col" class="text-right">
                                %VD Valores diarios
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of listaCalorias">
                              <td>{{ item.calorias }}</td>
                              <td class="text-center">{{ item.gramos }}</td>
                              <td class="text-center">{{ item.vd }}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="3" class="text-center">
                                Ingredientes: {{ ingredientes }}
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3" style="color: #8be1b0;" class="text-center">
                                <span (click)="ocultarTabla()" style="cursor: pointer;"><i class="fa fa-times"></i>
                                  Cerrar</span>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                    <h6 class="text-caracteristicas mt-4">Características:</h6>
                    <ul class="list-caracteristicas">
                      <li *ngFor="let carac of caracteristicas">{{ carac }}</li>
                    </ul>
                  </div>

                  <div class="row" [class.pt-9-5]="caracteristicas[0] == 'Sin Características'">
                    <div class="text-left mt-3 mr-4" id="cant-detail-product">
                      <button class="btn-minus btn-sm" (click)="utilService.del(item)" [disabled]="item.cantidad < 2">
                        <i class="fas fa-minus icon-minus"></i>
                      </button>
                      <span class="span-cantidad">{{ item.cantidad }}</span>
                      <button class="btn-minus btn-sm" (click)="utilService.add(item)">
                        <i class="fas fa-plus icon-plus"></i>
                      </button>
                    </div>
                    <div class="text-center" id="button-detail-product">
                      <button type="button" class="btn btn-add-shop-detail btn-rounded"
                        (click)="utilService.addToCart(item)">
                        Agregar al carrito
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wow fadeIn">
      <div class="row mt-6">
        <div class="col-xl-2">
          <img src="assets/img/icons/img-section-short.svg" class="img-section" />
        </div>
        <div class="col-xl-4">
          <h5 class="text-section mt-3 text-center">PRODUCTOS RELACIONADOS</h5>
        </div>

        <div class="col-xl-6" style="float: right;">
          <img src="assets/img/icons/img-section-short.svg" class="img-section" />
          <img src="assets/img/icons/img-section-right.svg" class="img-section" />
        </div>
      </div>

      <div class="container">
        <!--Carousel Wrapper-->
        <div id="products-relation" class="carousel slide carousel-multi-item mt-4" data-ride="carousel">
          <!--Indicators-->
          <ol id="olProductosRelacionadosIndicator" class="carousel-indicators pt-4">
            <li data-target="#products-relation" [attr.data-slide-to]="i" [ngClass]="{ active: isFirst }" *ngFor="
                let item of slidesProductsRelation;
                let i = index;
                first as isFirst
              "></li>
          </ol>
          <!--/.Indicators-->
          <div style="
              position: absolute;
              top: 43%;
              transform: rotate(-180deg);
              z-index: 1;
              left: -2%;
            ">
            <a href="#products-relation" data-slide="prev"><img src="assets/img/icons/icon-slider-tienda.svg"
                style="height: 20px !important;" /></a>
          </div>
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item" [ngClass]="{ active: isFirst }" *ngFor="
                let item of slidesProductsRelation;
                let i = index;
                first as isFirst
              ">
              <div class="row px-1 pt-3" style="
                  padding-left: 20px !important;
                  padding-right: 20px !important;
                ">
                <div class="col-xl-3 col-lg-6 col-md-6 mb-4 slide-item"
                  *ngFor="let card of item; let cardIndex = index">
                  <div class="card cardBerries">
                    <div class="card-body">
                      <h6 class="text-categoria">
                        #{{ card.linea_de_negocio }}
                      </h6>
                      <div class="border-description-product" style="margin-bottom: 20px;">
                        <h6 class="text-nombre-producto" style="margin-bottom: 0px;">
                          {{ card.nombre_producto | titlecase }} <br />
                          {{ card.presentacion | titlecase }}
                        </h6>
                        <div class="row-prices">
                          <h6 *ngIf="card.precio_con_igv != card.nuevo_precio"
                            class="font-weight-bold text-price mt-2 removeHoverPrecio" style="margin-bottom: 0px;">
                            <del>S/. {{ card.precio_con_igv }}</del>
                          </h6>
                          <h6 *ngIf="card.precio_con_igv != card.nuevo_precio"
                            class="font-weight-bold text-descuento mt-2" style="margin-bottom: 0px;">
                            S/. {{ card.nuevo_precio }}
                          </h6>
                          <h6 *ngIf="card.precio_con_igv == card.nuevo_precio"
                            class="font-weight-bold text-price removeHoverPrecio mt-2" style="margin-bottom: 0px;">
                            S/. {{ card.precio_con_igv }}
                          </h6>
                        </div>
                      </div>
                      <div [style.backgroundImage]="'url(' + card.imagen + ')'" class="imgCardData"></div>
                      <div class="text-center mt-3">
                        <button class="btn-minus btn-sm" (click)="utilService.del(card)" [disabled]="card.cantidad < 2">
                          <i class="fas fa-minus icon-minus"></i>
                        </button>
                        <span class="span-cantidad">{{ card.cantidad }}</span>
                        <button class="btn-minus btn-sm" (click)="utilService.add(card)">
                          <i class="fas fa-plus icon-plus"></i>
                        </button>
                      </div>
                      <div class="text-center mt-3">
                        <button type="button" class="btn btn-add-shop btn-rounded"
                          (click)="utilService.addToCart(card)">
                          Agregar
                        </button>
                      </div>
                      <div class="text-center mt-3">
                        <a href="javascript:void(0)" (click)="redirectOtherProduct(card.id_pro)"
                          class="text-detalle">Ver detalle</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="
              position: absolute;
              top: 43%;
              z-index: 1;
              right: -2%;
            ">
            <a href="#products-relation" data-slide="next"><img src="assets/img/icons/icon-slider-tienda.svg"
                style="height: 20px !important;" /></a>
          </div>

          <!--/.Slides-->
        </div>
      </div>
      <!--/.Carousel Wrapper-->
    </section>
    <app-complementos></app-complementos>
  </div>
</main>