.text-blog{
  font-family: Raleway;
  font-size: 64px;
  font-weight: 800;
  color: #778489; 
}

div.cover .img-blog {
  object-fit: cover;
  width: 696px;
  height: 350px;
  margin-bottom: 3rem;

}

.subtitle-text-blog{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.87px;
  color: #778489;
}

.input-text-blog{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 22.5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.13);
    border:none;
}

.input-text-blog::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cad2d5;
    opacity: 1; /* Firefox */
  }

  .btn-blog {
    padding: .5rem 1.5rem;
    font-size: .9rem;
    margin: .5rem;
    border-radius: 22.5px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    border: solid 1px #cad2d5;
    color: #cad2d5;
    font-weight: bold;
    outline: none;
    background: transparent;
}

.btn-blog:hover{

  border: solid 1px #cad2d5;
  background-color: #cad2d5;
  color: #fff;
  transition: .35s;

}

.field-icon {
  float: right;
  margin-right: 20px;
  margin-top: -30.5px;
  position: relative;
  z-index: 2;
  }

  
  .hashtag {
    position: absolute;
    top: 18px;
    left: 16px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
  }

  .title-article{
    position: absolute;
    top: 175px;
    left: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
    max-width: 310px;
    line-height: 0.95;
  }

  .enlace-article{
    position: absolute;
    top: 310px;
    left: 16px;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1.67px;
    color:#fff;
    margin-left: 20px;

  }

  .icon-leermas-blog{
    margin-top: -3px;
    margin-left: 3px;
  }

 
 
  .active-blog {
    border: solid 1px #cad2d5;
    background-color: #cad2d5;
    color: #fff;
  }
  .normal{
    border: none;
    background: #fff !important;

  }

  #section-mobile{
    display: none;
  }

  

 


  @media (max-width: 575.98px) { 

    div .cover {
      padding-left: 0px;
      padding-right: 0px;
    }

    .hashtag{
      margin-left: 10px;
    }

    div.cover .img-blog {
      width: 382px;
      height: 250px;
      margin-bottom: 1.5rem;
  }

  .title-article{
    position: absolute;
    top: 130px;
    left: 16px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    max-width: 410px;
  }

  .enlace-article {
    position: absolute;
    top: 220px;
    left: 16px;
    margin-left: 12px;
}

 #section-desktop{
   display: none;
 }

 #section-mobile{
   display: block;
 }

 .btn-filtro-mobile{
  padding: .5rem .95rem;
  font-size: 1rem;
  margin: .5rem;
  border-radius: 22.5px;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  border: solid 2px #cad2d5;
  color: #cad2d5;
  font-weight: bold;
  outline: none;
  background: transparent;
 }

 .btn-filtro-mobile-active{
   background:#cad2d5;
   color: #fff;
 }

 .label-limpiar-filtro{
  color: #acb6bb;
  font-weight: bold;
  margin-top: 1.3rem;
 }

 .btn-aceptar-blog-mobile{

    padding: .5rem 1.5rem;
    font-size: .9rem;
    margin: .5rem;
    border-radius: 22.5px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
    background-color: #8be1b0;
    width: 92%;

 }



    

}


:host >>> .ngx-pagination .current{
  background: #2c385f;
  font-family: Ubuntu;
  font-weight: bold;
  border-radius: 50%;
  font-size: 14px;
  padding: 0.155rem 0.555rem;
}

:host >>> .ngx-pagination .pagination-previous.disabled::before{
  display: none;
}

:host >>> .ngx-pagination .pagination-next.disabled::after{

  content: url("/assets/img/icons/icon-next-datatable.svg");
  position: absolute;
  margin-top: -0.65rem;

}
