<!--<div class="content-tienda"></div> --> 
<main style="margin-top: 10%;">
    <section id="section-desktop">
        <div class="container">
            <div class="mt-5">
                <div class="col-xl-12">
                    <h5 class="text-blog mt-3 text-center ">Berries Lifestyle</h5>
                </div>
                <div class="col-xl-12">
                    <h5 class="subtitle-text-blog mt-3 text-center ">Bienvenido a nuestro blog</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12 col-md-12 mb-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 ">
                            <div class="form-group">
                            <input type="text" class="form-control input-text-blog" name="searchName" [(ngModel)]="searchName" placeholder="BUSCAR ARTÍCULO"> 
                              
                                <span class="field-icon toggle-password"><img src="assets/img/icons/icon-buscar-articulo.svg" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8 offset-lg-3" >
                            <button class="btn-blog" *ngFor="let item of arrayCategories.slice(1)"  (click)="filtro($event , item.name)">#{{item.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-mobile" class="my-4">
        <div class="row">
            <div class="container">
            <div class="col-12">
                <div class="form-group">
                <input type="text" class="form-control input-text-blog" name="searchName" [(ngModel)]="searchName" placeholder="BUSCAR ARTÍCULO"> 
                  
                    <span class="field-icon toggle-password"><img src="assets/img/icons/icon-buscar-articulo.svg" /></span>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button class="btn-filtro-mobile"  id="btn-filtro-1" data-toggle="modal" data-target="#modal-filtro-mobile" style="text-transform: capitalize !important;"> <img src="assets/img/icons/icon-filtro-mobile.PNG" id="img-mobile-active" />Filtrar</button>
               <!--<button class="btn-filtro-mobile" style="text-transform: capitalize !important;"> <img src="assets/img/icons/icon-buscar-mobile.svg"  /> Buscar</button>-->
            
               <label  class="label-limpiar-filtro" (click)="limpiarFiltro()">Limpiar filtro</label>
            </div>
            <!--<div class="col-4">
            </div>-->
        </div>
    </section>
    <section  class="wow fadeIn mb-5">
        <div class="container">
            <div class="col-lg-12">
                <div class="row mb-5" >
               <div *ngIf="(arrayArticles | filter: searchName).length === 0">
                       <p id="titleContextData" class="title-honey">Cargando noticias...</p> 
                      </div>
                        <div [attr.data-blog]="item._embedded['wp:term']['0']['0'].name" *ngFor="let item of arrayArticles | filter:searchName | paginate: { itemsPerPage: 10, currentPage: p };let i = index" [ngClass]="{'col-lg-8': i%6 === 0 , 'col-lg-4': (i % 1 === 0 && i%6 != 0)}" class="contenedor-blog cover">
                                <img src="{{item._embedded['wp:featuredmedia']['0'].source_url}}" class="img-fluid ground-black img-blog" alt="Responsive image"> 
                                <div class="hashtag"># {{item._embedded['wp:term']['0']['0'].name}}</div>
                                <div class="title-article">{{item.title.rendered}}</div>
                                <div class="enlace-article"><a routerLink="/blog/{{item.id}}/{{item.slug}}" class="text-white">LEER MÁS <img src="assets/img/icons/icon-leermas-blog.svg" class="icon-leermas-blog" /></a></div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row justify-content-center my-6">
        <pagination-controls (pageChange)="p = $event"  previousLabel="" nextLabel=""></pagination-controls>
    </div>
</main>

<!-- Modal Filtro Mobile -->
<div class="modal fade" id="modal-filtro-mobile" tabindex="-1" role="dialog" aria-labelledby="modal-filtro-mobile"
  aria-hidden="true">

  <div class="modal-dialog modal-sm" role="document" style="top: 12%;">
    <div class="modal-content" style="padding:0px !important;width: 70%">

      <div class="modal-body">
        <button class="btn-blog" *ngFor="let item of arrayCategories.slice(1)"  (click)="filtro($event , item.name)">#{{item.name}}</button>

        <button class="btn-aceptar-blog-mobile" data-dismiss="modal" (click)="okFiltros()">OK</button> 
      </div>
    </div>
  </div>
</div>
<!-- Cerrando Filtro Modal Mobile -->